.profile-page {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 200px 2.6rem 50px;
  flex-wrap: wrap;
}
.edit-profile-wrap {
  background: #ffffff;
  border: 1px solid #bbbcbc;
  box-sizing: border-box;
  padding: 66px 88px;
  width: 1220px;
  min-height: 785px;
}
.edit-profile-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
.edit-profile-block {
  display: flex;
}
.profile-avatar-load-img {
  background-color: #f9f9f9;
  height: 134px;
  width: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c3c4c4;
  border-radius: 68px;
  --skin-color: #c4c4c4;
  cursor: pointer;
  position: relative;
  border-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.input-file-user-avatar {
  display: none;
}
.hide-border.profile-avatar-load-img,
.hide-border.profile-avatar-load-img:hover {
  border-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.profile-avatar-load-img:hover {
  background-color: #f9f9f9;
  border: 1px solid #20a6b8;
  --skin-color: #0099ae;
}
.profile-avatar-load-img svg {
  width: 43px;
  height: 35px;
}
.edit-profile-left {
  margin-top: 31px;
  margin-right: 88px;
}
.edit-profile-edit-avatar {
  width: 36px;
  height: 36px;
  background: #0099ae;
  box-shadow: 4px 3px 10px rgb(0 0 0 / 15%);
  border-radius: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 9px;
  right: -8px;
}
.profile-page-input {
  width: 570px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #bbbcbc;
  border-radius: 5px;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  padding-left: 24px;
  display: flex;
  align-items: center;
  position: relative;
}
.profile-page-input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: transparent;
}
.profile-page-input:focus::placeholder {
  color: #bbbcbc;
}
.profile-page-select {
  height: 38px;
  width: 600px;
  cursor: pointer;
}
.gender-arrow-icon {
  width: 10px;
  position: absolute;
  right: 27px;
  height: 6px;
  --skin-color: #6f6f6f;
}
.gender-arrow-icon-up {
  transform: rotate(180deg);
}
.profile-page-input:hover {
  border-color: #000;
}
.profile-page-input:focus {
  color: #000;
  border-color: #0099ae;
}
.profile-page-input:focus.auth-page-input-error {
  border-color: #ff0000;
}
div.profile-page-input {
  cursor: pointer;
}
.edit-profile-right {
  margin-top: 16px;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 5px;
}
.form-group label {
  width: 100%;
  //   color: #999999;
  //   margin: 5px 0 1px;
  //   position: absolute;
  //   top: calc(50% - 6px);
  //   font-size: 14px;
  //   padding-left: 24px;
  //   transition: all ease 0.2s;
  //   transform: translateY(-45%);
  //   pointer-events: none;
  //   margin: 5px 0 1px;
  color: #999999;
  font-size: 10px;
  line-height: 19px;
}
.input-gender-list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  top: 62px;
  z-index: 1;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 600px;
  align-content: flex-start;
}
.input-gender-list-item {
  width: 100%;
  letter-spacing: 0.16px;
  color: #c4c4c4;
  align-self: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 0 10px 24px;
  text-align: left;
}
.input-gender-list-item:hover {
  color: #000;
  background: #f9f9f9;
}
.input-gender-list-item-active {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #f9f9f9;
}
// .profile-page-input:focus ~ label,
// label.edit-profile-label-fixed {
//   transform: translateY(0);
//   font-size: 0.64706rem;
//   top: -23px;
//   padding-left: 0;
// }
.connect-social {
  margin-top: 19px;
}
.connect-social-title {
  font-size: 16px;
  line-height: 22px;
  color: #848484;
  margin-bottom: 18px;
}
.connect-social-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bbbcbc;
  align-items: center;
  position: relative;
  max-width: 600px;
}
.connect-social-item:last-child {
  border-bottom: 1px solid #bbbcbc;
}
.connect-social-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding: 16px 0 19px;
}
.connect-social-btn {
  width: 93px;
  height: 26px;
  background-color: #0099ae;
  border-radius: 20.5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}
.connect-social-btn:focus {
  background-color: #0099ae;
}
.connect-social-item img {
  margin: 0 37.5px;
}
.save-btn-wrap {
  width: 100%;
  margin-top: 53px;
  display: flex;
  justify-content: center;
}
.save-btn {
  width: 143px;
  height: 39px;
  background: #0099ae;
  backdrop-filter: blur(4px);
  border-radius: 29.5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #ffffff;
  cursor: pointer;
}
// Error custom animation
.animation-block-wrap {
  width: 100%;
}
.animation-block {
  height: 14px;
  animation-duration: 0.7s;
  animation-name: slideinblock;
  animation-fill-mode: forwards;
}
.animation-block.start-animation {
  height: 14px;
  animation-duration: 0.7s;
  animation-name: slideOutblock;
  animation-fill-mode: forwards;
}
@keyframes slideinblock {
  from {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 1;
  }
  50% {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0;
  }
  to {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
  }
}
@keyframes slideOutblock {
  from {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
  }
  50% {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0;
  }
  to {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 1;
  }
}
// Error validation
.auth-page-input-error {
  background-image: url("/img/app/layout/alert-triangle-1.svg");
  background-position: right 21px center;
  background-repeat: no-repeat;
  background-size: 18px;
  border-color: #ff0000;
}
.auth-page-input-error.auth-page-input-error-first {
  background: initial;
  border-color: #0099ae;
}
.auth-page-text-error {
  font-size: 10px;
  line-height: 14px;
  color: #ff0000;
  margin: 5px 0 0 0;
  height: 14px;
  width: 100%;
}
.auth-page-input-error ~ label {
  top: calc(50% - 16px);
}
.auth-page-input-error ~ label.edit-profile-label-fixed {
  top: -23px;
}

//
//
//
//
//
//
//
//
//
//
//
// animation spenner
.sk-fading-circle {
  width: 40px;
  height: 40px;
  transform: scale(0.5);
  position: absolute;
  right: -50px;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
