<template>
    <div class="profile-page">
        <ChannelsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                Add Channel
            </div>
            <div class="edit-profile-block">
                <div class="edit-profile-right">
                    <div class="user-data">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" v-model="data.name" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input id="title" v-model="data.title" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" v-model="data.description" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="background-url">background Url</label>
                            <input id="background-url" v-model="data.backgroundUrl" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="facebook-link">Facebook Link</label>
                            <input id="facebook-link" v-model="data.facebookLink" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="instagram-link">Instagram Link</label>
                            <input id="instagram-link" v-model="data.instagramLink" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="twitter-link">Twitter Link</label>
                            <input id="twitter-link" v-model="data.twitterLink" type="text" class="profile-page-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="save-btn-wrap">
            <button class="save-btn" @click="send">Save</button>
            <br>
            <br>
            <a v-if="channelLink" :href="channelLink">go to channel</a>
            <br>
            <br>
            <div>{{ statusText }}</div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import ChannelsMenu from './menu'


    export default {
        name: 'AddChannel',
        components: {
            ChannelsMenu
        },
        data() {
            return {
                data: {
                    name: 'channelName',
                    title: 'Test title channel',
                    description: 'Test description channel',
                    backgroundUrl: 'https://dev.fitliga.com/fitmeet-test-storage/azure-qa/files_fcdbe0b2-2d84-492c-8388-ab210da30f83.jpeg',
                    facebookLink: 'https://facebook.com/jyyRD5yf2tuv',
                    instagramLink: 'https://instagram.com/jyyRD5yf2tuv',
                    twitterLink: 'https://twitter.com/jyyRD5yf2tuv',
                },
                statusText: '',
                channelLink: '',
                onSend: false,
            }
        },
        computed: {
            ...mapState(['user']),
        },
        methods: {
            async send() {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.create(this.data)
                if(res) {
                    this.statusText = 'channel success created'
                    this.channelLink = '/channel-api/'+res.id
                    setTimeout(() => this.statusText = "", 5000)
                } else {
                    this.statusText = 'error' + res.response.data
                    setTimeout(() => this.statusText = "", 15000)
                }
                console.log("🚀 ~ file: AddChannel.vue ~ line 106 ~ send ~ res", res, '\n', res.response)

                this.onSend = false
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    input:disabled {
        background-color: #ececec;
    }
</style>
