<template>
    <div class="profile-page ">
        <ChannelsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                All Channels
            </div>
            <div class="edit-profile-block">
                <div class="edit-profile-right">
                    <div v-for="channel in channels" :key="channel.id">
                        <div>
                            <strong>Chanel Id:</strong> {{ channel.id }},
                            <strong>Chanel Title:</strong> {{ channel.title }},
                            <strong>Channel Description</strong> {{ channel.description }},
                            <strong>Username</strong> {{ channel.name }}
                            <button v-if="channel.isFollow" class="btn-unfollow" @click="unfollow(channel.id)">Unfollow</button>
                            <button v-else @click="follow(channel.id)">follow</button>

                            <button v-if="!channel.isSubscribe" @click="subscribe(channel.id)">Subscribe</button>
                            <span v-else class="subscribed">Subscribed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ChannelsMenu from './menu'

    export default {
        name: 'AllChannels',
        components: {
            ChannelsMenu
        },
        data() {
            return {
                onSend: false,
                channels: []
            }
        },
        created() {
            this.send()
        },
        methods: {
            async send() {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.getAllPrivate()
                // getAllPrivate
                console.log("🚀 ~ file: AllChannels.vue ~ line 48 ~ send ~ res getAllPrivate", res)
                console.log("🚀 ~ file: AllChannels.vue ~ line 48 ~ send ~ res", res.response)
                
                this.channels = res.data

                this.onSend = false
            },
            async follow(channelId) {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.follow(channelId)
                if (res instanceof Error) {
                    this.onSend = false
                    return false
                }
                this.channels.map(channel => channelId == channel.id ? channel.isFollow = true : '')

                this.onSend = false
            },
            async unfollow(channelId) {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.unfollow(channelId)
                if (res instanceof Error) {
                    return false
                }
                this.channels.map(channel => channelId == channel.id ? channel.isFollow = false : '')

                this.onSend = false
            },
            async subscribe(channelId) {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.subscribe(channelId, { monthCount: 1 })
                console.log("🚀 ~ file: AllChannels.vue ~ line 90 ~ subscribe ~ res", res)
                if (res instanceof Error) {
                    this.onSend = false
                    return false
                }
                this.channels.map(channel => channelId == channel.id ? channel.isSubscribe = true : '')

                let channel = await this.$api.channels.get(channelId)
                console.log("🚀 ~ file: AllChannels.vue ~ line 98 ~ subscribe ~ channel", channel)
                if (channel instanceof Error) {
                    this.onSend = false
                    return false
                }
                this.$store.commit('addSubscription', channel)
                
                this.onSend = false
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    button {
        padding: 4px 10px;
        background: #0099ae;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 29.5px;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 0.16px;
        color: #ffffff;
        cursor: pointer;
        margin-right: 5px;
    }
    .btn-unfollow {
        background: #e4ab6b;
    }
    .edit-profile-right > div {
        margin-top: 5px;
    }
    .subscribed {
        color: #60c168;
        font-size: 12px;
        font-weight: 600;
    }
</style>
