<template>
    <div class="profile-page">
        <ChannelsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                Channel
            </div>
            <div class="edit-profile-block">
                <div class="edit-profile-right">
                    <div><strong>Channel Title:</strong> {{ channel.title }}, <strong>Channel Description</strong> {{ channel.description }}, <strong>name</strong> {{ channel.name }}</div>
                </div>
            </div>

            <div class="edit-data">
                <div class="user-data">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" v-model="channel.title" type="text" class="profile-page-input">
                    </div>
                </div>

                <div class="user-data">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input id="description" v-model="channel.description" type="text" class="profile-page-input">
                    </div>
                </div>

                <div class="user-data">
                    <div class="form-group">
                        <label for="background-url">background Url</label>
                        <input id="background-url" v-model="channel.backgroundUrl" type="text" class="profile-page-input">
                    </div>
                </div>

                <div class="user-data">
                    <div class="form-group">
                        <label for="facebook-link">Facebook Link</label>
                        <input id="facebook-link" v-model="channel.facebookLink" type="text" class="profile-page-input">
                    </div>
                </div>

                <div class="user-data">
                    <div class="form-group">
                        <label for="instagram-link">Instagram Link</label>
                        <input id="instagramLink" v-model="channel.instagramLink" type="text" class="profile-page-input">
                    </div>
                </div>

                <div class="user-data">
                    <div class="form-group">
                        <label for="twitter-link">Twitter Link</label>
                        <input id="twitter-link" v-model="channel.twitterLink" type="text" class="profile-page-input">
                    </div>
                </div>
                <button class="save-btn" @click="update">Save</button>
                <button class="save-btn" @click="del">Delete</button>
                <button v-if="0" class="save-btn" @click="restore">Restore</button>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import ChannelsMenu from './menu'

    export default {
        name: 'Channel',
        components: {
            ChannelsMenu
        },
        data() {
            return {
                onSend: false,
                channel: {},
                isCurrentUserChannel: false
            }
        },
        computed: {
            ...mapState(['user']),
        },
        created() {
            this.getData()
        },
        methods: {
            async getData() {
                if(this.onSend) return false
                this.onSend = true

                if(this.$route.params?.id) {
                    let res = await this.$api.channels.get(this.$route.params.id)
                    console.log("🚀 ~ file: Channel.vue ~ line 93 ~ getData ~ res", res)
                    this.channel = res
                }

                if(this.user.username === this.channel.name) {
                    this.isCurrentUserChannel = true
                }

                this.onSend = false
            },
            async update() {
                if(this.onSend) return false
                this.onSend = true

                await this.$api.channels.update(this.channel.id, this.channel)

                this.onSend = false
            },
            async del() {
                if(this.onSend) return false
                this.onSend = true

                await this.$api.channels.delete(this.channel.id)

                this.onSend = false
            },
            async restore() {
                if(this.onSend) return false
                this.onSend = true

                await this.$api.channels.restore(this.channel.id)

                this.onSend = false
            }

        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    .save-btn {
        margin-top: 20px;
        margin-right: 20px;
    }
</style>
