<template>
    <div class="channel-menu">
        <router-link to="/channels">Channels</router-link>
        <router-link to="/add-channel">AddChannel</router-link>
        <router-link to="/my-channels">MyChannels</router-link>
        <router-link to="/channel-api/6">Channel/EditChanel/DeleteChanel</router-link>
        <router-link to="/broadcasts">Broadcasts</router-link>
    </div>
</template>


        
<script>
    export default {
        name: 'ChannelsMenu',
        data() {
            return {
                
            }
        },
    }
</script>

<style scoped>
    .channel-menu {
        margin-bottom: 20px;        
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .channel-menu a {
        margin: 0 10px;
    }
</style>
