<template>
    <div class="profile-page">
        <ChannelsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                My Channels
            </div>
            <div class="edit-profile-block">
                <div class="edit-profile-right">
                    <div v-for="channel in channels" :key="channel.id">
                        <div>
                            <strong>Id:</strong> {{ channel.id }},
                            <strong>Title:</strong> <a :href="'/channel-api/'+channel.id">{{ channel.title }}</a> ,
                            <strong>name</strong> {{ channel.name }} - 
                            <a :href="'/add-broadcast/'+channel.id">Create broadcast</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ChannelsMenu from './menu'

    export default {
        name: 'MyChannels',
        components: {
            ChannelsMenu
        },
        data() {
            return {
                onSend: false,
                channels: []
            }
        },
        created() {
            this.send()
        },
        methods: {
            async send() {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.getMy()
                this.channels = res.data

                this.onSend = false
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
</style>
