// reset css
body {
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
  // background-color: transparent;
}
a {
  text-decoration: none;
}
textarea:focus,
input:focus {
  outline: none;
}

// Global
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-style: normal;
}
.page-layout {
  display: grid;
  grid-template-columns: 384px auto;
}
.custom-container {
  padding: 48px;
}
.title {
  font-weight: bold;
  letter-spacing: 0.16px;
  font-size: 20px;
  line-height: 28px;
  padding: 0;
  margin: 24px 0 16px;
  display: flex;
  align-items: baseline;
}
.see-all {
  font-weight: normal;
  letter-spacing: 0.16px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #6f6f6f;
  margin-left: 16px;
}
.no-margin-top {
  padding-top: 0;
}


// X-Large
@media all and (min-width: 1281px) and (max-width: 1584px) {
  .page-layout {
    grid-template-columns: 256px calc(100% - 256px);
  }
  .title {
    font-size: 18px;
    margin: 12px 0 8px;
  }
  .see-all {
    font-size: 12px;
  }
}
// Large
@media all and (min-width: 1057px) and (max-width: 1280px) {
  .custom-container {
    padding: 20px 20px 20px 80px;
  }
  .page-layout {
      position: relative;
      display: block;
  }
  .title {
    font-size: 14px;
    line-height: 20px;
    margin: 12px 0 8px;
  }
  .see-all {
    font-size: 10px;
  }
}

// Medium
@media all and (min-width: 673px) and (max-width: 1056px) {
  .page-layout {
      position: relative;
      display: block;
  }
}

/* components/home/mainStream.vue */
.main-stream img {
  margin: 0 auto;
  display: block;
  height: 538px;
}

@media all and (min-width: 1281px) and (max-width: 1584px) {
  .main-stream img {
    height: 378px;
    width: auto;
  }
  .recomendation-block-title {
    font-size: 22px;
    margin: 10px 0 8px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .main-stream img {
    height: 356px;
    width: auto;
  }
}

// search-header-result-page
.search-header-result-page h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.16px;
  color: #000000;
  text-align: left;
  margin: 26px 0 16px;
}
