.no-have-subs-wrap {
  margin-top: 320px;
  margin-bottom: 257px;
}
.no-have-subs-wrap .title-subs {
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
  display: inline-block;
  width: 100%;
}
.no-have-subs-wrap .sub-title-subs {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.16px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 12px;
}
.no-have-subs-wrap .sub-title-subs a {
  font-weight: bold;
  color: #45b0bf;
}
@media all and (min-width: 1281px) and (max-width: 1584px) {
  .no-have-subs-wrap {
    margin-top: 238px;
    margin-bottom: 210px;
  }
  .no-have-subs-wrap .title-subs {
    font-size: 36px;
    line-height: 40px;
  }
  .no-have-subs-wrap .sub-title-subs {
    font-size: 20px;
  }
}
