<template>
    <div>
        <div class="title-wrap">
            <span>{{ titleDate }}</span>
        </div>

        <div class="'content-wrap">
            <div v-for="timetableRow in timetableRows" :key="timetableRow.currentHour" 
                 :class="['timetable-row-wrap', { 'is-current-hour': isCurrentHour(timetableRow) }]">
                <div class="timetable-row">
                    <div class="hour-block">
                        <div :class="['hour-title', { 'hour-title-no-started': isStreamNoStarted(timetableRow) }]">
                            {{ titleTime(timetableRow.currentHour) }}
                        </div>
                    </div>
                    <div :class="['time-line-block', { 'time-line-block-happend': isHourStarted(timetableRow), }] " />
                    <div class="videos-block">
                        <swiper class="swiper" :options="swiperOption">
                            <swiper-slide v-for="videoItem in timetableRow.currentHourItems" :key="videoItem.videoId" 
                                          :class="[`video-item video-item-${videoItem.videoId}`, { 'started-stream': isStreamStarted(videoItem.date) }]">
                                <div class="video-top" :style="`background-image: url(${videoItem.thumbnail})`">
                                    <div :class="['video-item-flag', {
                                        'video-item-flag-new': videoItem.flag === 'New!',
                                        'video-item-flag-popular': videoItem.flag === 'Popular',
                                    }]">
                                        {{ videoItem.flag }}
                                    </div>
                                    <button class="like-block" @click="like(videoItem)">
                                        <svg :class="['like-block-icon', { 'like-block-icon-active': videoItem.liked }]">
                                            <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="video-bot">
                                    <div class="category-tags">
                                        <div v-for="(categoryTag, index) in renderTagList(videoItem.categoryTags)" :key="index">
                                            {{ categoryTag }}
                                        </div>
                                    </div>

                                    <span class="video-title">{{ videoItem.title }}</span>
                                        
                                    <div class="bot-section">
                                        <div class="user-block">
                                            <span class="video-user-name">
                                                {{ currentUser(videoItem.userId).firstName }}
                                            </span>
                                        </div>

                                        <template>
                                            <div v-if="videoItem.videoСondition == 'Live'" class="video-item-condition">
                                                <div class="record-on-icon" />
                                                <span class="video-item-condition-text">{{ videoItem.videoСondition }}</span>
                                            </div>

                                            <div v-else-if="videoItem.videoСondition == 'Offline'" class="video-item-condition">
                                                <span class="video-condition-offline">{{ videoItem.videoСondition }}</span>
                                            </div>

                                            <div v-else-if="videoItem.videoСondition == 'Planned'" class="video-item-condition">
                                                <span class="video-planed-text">Start at {{ videoItem.date.format('h:mm a') }} </span>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </swiper-slide>

                            <div slot="pagination" class="swiper-pagination" />
                        </swiper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { users, videoItems, watchingNowApi, scheduledVideos } from "@/test-data.js"
    // import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
    import 'swiper/swiper-bundle.css'
    import translationVue from '../home/translation.vue'

    export default {
        name: 'TimetableDay',
        components: {
            // Swiper,
            // SwiperSlide
        },
        props: {
            dayDate: {
                type: Object,
                default: null
            },
        },
        data() {
            return {
                users,
                videoItems,
                watchingNowApi,
                scheduledVideos,
                renderVideoListPast: [],
                videoOneHourAgo: [],
                videoThisHour: [],

                currentPrevPush: -2,
                timetableRows: [],

                swiperOption: {
                    slidesPerView: 4,
                    spaceBetween: 24,
                    freeMode: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }
                },
            }
        },
        computed: {
            titleDate() {
                return this.dayDate.format('MMMM DD, dddd')
            },
        },
        watch: {
            windowWidth() {
                console.log('windowWidth')
                this.checkSize()
            },
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize) 
        },
        created() {
            let renderList = this.videoItems.filter(video => {
                if(this.$dayjs(video.date).isSame(this.$dayjs(this.dayDate), 'day') && video?.date) {
                    return true
                }
            })

            for(let i = 1; i <= 24; i++) {
                let hourVideoList = renderList.filter(video => video.date.$H === i)
                if(hourVideoList.length) {
                    this.timetableRows.push({ currentHour: hourVideoList[0].date.$H, currentHourItems: hourVideoList })
                }
            }
        },
        mounted() {
            // response
            window.addEventListener('resize', this.onResize)
            this.windowWidth = window.innerWidth
            this.checkSize()
        },
        methods: {
            titleTime(hour) {
                return this.$dayjs().hour(hour).format('hh:00 a')
            },
            handleChangePrevHour(hour) {
                this.currentPrevPush = hour
            },
            currentUser(userId) {
                return this.users.find(user => user.userId == userId)
            },
            isStreamStarted(date) {
                if(this.dayDate.isSame(this.$dayjs(), 'day')) {
                    if(date.$H > this.$dayjs().$H) {
                        return false
                    }
                    if(date.$m < this.$dayjs().$m) {
                        return true
                    }
                    if(date.$H < this.$dayjs().$H) {
                        return true
                    }
                }
            },
            isHourStarted(timetableRow) {
                if(this.dayDate.isBefore(this.$dayjs(), 'day')) {
                    return translationVue
                } else if(this.dayDate.isAfter(this.$dayjs(), 'day')) {
                    return false
                } else if(this.dayDate.isSame(this.$dayjs(), 'day')) {
                    if(timetableRow.currentHour < this.$dayjs().$H) {
                        return true
                    } else if(timetableRow.currentHour === this.$dayjs().$H) {
                        return true
                    }
                    return false
                }
            },
            isCurrentHour(timetableRow) {
                if(this.dayDate.$D === this.$dayjs().$D && timetableRow.currentHour === this.$dayjs().$H) {
                    return true
                }
            },
            isStreamNoStarted(timetableRow) {
                if(this.dayDate.$D > this.$dayjs().$D) {
                    return true
                }
                if(this.dayDate.$D === this.$dayjs().$D && timetableRow.currentHour > this.$dayjs().$H) {
                    return true
                }
            },
            renderTagList(arr) {
                // mobile
                return arr.slice(0, 3)
            },
            like(videoItem) {
                videoItem.liked = !videoItem.liked
            },
            checkSize() {
                if(window.innerWidth <= 1280) {
                    console.log('1280')
                } else if(window.innerWidth <= 1584) {
                    this.swiperOption.slidesPerView = 5
                    this.swiperOption.spaceBetween = 20
                } else {
                    console.log('else')
                }
            },
            onResize() {
                this.windowWidth = window.innerWidth
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/timetable/timetable.scss" />