<template>
    <div v-if="showRow" class="timetable-row">
        <div class="hour-block">
            <div class="hour-title">
                {{ titleTime }}
            </div>
        </div>
        <div :class="['time-line-block', {
            'time-line-block-happend': currentHour < $dayjs().$H,
            'time-line-block-now': currentHour === $dayjs().$H }]">
            <div class="time-line" />
        </div>
        <div class="videos-block">
            <swiper class="swiper" :options="swiperOption">
                <swiper-slide v-for="videoItem in videoRenderList" :key="videoItem.videoId" 
                              :class="[`video-item video-item-${videoItem.videoId}`, { 'started-stream': isStreamStarted(videoItem.date) }]">
                    <div>
                        <div class="video-top" :style="`background-image: url(${videoItem.thumbnail})`">
                            <div :class="['video-item-flag', {
                                'video-item-flag-new': videoItem.flag === 'New!',
                                'video-item-flag-popular': videoItem.flag === 'Popular',
                            }, ]">
                                {{ videoItem.flag }}
                            </div>
                            <button class="like-block">
                                <svg :class="['like-block-icon', { 'like-block-icon-active': videoItem.liked }]">
                                    <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                                </svg>
                            </button>
                        </div>
                        <div class="video-bot">
                            <div class="category-tags">
                                <div v-for="(categoryTag, index) in videoItem.categoryTags" :key="index">
                                    {{ categoryTag }}
                                </div>
                            </div>

                            <span class="video-title">{{ videoItem.title }}</span>
                                        
                            <div class="bot-section">
                                <div class="user-block">
                                    <span class="video-user-name">
                                        {{ currentUser(videoItem.userId).firstName }}
                                    </span>
                                </div>

                                <template>
                                    <div v-if="videoItem.videoСondition == 'Live'" class="video-item-condition">
                                        <div class="record-on-icon" />
                                        <span class="video-item-condition-text">{{ videoItem.videoСondition }}</span>
                                    </div>

                                    <div v-else-if="videoItem.videoСondition == 'Offline'" class="video-item-condition">
                                        <span class="video-condition-offline">{{ videoItem.videoСondition }}</span>
                                    </div>

                                    <div v-else-if="videoItem.videoСondition == 'Planned'" class="video-item-condition">
                                        <span class="video-planed-text">Start at {{ videoItem.date.format('h:mm a') }} </span>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </swiper-slide>

                <div slot="pagination" class="swiper-pagination" />
            </swiper>
        </div>
    </div>
</template>

<script>
    import { users, videoItems, watchingNowApi, scheduledVideos } from "@/test-data.js"
    import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
    import 'swiper/swiper-bundle.css'

    export default {
        name: 'TimetableRow',
        components: {
            Swiper,
            SwiperSlide
        },
        props: {
            currentHour: {
                type: Number,
                default: null
            },
            dayData: {
                type: String,
                default: null
            },
        },
        data() {
            return {
                users,
                videoItems,
                watchingNowApi,
                scheduledVideos,

                videoRenderList: [],

                noFoundData: false,
                correctTitleHour: null,

                swiperOption: {
                    spaceBetween: 24,
                    freeMode: true,

                    slidesPerView: 'auto',
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    }
                },

                showRow: true
            }
        },
        computed: {
            titleTime() {
                if(this.correctTitleHour) {
                    return this.$dayjs().hour(this.correctTitleHour).format('hh:00 a')
                }
                return this.$dayjs().hour(this.currentHour).format('hh:00 a')
            }
        },
        created() {
            this.videoRenderList = this.videoItems.filter(video => video.category === 'Stretching')
                .filter(video => video.date.$H === this.currentHour)

            // if(this.videoRenderList.length < 4) {
            // this.swiperOption.slidesPerView = this.videoRenderList.length
            // }

            if( this.videoRenderList.length === 0 && this.dayData === 'today prev') {

                let todayVideoList = this.videoItems.filter(video => video.category === 'Stretching')
                    .filter(video => { return video.date.$D === this.$dayjs().$D })

                let currentHour = this.currentHour
                let isHaveVideotoday

                for(let i = 0; i < currentHour; currentHour--) {
                    let currentHourVideo = todayVideoList.filter(video => video.date.$H === currentHour)
                    if(currentHourVideo.length) {
                        isHaveVideotoday = true
                        this.videoRenderList = currentHourVideo
                        this.correctTitleHour = currentHour
                        this.$emit('changePrevHour', currentHour - this.$dayjs().$H - 1)
                        break
                    } else {
                        isHaveVideotoday = false
                    }
                }

                if(!isHaveVideotoday) {
                    this.showRow = false
                    this.$emit('createNewDay')
                    // this.noFoundVideosToday = 'no data found for the current date'
                }
            }
        },
        methods: {
            currentUser(userId) {
                return this.users.find(user => user.userId == userId)
            },
            isStreamStarted(date) {
                if(date.$H > this.$dayjs().$H) {
                    return false
                }
                if(date.$m < this.$dayjs().$m) {
                    return true
                }
                if(date.$H < this.$dayjs().$H) {
                    return true
                }
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/timetable/timetable.scss" />