.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 14px 14px;
  grid-template-areas:
    "stream small-1"
    "stream small-2";
}
.stream {
  grid-area: stream;
}
.small-1 {
  grid-area: small-1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
.small-2 {
  grid-area: small-2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
@media all and (min-width: 1281px) and (max-width: 1584px) {
  .grid-container {
    gap: 20px 20px;
  }
}