.big-video-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

.popular {
  margin-bottom: 26px;
}
.big-video-wrap .m6:first-child {
  padding-left: 0;
}
.big-video-wrap .m6:last-child {
  padding-right: 0;
}
.card-big-video-right {
  display: flex;
  width: 180px;
  flex-wrap: wrap;
  align-content: flex-start;
}
h2.block-title {
    font-weight: bold;
    letter-spacing: 0.16px;
    font-size: 20px;
    line-height: 28px;
    padding: 0;
    margin: 24px 0 16px;
    display: flex;
    align-items: baseline;
}
.video-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 8px;
  display: inline-block;
}
.video-user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin-left: 8px;
  align-self: center;
}
.big-video-item {
  background-size: cover;
  filter: drop-shadow(6px 9px 30px rgba(0, 0, 0, 0.2));
}
.icon-clock {
  align-self: center;
  width: 14px;
  height: 14px;
  margin-top: -3px;
}
.big-video-item-blur {
  backdrop-filter: blur(4px);
  background: rgba(18, 18, 18, 0.4);
  padding: 21px 26px 24px 24px;
  display: flex;
  justify-content: space-between;
}
.small-video-block {
  margin-top: 18px;
}
// .big-video-item-blur:active + .big-video-item-blur-over {
//   background: rgba(0, 0, 0, 0.5);
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   top: 0px;
// }
.video-item-blur-wrap .big-video-item-blur-over {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
.see-all {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.16px;
  color: #000000;
  display: block;
  margin-top: 8px;
}
.big-video-user {
  color: #ffffff;
  display: flex;
}
.follow-btn,
.subscribe-btn,
.remind-btn {
  width: 143px;
  height: 39px;
  display: flex;
  box-sizing: border-box;
  border-radius: 29.5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #ffffff;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.follow-btn {
  border: 1px solid #ffffff;
  margin-top: 14px;
}
.subscribe-btn {
  background: #ba0000;
  margin-top: 18px;
}
.remind-btn {
  backdrop-filter: blur(4px);
  margin-top: 10px;
  background-color: rgb(255 255 255 / 30%);
}
.big-video-condition {
  margin-top: 38px;
  display: flex;
}
.big-video-planed-text {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #ffffff;
  margin-left: 8px;
}
.tags-list {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  max-width: 140px;
}
.tags-list > div {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.16px;
  color: #ffffff;
}
.card-big-video-left {
  padding-right: 51px;
  width: 73%;
}
.card-big-video-left .video-title {
  margin-top: 127px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.16px;
  color: #ffffff;
  max-width: 500px;
}
.card-big-video-left .video-des {
  margin-top: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #ffffff;
  max-width: 500px;
}
.like-block svg {
  width: 18px;
  height: 16px;
  cursor: pointer;
}
.like-block-icon {
  opacity: 0.6;
  --skin-color: #fff;
}
.like-block-icon-active {
  opacity: 1;
  --skin-color: #ff0000;
}
.big-video-user img {
  width: 24px;
  height: 24px;
}
.like-block {
  margin-top: 7px;
}

@media all and (min-width: 1281px) and (max-width: 1584px) {
  .big-video-wrap {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .big-video-wrap .big-video-item:last-child {
    display: none;
  }
  h2.block-title {
    font-size: 22px;
    margin: -20px 0 8px;
    font-weight: bold;
  }
  .popular {
    margin-bottom: 16px;
  }
  .small-video-block {
    margin-top: 16px;
  }
  .video-user-name {
    font-size: 12px;
    line-height: 18px;
  }
  .follow-btn,
  .subscribe-btn,
  .remind-btn {
    width: 122px;
    height: 36px;
    font-size: 14px;
  }
  .big-video-condition {
    margin-top: 32px;
  }
  .big-video-planed-text {
    font-size: 13px;
  }
  .tags-list {
    margin-top: 8px;
  }
  .tags-list > div {
    font-size: 10px;
    line-height: 14px;
  }
  .remind-btn {
    margin-top: 12px;
  }
  .card-big-video-left .video-title {
    font-size: 20px;
    line-height: 24px;
  }
  .card-big-video-left .video-des {
    font-size: 11px;
    line-height: 15px;
  }
  .big-video-item-blur {
    backdrop-filter: blur(4px);
    background: rgba(18, 18, 18, 0.4);
    padding: 21px 26px 24px 24px;
    display: flex;
  }
  .card-big-video-right {
    width: 22.5%;
  }
  .icon-clock {
    width: 12px;
    height: 12px;
    margin-top: -4px;
  }
}
@media all and (max-width: 1280px) {
  .big-video-wrap {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .big-video-wrap .big-video-item:last-child {
    display: none;
  }
  h2.block-title {
    font-size: 22px;
    margin: -20px 0 8px;
    font-weight: bold;
  }
  .popular {
    margin-bottom: 12px;
  }
  .small-video-block {
    margin-top: 16px;
  }
  .video-user-name {
    font-size: 9px;
    line-height: 18px;
  }
  .big-video-user img {
    width: 19px;
    height: 19px;
  }

  .follow-btn,
  .subscribe-btn,
  .remind-btn {
    width: 94px;
    height: 26px;
    font-size: 12px;
  }
  .follow-btn {
    margin-top: 9px;
  }
  .big-video-condition {
    margin-top: 24px;
  }
  .big-video-planed-text {
    font-size: 10px;
    margin-left: 6px;
  }
  .icon-clock {
    width: 10px;
    height: 10px;
    margin-top: -4px;
  }
  .tags-list > div {
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
  }
  .remind-btn {
    margin-top: 8px;
  }
  .card-big-video-left .video-title[data-v-36e42939] {
    font-size: 16px;
    line-height: 17px;
  }

  .card-big-video-left .video-des {
    font-size: 9px;
    line-height: 13px;
  }
  .card-big-video-right {
    width: 22.5%;
  }
  .card-big-video-left .video-title {
    margin-top: 97px;
  }
}
