.auth-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000cf;
  z-index: 10;
  display: flex;
  align-items: center;
}
::v-deep .auth-block-2 {
  // rename
  width: 416px;
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  box-shadow: 6px 9px 30px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  min-height: 587px;
}
::v-deep .auth-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  height: 12px;
  width: 12px;
}
::v-deep .auth-page-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  padding-top: 34px;
}
::v-deep .auth-btn {
  background: #0099ae;
  border-radius: 32px;
  margin-top: 37px;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
::v-deep .auth-btn:disabled {
  margin-top: 16px;
  background-color: #b2e0e7;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  padding: 8px;
}
::v-deep svg.icon-down {
  width: 8px;
  height: 5px;
  margin-left: 13px;
  --skin-color: #fff;
}
::v-deep .auth-social-list-wrap {
    position: relative;
}
::v-deep .auth-social-list {
  width: 336px;
  position: absolute;
  left: 40px;
  top: 10px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #fff;
  z-index: 1;

}
::v-deep .auth-social-list-item:hover .soc-icon {
    --icon-color: #B7B7B7;
}
::v-deep .soc-icon {
    --icon-color: #D8D8D8;
    width: 18px;
    height: 18px;
    margin-right: 14px;
}
::v-deep .auth-social-list-item,
::v-deep .auth-social-list button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 8px 0 8px 30px;
  color: #c4c4c4;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
}
// ::v-deep .auth-social-list-item button {
//   color: #c4c4c4;
//   font-weight: 600;
//   font-size: 14px;
// }
::v-deep .auth-social-list-item:hover,
::v-deep .auth-social-list button:hover {
  color: #000000;
  background: #f9f9f9;
}
::v-deep .auth-social-list-item img {
    margin-right: 14px;
}
::v-deep .auth-social-list-item:first-child {
  border-radius: 24px 24px 0 0;
}
::v-deep .auth-social-list button{
  border-radius: 0 0 24px 24px;
}


::v-deep .btn-sign-up {
  margin-top: 16px;
}
::v-deep .title-with-line {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #999999;
}
::v-deep .title-with-line:before,
::v-deep .title-with-line:after {
  content: "";
  border-top: 0.094rem solid #999999;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
::v-deep .title-with-line:after {
  margin: 0 0 0 20px;
}
::v-deep .auth-page-form,
::v-deep .auth-btn-wrap {
  padding: 0 40px;
}
::v-deep .forgot-password-wrap {
  display: flex;
  justify-content: center;
}
::v-deep .auth-page-input {
  height: 38px;
  background-color: #f9f9f9;
  border: 0.094rem solid #bbbcbc;
  box-sizing: border-box;
  border-radius: 28.5px;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  padding: 13px 0 13px 23px;
  width: 100%;
}
// ::v-deep .auth-page-input:focus {
//   border: 0.094rem solid #bbbcbc;
//   box-shadow: none;
// }
::v-deep .auth-page-input:focus {
  border-color: #0099ae;
}
::v-deep .auth-wrap .auth-page-input:hover {
  border-color: #000;
}
::v-deep .auth-btn:active {
  background-color: #007181;
}
// Error validation
::v-deep .auth-page-input-error {
  background-image: url("/img/app/layout/alert-triangle-1.svg");
  background-position: right 21px center;
  background-repeat: no-repeat;
  background-size: 18px;
  border-color: #ff0000;
}
::v-deep .auth-page-input-error:focus {
  border-color: #ff0000;
}
::v-deep .auth-page-input-error.auth-page-input-error-first {
  background: initial;
  border-color: #0099ae;
}
::v-deep .auth-page-text-error {
  font-size: 10px;
  line-height: 14px;
  color: #ff0000;
  margin: 5px 0 0 18px;
  height: 14px;
}
::v-deep .auth-text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #999999;
  padding: 0 67px;
  margin-top: 8px;
}
::v-deep .have-accaunt-text {
//   margin-top: 69px;
//   margin-bottom: 28px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  
    position: absolute;
    bottom: 28px;
    margin: 0 auto;
    width: 100%;
}
::v-deep .have-accaunt-text > button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #0099ae;
  cursor: pointer;
  display: inline;
}

// Error animation
::v-deep .list-enter-active {
  transition: opacity 0.3s ease;
  transition: height 0.3s ease;
}
::v-deep .list-leave-active {
  animation-duration: 4s;
  animation-name: slideinText;
  // transition: opacity .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  // transition: height .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
::v-deep .list-enter,
.list-leave-to {
  height: 0;
  opacity: 0;
}
// .auth-page-text-error.start-animation:nth-child(1),
// .auth-page-text-error.start-animation:nth-child(3) {
//     height: 0 !important;
//     margin-top: 0 !important;
//     margin-bottom: 0 !important;
//     overflow: hidden;
// }

// Error custom animation
::v-deep .animation-block {
  height: 14px;
  animation-duration: 0.7s;
  animation-name: slideinblock;
  animation-fill-mode: forwards;
}
::v-deep .animation-block.start-animation {
  height: 14px;
  animation-duration: 0.7s;
  animation-name: slideOutblock;
  animation-fill-mode: forwards;
}
@keyframes slideinblock {
  from {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 1;
  }
  50% {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0;
  }
  to {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
  }
}
@keyframes slideOutblock {
  from {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
  }
  50% {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 0;
  }
  to {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    opacity: 1;
  }
}

// Sign In
.auth-sign-in .auth-btn {
  margin: 11px 50px 0;
}
.auth-sign-in .btn-sign-in {
  margin-top: 16px;
}
.auth-social-list-wrap {
  position: relative;
}
.forgot-password {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #0099ae;
  text-align: center;
  margin-top: 19px;
  cursor: pointer;
}
.auth-sign-in .have-accaunt-text {
  margin-top: 166px;
}
.auth-sign-in input[name="phoneOrEmail"] {
  margin-top: 37px;
}
::v-deep .auth-sign-in .auth-btn-soc {
  margin-top: 12px;
}

// Forgot Password
.auth-forgot-password .auth-page-title {
  margin-top: 100px;
}
.auth-forgot-password .auth-text {
  margin-top: 9px;
  padding: 0 40px;
}
.auth-forgot-password input[name="phoneOrEmail"] {
  margin-top: 38px;
}
.auth-forgot-password .have-accaunt-text {
  margin-top: 208px;
}
::v-deep .auth-forgot-password .auth-btn-send {
  margin-top: 16px;
}