.auth-forgot-password .auth-page-title {
  padding-top: 100px;
}
.auth-forgot-password .auth-text {
  margin-top: 9px;
  padding: 0 40px;
}
.auth-forgot-password
  input[type="text"]:not(.browser-default)[name="phoneOrEmail"] {
  margin-top: 38px;
}
.auth-forgot-password .have-accaunt-text {
  margin-top: 188px;
}
