
.auth-sign-in .btn-sign-in {
  margin-top: 16px;
}
.auth-social-list-wrap {
  position: relative;
}
.forgot-password {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #0099ae;
  margin-top: 19px;
  cursor: pointer;
}
.auth-sign-in .have-accaunt-text {
//   margin-top: 166px;
}
.auth-sign-in input[type="text"]:not(.browser-default)[name="phoneOrEmail"] {
  margin-top: 37px;
}
