<template>
    <div class="header-sticky">
        <div v-if="authActiveBlock" class="auth-wrap">
            <signUp v-if="authActiveBlock === 'signUp'" @showAuthPopup="onClickChild" />
            <signIn v-if="authActiveBlock === 'signIn'" @showAuthPopup="onClickChild" />
            <forgotPassword v-if="authActiveBlock === 'forgotPassword'" @showAuthPopup="onClickChild" />
        </div>
        
        <div class="header-wrap">
            <div class="header">
                <div class="header-left-block">
                    <router-link to="/"><div class="logo">Fitmeet</div></router-link>

                    <div class="header-search-wrap">
                        <input v-model="searchText" type="text" class="search" placeholder="Search"
                               @keyup.enter="goToSearchPageEnter">
                        <!-- <div v-if="1" v-click-outside="() => activeInputSearch = false"  -->
                        <div v-if="activeInputSearch" v-click-outside="() => activeInputSearch = false" 
                             :class="['header-search-result-list', { 'one-element-search': searchResultShortList.length === 1 }]">
                            <!-- <button v-for="(searchResultItem, idx) in searchResultShortList" :key="idx" class="header-search-result-list-item"
                                    @click="goToSearchPageClick">
                                {{ searchResultItem.title }}
                            </button> -->

                            <div class="header-search-result-title">
                                Coach
                            </div>
                            <button class="header-search-result-list-item">
                                Elisabeth Debiki 
                            </button>
                            <button class="header-search-result-list-item">
                                Ekaterina Schulc-Freezova
                            </button>
                            <button class="header-search-result-list-item">
                                Olga Pivovarova
                            </button>
                            <button class="header-search-see-all" @click="goToSeeAll">
                                See all coaches
                            </button>

                            <div class="header-search-result-title">
                                Streams
                            </div>
                            <button class="header-search-result-list-item">
                                Elisabeth Debiki 
                            </button>
                            <button class="header-search-result-list-item">
                                Ekaterina Schulc-Freezova
                            </button>
                            <button class="header-search-result-list-item">
                                Olga Pivovarova
                            </button>
                            <button class="header-search-see-all" @click="goToSeeAll">
                                See all streams
                            </button>

                            <div class="header-search-result-title">
                                Categories
                            </div>
                            <button class="header-search-result-list-item">
                                Elisabeth Debiki 
                            </button>
                            <button class="header-search-result-list-item">
                                Ekaterina Schulc-Freezova
                            </button>
                            <button class="header-search-see-all" @click="goToSeeAll">
                                See all categories
                            </button>
                        </div>
                    </div>
                </div>

                <div class="header-right-block">
                    <div class="header-auth-wrap">
                        <template v-if="isAuthorized">
                            <button class="header-btn">
                                <svg class="video-icon">
                                    <use xlink:href="/img/app/layout/video-icon.svg#video-icon" />
                                </svg>
                            </button>
                            <button class="header-btn">
                                <img src="/img/app/layout/bell.svg" alt="">
                                <div class="notification-count">100</div>
                            </button>
                            
                            <button class="auth-user-block" @click="showUserMenu = !showUserMenu">
                                <img v-if="user.avatarPath" :src="`https://sarafanblob.blob.core.windows.net${user.avatarPath}`" alt="">
                                <div v-else class="header-btn header-btn-user ">{{ avatarDefault }}</div>
                            </button>

                            <div v-if="showUserMenu" v-click-outside="() => showUserMenu = false" class="user-menu-list">
                                <router-link to="/profile" class="user-menu-item" @click.native="hideUserMenu">
                                    <img src="/img/app/layout/edit.svg" alt="">
                                    Edit profile
                                </router-link>
                                <hr class="user-menu-delimiter">

                                <router-link to="/my-channels" class="user-menu-item no-active" @click.native="hideUserMenu">
                                    <svg class="video-icon">
                                        <use xlink:href="/img/app/layout/video-icon.svg#video-icon" />
                                    </svg>
                                    Studio
                                </router-link>
                                <router-link to="/" class="user-menu-item no-active">
                                    <img src="/img/app/layout/channel.svg" alt="">
                                    Channel
                                </router-link>
                                <hr class="user-menu-delimiter">

                                <router-link to="/" class="user-menu-item no-active">
                                    <svg class="user-plus-icon">
                                        <use xlink:href="/img/app/layout/user-plus-icon.svg#user-plus-icon" />
                                    </svg>
                                    Subscriptions
                                </router-link>
                                

                                <router-link to="/" class="user-menu-item no-active">
                                    <img src="/img/app/layout/wallet.svg" alt="">
                                    Wallet
                                </router-link>
                                <router-link to="/" class="user-menu-item no-active">
                                    <img src="/img/app/layout/settings.svg" alt="">
                                    Settings
                                </router-link>
                                <router-link to="/" class="user-menu-item no-active">
                                    <img src="/img/app/layout/globe.svg" alt="">
                                    Language
                                </router-link>
                                <hr class="user-menu-delimiter">

                                <router-link to="/" class="user-menu-item no-active">
                                    <img src="/img/app/layout/help-circle.svg" alt="">
                                    Help
                                </router-link>
                                <hr class="user-menu-delimiter">

                                <button class="user-menu-item" @click="logOut">
                                    <img src="/img/app/layout/log-out.svg" alt="">
                                    Log out
                                </button>
                            </div>
                        </template>
                        <template v-else>
                            <div class="auth-block">
                                <button class="auth-title" @click="authActiveBlock = 'signIn'">
                                    Sign In
                                </button>
                                <button class="auth-title sign-up-title" @click="authActiveBlock = 'signUp'">
                                    Sign up
                                </button>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { videoItems, users } from '@/test-data'
    import { mapState } from 'vuex'

    import signIn from '@/components/auth/signIn'
    import signUp from '@/components/auth/signUp'
    import forgotPassword from '@/components/auth/forgotPassword'

    export default {
        name: "Header",
        components: {
            signIn,
            signUp,
            forgotPassword,
        },
        data() {
            return {
                // search - made component
                searchText: null,
                activeInputSearch: false,
                videoItems,
                users,
                searchResultList: [],

                // user & auth  - made component
                showUserMenu: false,
                authActiveBlock: false,
                avatarDefault: ''

            }
        },
        computed: {
            ...mapState(['user']),

            isAuthorized() {
                return this.$store.state.isAuthorized
            },
            searchResultShortList() {
                if(this.searchResultList.slice(0, 7).length) {
                    return this.searchResultList.slice(0, 7)
                } else {
                    return [{ title: "No found data" }]
                }
            },
        },
        watch: {
            searchText() {
                if(this.searchText && this.searchText !== 0) {
                    this.activeInputSearch = true

                    this.searchResultList = this.videoItems

                    this.searchResultList.map(video => {
                        for(const user of users) {
                            if(user.userId === video.userId) {
                                video.userName = user.firstName
                            }
                        }
                    })

                    let allResults = []
                    for(const video of this.searchResultList) {
                        if(video.userName.toLowerCase().includes(this.searchText.toLowerCase())) {
                            allResults.push(video)
                        } else if(video.title.toLowerCase().includes(this.searchText.toLowerCase())) {
                            allResults.push(video)
                        } else if(video.category.toLowerCase().includes(this.searchText.toLowerCase())) {
                            allResults.push(video)
                        }
                    }
                    this.searchResultList = allResults

                } else {
                    this.activeInputSearch = false
                }
            },
        },
        created() {
            if(!this.user.avatarPath) {
                const fullNameArr = this.user.fullName.split(" ")
                this.avatarDefault = fullNameArr[0][0] + fullNameArr[1][0]
            }
        },
        methods: {
            logOut() {
                this.showUserMenu = false
                this.$api.logout()
            },
            goToSearchPageClick() {
                if(this.searchText === '') {
                    return
                }

                const query = {
                    q: this.searchText,
                    filter: 'All'
                }
                
                if (JSON.stringify(this.$route.query) !== JSON.stringify(query)) {
                    this.$router.push({
                        name: 'HeaderSearchResult',
                        query
                    })
                }
            },
            goToSearchPageEnter() {
                this.activeInputSearch = false

                if(this.searchText) {
                    this.$router.push({
                        name: 'HeaderSearchResult',
                        query: { q: this.searchText, filter: 'All' }
                    })
                }
            },
            goToSeeAll() {
                this.activeInputSearch = false

                const query = {
                    q: this.searchText,
                    filter: 'All'
                }
                
                if (JSON.stringify(this.$route.query) !== JSON.stringify(query)) {
                    this.$router.push({
                        name: 'HeaderSearchResult',
                        query
                    })
                    this.$emit('setNewTitle', this.searchText)
                }

            },
            hideUserMenu() {
                this.showUserMenu = false // QUESTION повтор делаю через native
            },

            onClickChild(value) {
                this.authActiveBlock = value
            },

            
        }
    }
</script>

<style lang="scss" src="@/assets/scss/layout/header.scss" />
<style lang="scss" scoped src="@/assets/scss/auth/auth.scss" />
