<template>
    <div id="category-search-result-page">
        <search :current-page="'categoryResultPage'" @setNewTitle="onSearch" />

        <h2>{{ searchQueryTitle }}</h2>
        <smallVideoBlock :video-items-count="24" :video-category="$route.params.categoryName" />
    </div>
</template>

<script>

    import search from "@/components/elements/search"
    import smallVideoBlock from "@/components/elements/smallVideoBlock"

    export default {
        name: "CategorySearchResult",
        components: {
            smallVideoBlock,
            search
        },
        data() {
            return {
                searchQueryTitle: '',
            }
        },
        created() {
            this.searchQueryTitle = this.$route.query.q
        },
        methods: {
            onSearch(title) {
                this.searchQueryTitle = title
            }
        }
    }
</script>

<style lang="scss" src="@/assets/scss/category-search-result/category-search-result.scss" scoped />

