<template>
    <div id="categories-page">
        <div class="filter-search-wrap">
            <input v-model="filteredText" type="text" :class="['filter-search', { 'filter-search-full': filteredText }]" placeholder="Search">

            <div v-if="showFilters" class="filter-categories">
                <div :class="['filter-categories-left-item', { 'filter-categories-left-item-active': currentFilter === 'liked' }]">
                    <button @click="switchFilter('liked')">
                        <span class="filter-categories-left-item-text">Likes</span>
                        <img v-if="currentFilter === 'liked'" class="icon-close" src="/img/app/layout/close-strong.svg" alt="">
                    </button>
                </div>

                <div :class="['filter-categories-left-item filter-categories-left-item-2', { 'filter-categories-left-item-active': currentFilter === 'new' }]">
                    <button @click="switchFilter('new')">
                        <span class="filter-categories-left-item-text">New</span> 
                        <img v-if="currentFilter === 'new'" class="icon-close" src="/img/app/layout/close-strong.svg" alt="">
                    </button>
                </div>
                <div class="filter-categories-right-item">
                    <button @click="showSelectedList = !showSelectedList">
                        <span class="filter-categories-right-text">{{ sortedSelected }}</span>
                        <svg class="arrow-down">
                            <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                        </svg>
                    </button>
                    <div v-if="showSelectedList" v-click-outside="() => showSelectedList = false" class="sort-select-wrap">
                        <button v-for="(sortCategory, idx) in sortCategories" :key="idx" :class="['sort-list-item', { 'sort-list-item-active': sortedSelected === sortCategory }]"
                                @click="changeSortType(sortCategory)">
                            {{ sortCategory }}

                            <svg class="icon-arrow-down-gray">
                                <use v-if="sortCategory === 'Viewers' || sortCategory === 'Viewers '" xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <button>
                <img v-if="activeInputSearch" class="clear-search-icon" alt="Search"
                     src="/img/app/layout/close.svg" @click="clearFilteredText">
            </button>
        </div>

        <h1 class="page-title">Categories</h1>

        <div class="category-list">
            <div v-for="(categoryItem, idx) in filteredCategoryList" :key="idx" class="category-item">
                <div class="category-card-wrap"
                     @mousedown="mouseDownBlur($event, categoryItem)" @mouseup="mouseUpBlur($event, categoryItem)">
                    <router-link :to="'/category/' + categoryItem.name.toLowerCase()">
                        <div class="category-top-block" :style="`background-image: url(${categoryItem.imgUrl})`">
                            <div :class="['category-top-block-flag', {
                                'category-top-block-flag-new': categoryItem.flag === 'New!',
                                'category-top-block-flag-popular': categoryItem.flag === 'Popular'
                            }]">
                                {{ categoryItem.flag }}
                            </div>
                        </div>
                    </router-link>
          
                    <div class="category-bot-block">
                        <div class="category-bot-left-block">
                            <router-link :to="'/category/' + categoryItem.name.toLowerCase()">
                                <div class="video-title">{{ categoryItem.name }}</div>
                            </router-link>
                            <div class="video-description">{{ categoryItem.description }}</div>
                        </div>
                        <div class="category-bot-right-block">
                            <button class="like-block">
                                <svg :class="['like-block-icon', {'like-block-icon-active': categoryItem.liked}]">
                                    <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                                </svg>
                            </button>
                            <img class="icon-arrow-category" src="/img/app/layout/long-arrow-right.svg" alt="">
                        </div>
                    </div>
                    <div class="category-card-wrap-over" />
                </div>
            </div>
        </div>

        <div style="height:80px">
            <div v-if="startLoadCategories" class="sk-fading-circle">
                <div v-for="val in 12" :key="val" :class="['sk-circle', `sk-circle${val}`]" />
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'Categories',
        data() {
            return {
                categories: [
                    {
                        id: 1,
                        name: "Yoga",
                        description: "The best morning workout you can do to wake up your body.",
                        flag: "New!",
                        imgUrl: "/img/categories/category-tmb-1.jpg",
                        liked: true
                    },
                    {
                        id: 2,
                        name: "Stretching",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: "/img/categories/category-tmb-2.jpg",
                        liked: false
                    },
                    {
                        id: 3,
                        name: "Fitness",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: "/img/categories/category-tmb-3.jpg",
                        liked: true
                    },
                    {
                        id: 4,
                        name: "Meditation",
                        description: "The best morning workout",
                        flag: "New!",
                        imgUrl: "/img/categories/category-tmb-4.jpg",
                        liked: false
                    },
                    {
                        id: 5,
                        name: "Workshop",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "New!",
                        imgUrl: "/img/categories/category-tmb-5.jpg",
                        liked: false
                    },
                    {
                        id: 6,
                        name: "Easy",
                        description: "The best morning workout you can do to wake up your body",
                        flag: null,
                        imgUrl: "/img/categories/category-tmb-6.jpg",
                        liked: true
                    },
                    {
                        id: 7,
                        name: "Stretching professional",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "New!",
                        imgUrl: "/img/categories/category-tmb-7.jpg",
                        liked: false
                    },
                    {
                        id: 8,
                        name: "Meditation",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "New!",
                        imgUrl: "/img/categories/category-tmb-8.jpg",
                        liked: true
                    },
                    {
                        id: 9,
                        name: "Workshop",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "New!",
                        imgUrl: "/img/categories/category-tmb-1.jpg",
                        liked: true
                    },
                    {
                        id: 10,
                        name: "Stretching professional",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: "/img/categories/category-tmb-2.jpg",
                        liked: true
                    },
                ],
                filteredText: '',
                currentFilter: null,

                showFilters: true,
                sortCategories: ['A-Z', 'Z-A', 'Viewers', 'Viewers '],
                sortedSelected: 'Viewers',
                showSelectedList: false,

                activeInputSearch: false,
                spennerRptating: false,

                lazyCount: 18,
                startLoadCategories: false
                
            }
        },
        computed: {
            filteredCategoryList() {
                if(this.filteredText) {
                    return this.categories.filter(category => {
                        return category.name.toLowerCase().includes(this.filteredText.toLowerCase())
                    })
                } else if(this.currentFilter === "new") {
                    return this.categories.filter(category => category.flag === "New!")
                } else if(this.currentFilter === "liked") {
                    return this.categories.filter(category => category.liked === true)
                } else {
                    return this.categories.slice(0, this.lazyCount)
                }
            },
        },
        watch: {
            filteredText() {
                if(this.filteredText && this.filteredText !== 0) {
                    this.activeInputSearch = true
                    this.showFilters = false
                } else {
                    this.activeInputSearch = false
                    this.showFilters = true
                }
            },
            sortedSelected() {
                // '', '', 'Viewers', 'Viewers '
                if(this.sortedSelected === 'A-Z') {
                    this.sortByName()
                } else if(this.sortedSelected === 'Z-A') {
                    this.sortByNameReverse()
                } else {
                    this.categories.sort((a, b) => a.id - b.id)
                }
            },
            handleScroll() {
                // console.log(event)
                // Any code to be executed when the window is scrolled
            }
        },
        beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll)
        },
        created() {
            window.addEventListener("scroll", this.handleScroll)
        },
        mounted() {
            // window.addEventListener('scroll')

            function makeFakeData() {
                let result = []
                for(let i = 1; i < 40; i++) {
                    let randomImgNumber = Math.floor(Math.random() * Math.floor(8) + 1)
                    result.push({
                        id: i + 10,
                        name: "Yoga " + (i + 10),
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: `/img/categories/category-tmb-${randomImgNumber}.jpg`,
                        liked: true
                    })
                }
                return result
            }
            this.categories = this.categories.concat(makeFakeData())
    

        },
        methods: {
            handleScroll() {
                if(!this.startLoadCategories) {
                    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                        if(this.lazyCount < this.categories.length) {
                            this.startLoadCategories = true
                            this.fakeLoad()
                        }
                    }
                }
            },
            fakeLoad() {
                function foo() {
                    this.lazyCount += 12
                    this.startLoadCategories = false
                }
                setTimeout(foo.bind(this), 2000)
            },
            switchFilter(filterName) {
                if(this.currentFilter === filterName) {
                    this.currentFilter = null
                } else {
                    this.currentFilter = filterName
                }
            },
            sortByName() {
                this.categories.sort((a, b) => {
                    let nameA = a.name.toLowerCase()
                    let nameB = b.name.toLowerCase()
                    if (nameA < nameB) {
                        return -1
                    }
                    if (nameA > nameB) {
                        return 1
                    }
                    return 0
                })
            },
            sortByNameReverse() {
                this.categories.sort((a, b) => {
                    let nameA = a.name.toLowerCase()
                    let nameB = b.name.toLowerCase()
                    if (nameA < nameB) {
                        return 1
                    }
                    if (nameA > nameB) {
                        return -1
                    }
                    return 0
                })
            },
            changeSortType(sortType) {
                this.sortedSelected = sortType
                this.showSelectedList = false
            },
            clearFilteredText() {
                this.filteredText = ''
                this.activeInputSearch = false
            },
            mouseDownBlur(event, videoItem) {
                if(event.target.getAttribute("class") === "like-block-icon-svg") {
                    videoItem.liked = !videoItem.liked
                } else {
                    event.currentTarget.classList.add("cat-item-blur-wrap")
                }
            },
            mouseUpBlur(event) {
                event.currentTarget.classList.remove("cat-item-blur-wrap")
            },
        }
    }
</script>

<style lang="scss" src="@/assets/scss/categories/categories.scss" scoped />
