<template>
    <div id="category-page">
        <search :current-page="'categoryPage'" @clicked="filterOnClickChild" />

        <div v-if="!currentFilter" class="row">
            <div class="top-streams">
                <h2 class="title">Top Streams {{ currentCategegoryName }} 1</h2>
                <smallVideoBlock :video-items-count="4" :video-category="$route.params.categoryName" />
            </div>
        </div>

        <div v-if="!currentFilter" class="row">
            <div class="other-streams">
                <h2>Other Streams {{ currentCategegoryName }}</h2>
                <smallVideoBlock :video-items-count="4" :video-category="$route.params.categoryName" />
            </div>
        </div>

        <div v-if="currentFilter === 'new'" class="row">
            <h2 class="title">News</h2>
            <smallVideoBlock
                :video-items-count="24"
                :video-category="$route.params.categoryName"
                :video-flag="'new!'" />
        </div>

        <div v-if="currentFilter === 'popular'" class="row">
            <h2 class="title">Popular</h2>
            <smallVideoBlock
                :video-items-count="24"
                :video-category="$route.params.categoryName"
                :video-flag="'popular'" />
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import smallVideoBlock from "@/components/elements/smallVideoBlock"
    import search from "@/components/elements/search"

    export default {
        name: "Category",
        components: {
            smallVideoBlock,
            search
        },
        data() {
            return {
                currentCategegoryName: '',

                showFilters: true,
                currentFilter: null,
                sortedSelected: 'Viewers',
                sortCategories: ['Viewers', 'None'],
                showSelectedList: false,
            }
        },
        computed: {
            ...mapState(['defaultTitle']),
        },
        mounted() {
            let categegoryName = this.$route.params.categoryName
            this.currentCategegoryName = categegoryName.charAt(0).toUpperCase() + categegoryName.slice(1)
            document.title = `Category ${this.currentCategegoryName} - ${this.defaultTitle}`
        },
        methods: {
            switchFilter(filterName) {
                if(this.currentFilter === filterName) {
                    this.currentFilter = null
                } else {
                    this.currentFilter = filterName
                }
            },
            changeSortType(sortType) {
                this.sortedSelected = sortType
                this.showSelectedList = false
            },
            filterOnClickChild (filterName) {
                this.switchFilter(filterName)
            }
        }
    }
</script>

<style lang="scss" src="@/assets/scss/category/category.scss" scoped />
