<template>
    <div class="custom-container">
        <div class="channel-top">
            <div v-if="dataLoaded">
                <div class="channel-fake-img">
                    <img src="/img/channel/channel-video.jpg" alt="">
                </div>
                <div class="channel-video-middle">
                    <img class="video-channel-img" :src="currentChannel.backgroundUrl" alt="">
                    <span class="video-channel-title">{{ channelName }}</span>

                    <button class="like-block" @click="likeBroadcast">
                        <svg :class="['like-block-icon', { 'like-block-icon-active': broadcast.isFollow }]">
                            <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                        </svg>
                    </button>
                    <button v-if="currentChannel.isFollow" class="btn-category btn-unfollow" @click="unfollow">
                        Following
                    </button>
                    <button v-else class="btn-category btn-follow" @click="follow">
                        Follow
                    </button>
                
                    <button class="btn-category btn-subscribe" :disabled="currentChannel.isSubscribe"
                            @click="subscribe">
                        {{ currentChannel.isSubscribe ? 'Subscribers' : 'Subscribe' }}
                    </button>
                    <button class="btn-more">
                        <div class="circle-wrap">
                            <div class="ico-circle" />
                        </div>
                        <div class="circle-wrap">
                            <div class="ico-circle" />
                        </div>
                        <div class="circle-wrap">
                            <div class="ico-circle" />
                        </div>
                    </button>
                </div>
                <div class="channel-video-bot">
                    <div class="channel-des">
                        {{ broadcast.name }}
                    </div>
                    <div class="channel-cats">
                        <div v-for="(cat, idx) in broadcast.categories" :key="idx" class="channel-cat">
                            <router-link :to="`/category/${cat.title.default.replace(/\s/g, '-').toLowerCase()}`">
                                {{ cat.title.default }}
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
            <div class="channel-chat">
                <img src="/img/channel/channel-chat.jpg" alt="">
            </div>
        </div>
        <div class="channel-bot">
            <div class="channel-tabs-btns">
                <button :class="['channel-tab', { 'channel-tab-active': activeTab === 'About'}]" @click="activeTab = 'About'">About</button>
                <button :class="['channel-tab', { 'channel-tab-active': activeTab === 'Timetable'}]" @click="activeTab = 'Timetable'">Timetable</button>
                <button :class="['channel-tab', { 'channel-tab-active': activeTab === 'Videos'}]" @click="activeTab = 'Videos'">Videos</button>
            </div>
            <div v-if="activeTab === 'About'" class="tab-content tab-content-about">
                <div>
                    <div class="channel-about">
                        <div class="channel-about-top">
                            <img class="channel-about-img" :src="currentChannel.backgroundUrl" alt="">
                            <div class="channel-about-title">
                                {{ channelName }}
                            </div>
                        </div>
                        <div class="channel-about-btns">
                            <button v-if="currentChannel.isFollow" class="channel-about-btn btn-unfollow channel-about-btn" @click="unfollow">
                                Following
                            </button>
                            <button v-else class="channel-about-btn btn-follow" @click="follow">
                                Follow
                            </button>
                            <button class="channel-about-btn btn-subscribe" :disabled="currentChannel.isSubscribe"
                                    @click="subscribe">
                                {{ currentChannel.isSubscribe ? 'Subscribers' : 'Subscribe' }}
                            </button>
                            <button class="about-facebook"><img src="/img/app/layout/facebook.svg" alt=""></button>
                            <button class="about-twitter"><img src="/img/app/layout/twitter.svg" alt=""></button>
                            <button class="about-instagram"><img src="/img/app/layout/instagram.svg" alt=""></button>
                        </div>
                        <div class="channel-about-counts">
                            <div class="about-counts-wrap">
                                <div class="about-counts-top">
                                    {{ currentChannel.doneBroadcastCount }}
                                </div>
                                <div class="about-counts-bot">
                                    Video
                                </div>
                            </div>
                            <div class="about-counts-wrap">
                                <div class="about-counts-top">
                                    {{ currentChannel.subscribersCount }}
                                </div>
                                <div class="about-counts-bot">
                                    Followers
                                </div>
                            </div>
                            <div class="about-counts-wrap">
                                <div class="about-counts-top">
                                    -
                                </div>
                                <div class="about-counts-bot">
                                    Following
                                </div>
                            </div>
                        </div>
                        <div class="channel-about-des">
                            {{ currentChannel.description }}
                        </div>
                        <div class="about-cats-link-wrap">
                            <router-link :to="'/'" class="about-cats-link">Meditation</router-link>
                            <router-link :to="'/'" class="about-cats-link">Yoga</router-link>
                            <router-link :to="'/'" class="about-cats-link">Stretching</router-link>
                        </div>
                    </div>
                </div>
                <div class="channel-planned">
                    <img src="/img/channel/channel-planned-1.jpg" alt="">
                    <img src="/img/channel/channel-planned-2.jpg" alt="">
                    <img src="/img/channel/channel-planned-1.jpg" alt="">
                </div>
            </div>
            <div v-if="activeTab === 'Timetable'" class="tab-content"><img src="/img/channel/channel-timetable.png" alt=""></div>
            <div v-if="activeTab === 'Videos'" class="tab-content">Videos</div>
        </div>
    </div>
</template>

<script>
    import { mapState } from "vuex"

    export default {
        name: 'Channel',
        data() {
            return {
                broadcast: {},
                channelName: "",
                currentChannel: {},
                onSend: false,
                dataLoaded: false,

                activeTab: "About",

            }
        },
        computed: {
            ...mapState(['defaultTitle']),
        },
        async mounted() {
            this.channelName = this.$route.params.name

            if(this.$route.params.broadcastId) {
                let broadcast = await this.$api.broadcasts.get(this.$route.params.broadcastId)
                console.log("🚀 ~ file: Channel.vue ~ line 154 ~ mounted ~ broadcast", broadcast)
                if (broadcast instanceof Error) {
                    // logic set hero block
                    return false
                } else {
                    this.broadcast = broadcast
                }
            }
            

            document.title = `Channel: ${this.channelName} - ${this.defaultTitle}`
            let res = await this.$api.channels.getAllPrivate()
            this.currentChannel = res.data.filter(channel => channel.name === this.channelName)[0]
            this.dataLoaded = true
            console.log("🚀 ~ file: Channel.vue ~ line 33 ~ mounted ~ this.currentChannel", this.currentChannel)
        },
        methods: {
            async follow() {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.follow(this.currentChannel.id)
                if (res instanceof Error) {
                    this.onSend = false
                    return false
                }
                this.currentChannel.isFollow = true
                this.onSend = false
            },
            async unfollow() {
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.unfollow(this.currentChannel.id)
                if (res instanceof Error) {
                    return false
                }
                this.currentChannel.isFollow = false
                this.onSend = false
            },

            async likeBroadcast() {
                console.log("🚀 ~ file: Channel.vue ~ line 200 ~ likeBroadcast ~ likeBroadcast+++")
                if(this.onSend) return false
                this.onSend = true

                if(this.broadcast.isFollow) {
                    let res = await this.$api.broadcasts.unfollow(this.broadcast.id)
                    console.log("🚀 ~ file: Channel.vue ~ line 205 ~ likeBroadcast ~ res", res)
                    if (res instanceof Error) {
                        this.onSend = false
                        return false
                    } else {
                        this.broadcast.isFollow = false
                    }
                } else {
                    let res = await this.$api.broadcasts.follow(this.broadcast.id)
                    if (res instanceof Error) {
                        this.onSend = false
                        return false
                    } else {
                        this.broadcast.isFollow = true
                    }
                }
                this.onSend = false
            },
            async subscribe() {
                console.log('subscribe')
                if(this.onSend) return false
                this.onSend = true

                let res = await this.$api.channels.subscribe(this.currentChannel.id, { monthCount: 1 })
                console.log("🚀 ~ file: AllChannels.vue ~ line 90 ~ subscribe ~ res", res)
                if (res instanceof Error) {
                    this.onSend = false
                    return false
                }
                this.currentChannel.isSubscribe = true
                this.$store.commit('addSubscription', this.currentChannel)
                this.onSend = false
            }
        }
    }
</script>

<style lang="scss" src="@/assets/scss/channel/channel.scss" scoped />
