<template>
    <div class="custom-container search-header-result-page">
        <searchHeader :current-page="'headerResultPage'" @setNewTitle="onSearch" />

        <h2>{{ searchQueryTitle }}</h2>
        <smallVideoBlockHeader :video-items-count="24" :video-category="''" />
    </div>
</template>

<script>

    import smallVideoBlockHeader from "@/components/elements/smallVideoBlockHeader"
    import searchHeader from "@/components/elements/searchHeader"

    export default {
        name: "HeaderSearchResult",
        components: {
            smallVideoBlockHeader,
            searchHeader
        },
        data() {
            return {
                searchQueryTitle: '',
            }
        },
        watch: {
            "$route.query.q"() {
                this.searchQueryTitle = this.$route.query.q
            },
        },
        created() {
            this.searchQueryTitle = this.$route.query.q
        },
        methods: {
            onSearch(title) {
                this.searchQueryTitle = title
            }
        },
    }
</script>

