<template>
    <div class="custom-container no-margin-top history-page">
        <div class="popular">
            <h2 class="title">
                <span>Today</span>
            </h2>
            <smallVideo :video-items-count="10" :video-row-counter="2" video-condition="Live" />
        </div>

        <div class="popular">
            <h2 class="title">
                <span>Yesterday</span>
            </h2>
            <smallVideo :video-items-count="16" :video-row-counter="2" video-condition="Live" video-flag="Popular" />
        </div>

        <div class="popular">
            <h2 class="title">
                <span>This week</span>
            </h2>
            <smallVideo :video-items-count="20" :video-row-counter="3" video-condition="Offline" video-flag="Popular" />
        </div>
    </div>
</template>

<script>
    import smallVideo from '@/components/elements/smallVideo.vue'

    export default {
        name: 'Recommendation',
        components: {
            smallVideo,
        },
    }
</script>