<template>
    <div>
        <div class="custom-container">
            <mainStream />

            <h2 class="title">
                <span>Recommendation</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <smallVideoRealApi :video-items-count="4" :video-row-counter="1" :video-items="recommendationVideos" />
    
            <h2 class="title">
                <span>Popular</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <smallVideoRealApi :video-items-count="4" :video-row-counter="1" video-flag="Popular" :video-items="popularBroadcasts" />

            <h2 class="title">
                <span>Subscriptions</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <smallVideoRealApi :video-items-count="4" :video-row-counter="1" :video-items="subscriptionBroadcasts" />

            <categories />

            <h2 class="title">
                <span>Popular in Category: {{ firstCurrentCategory }}</span>
                <router-link :to="`/category/${firstCurrentCategory.toLowerCase()}`" class="see-all">See all</router-link>
            </h2>
            <smallVideoRealApi :video-items-count="4" :video-row-counter="1" :video-category="firstCurrentCategory" :video-items="categoryFirstBroadcasts" />


            <h2 class="title">
                <span>Popular in Category: {{ secondCurrentCategory }}</span>
                <router-link :to="`/category/${secondCurrentCategory.toLowerCase()}`" class="see-all">See all</router-link>
            </h2>
            <smallVideoRealApi :video-items-count="4" :video-row-counter="1" :video-category="secondCurrentCategory" :video-items="categorySecondBroadcasts" />
        </div>
    </div>
</template>

<script>
    import mainStream from '@/components/home/mainStream'
    import categories from '@/components/elements/categories'
    // import smallVideo from '@/components/elements/smallVideo'
    import smallVideoRealApi from '@/components/elements/smallVideoRealApi'
    import { mapState } from 'vuex'

    export default {
        name: 'Home',
        components: {
            mainStream,
            categories,
            // smallVideo,
            smallVideoRealApi,
        },
        data() {
            return {
                firstCurrentCategory: "Yoga",
                secondCurrentCategory: "Fitness",

                recommendationVideos: [],
                popularBroadcasts: [],
                subscriptionBroadcasts: [],
                categoryFirstBroadcasts: [],
                categorySecondBroadcasts: [],
            }
        },
        computed: {
            ...mapState(['isAuthorized'])
        },
        async created() {
            console.log(this.isAuthorized)
            // let params = {
            //     take: 50
            // }
            // let res = await this.$api.broadcasts.allPrivate(params)
            
            // let res = await this.$api.broadcasts.get(198)
            // let channel = await this.$api.channels.get(res.channelIds[0])
            // console.log("🚀 ~ file: Home.vue ~ line 72 ~ created ~ channel", channel)
            // res.channelTitle = channel.title
            // res.channelBackgroundUrl = channel.backgroundUrl
            // res.channelName = channel.name
            // this.recommendationVideos.push(res)

            // res = await this.$api.broadcasts.get(197)
            // channel = await this.$api.channels.get(res.channelIds[0])
            // res.channelTitle = channel.title
            // res.channelBackgroundUrl = channel.backgroundUrl
            // res.channelName = channel.name
            // this.recommendationVideos.push(res)

            // res = await this.$api.broadcasts.get(195)
            // channel = await this.$api.channels.get(res.channelIds[0])
            // res.channelTitle = channel.title
            // res.channelBackgroundUrl = channel.backgroundUrl
            // res.channelName = channel.name
            // this.recommendationVideos.push(res)

            // res = await this.$api.broadcasts.get(141)
            // channel = await this.$api.channels.get(res.channelIds[0])
            // res.channelTitle = channel.title
            // res.channelBackgroundUrl = channel.backgroundUrl
            // res.channelName = channel.name
            // this.recommendationVideos.push(res)


            // let params = {
            //     take: 10
            // }
            // let broadcasts = await this.$api.broadcasts.allPrivate(params)
            // broadcasts.forEach(async video => {
            //     let channel = await this.$api.channels.get(video.channelIds[0])
            //     video.channelTitle = channel.title
            //     video.channelBackgroundUrl = channel.backgroundUrl
            //     video.channelName = channel.name
            // })
            // console.log("🚀 ~ file: Home.vue ~ line 104 ~ created ~ broadcasts +++", broadcasts)
            let params = {
                take: 4,
                page: 1
            }
            let res
            if(this.isAuthorized) {
                res = await this.$api.broadcasts.allPrivate(params)
            } else {
                res = await this.$api.broadcasts.all(params)
            }

            console.log("🚀 ~ file: Home.vue ~ line 104 ~ created ~ broadcasts +++", this.recommendationVideos)

            this.recommendationVideos = res.data
            this.recommendationVideos.forEach(async video => {
                let channel = await this.$api.channels.get(video.channelIds[0])
                video.channelTitle = channel.title
                video.channelBackgroundUrl = channel.backgroundUrl
                video.channelName = channel.name
            })

            params.page = 2
            if(this.isAuthorized) {
                res = await this.$api.broadcasts.allPrivate(params)
            } else {
                res = await this.$api.broadcasts.all(params)
            }

            this.popularBroadcasts = res.data
            this.popularBroadcasts.forEach(async video => {
                let channel = await this.$api.channels.get(video.channelIds[0])
                video.channelTitle = channel.title
                video.channelBackgroundUrl = channel.backgroundUrl
                video.channelName = channel.name
            })

            params.page = 3
            if(this.isAuthorized) {
                res = await this.$api.broadcasts.allPrivate(params)
            } else {
                res = await this.$api.broadcasts.all(params)
            }

            this.subscriptionBroadcasts = res.data
            this.subscriptionBroadcasts.forEach(async video => {
                let channel = await this.$api.channels.get(video.channelIds[0])
                video.channelTitle = channel.title
                video.channelBackgroundUrl = channel.backgroundUrl
                video.channelName = channel.name
            })

            params.page = 4
            if(this.isAuthorized) {
                res = await this.$api.broadcasts.allPrivate(params)
            } else {
                res = await this.$api.broadcasts.all(params)
            }

            this.categoryFirstBroadcasts = res.data
            this.categoryFirstBroadcasts.forEach(async video => {
                let channel = await this.$api.channels.get(video.channelIds[0])
                video.channelTitle = channel.title
                video.channelBackgroundUrl = channel.backgroundUrl
                video.channelName = channel.name
            })

            params.page = 5
            if(this.isAuthorized) {
                res = await this.$api.broadcasts.allPrivate(params)
            } else {
                res = await this.$api.broadcasts.all(params)
            }

            this.categorySecondBroadcasts = res.data
            this.categorySecondBroadcasts.forEach(async video => {
                let channel = await this.$api.channels.get(video.channelIds[0])
                video.channelTitle = channel.title
                video.channelBackgroundUrl = channel.backgroundUrl
                video.channelName = channel.name
            })



        }
    }
</script>