<template>
    <div>
        <div class="custom-container no-margin-top">
            <div class="popular">
                <h2 class="title">
                    <span>Online</span>
                    <router-link to="/" class="see-all">See all</router-link>
                </h2>
                <smallVideo :video-items-count="4" :video-row-counter="2" video-condition="Live" video-flag="Popular" />
            </div>

            <div class="popular">
                <h2 class="title">
                    <span>Planned</span>
                    <router-link to="/" class="see-all">See all</router-link>
                </h2>
                <planned />
            </div>

            <div class="popular">
                <h2 class="title">
                    <span>Offline</span>
                    <router-link to="/" class="see-all">See all</router-link>
                </h2>
                <smallVideo :video-items-count="4" :video-row-counter="3" video-condition="Offline" video-flag="Popular" />
            </div>

            <div class="popular">
                <h2 class="title">
                    <span>Coaches</span>
                    <router-link to="/" class="see-all">See all</router-link>
                </h2>
                <coaches />
            </div>

            <categories />
        </div>
    </div>
</template>

<script>
    import smallVideo from '@/components/elements/smallVideo.vue'
    import planned from '@/components/popular/planned'
    import coaches from '@/components/elements/coaches.vue'
    import categories from '@/components/elements/categories'

    export default {
        name: 'Recommendation',
        components: {
            smallVideo,
            planned,
            coaches,
            categories,
        },
    }
</script>