<template>
    <div class="profile-page">
        <div class="edit-profile-wrap">
            <div v-if="isAuthorized" class="edit-profile-title">
                Edit Profile
            </div>
            <div v-else class="edit-profile-title">
                you are not logged in, please log in
            </div>

            <div v-if="isAuthorized && dataReady" class="edit-profile-block">
                <div class="edit-profile-left">
                    <input ref="userAvatar" type="file" class="input-file-user-avatar" @change="onFileChange">
                    <button :class="['profile-avatar-load-img', { 'hide-border': imageAvatar }]" :style="`background-image: url(${imageAvatar})`"
                            @click="$refs.userAvatar.click()">
                        <svg v-if="!imageAvatar">
                            <use xlink:href="/img/app/profile/load-img.svg#load-img" />
                        </svg>
                
                        <div class="edit-profile-edit-avatar">
                            <img src="/img/app/profile/pencil.svg" alt="Edit avatar">
                        </div>
                    </button>
                </div>
                <div class="edit-profile-right">
                    <div class="user-data">
                        <div class="form-group">
                            <label for="full-name">Full name</label>
                            <input id="full-name" v-model="user.fullName" type="text"
                                   :class="['profile-page-input', { 'auth-page-input-error': submitted && $v.user.fullName.$error }]">
                                
                            <div v-if="($v.user.fullName.$error || nameTimeProtected) && submitted" class="auth-page-text-error">
                                {{ fullNameErrorText() }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" v-model="user.username" type="text"
                                   :class="['profile-page-input', { 'auth-page-input-error': submitted && $v.user.username.$error }]">
                                
                            <div v-if="($v.user.username.$error || nameTimeProtected) && submitted" class="auth-page-text-error">
                                {{ usernameErrorText() }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <button class="profile-page-input profile-page-select" @click.prevent="showGenderList = !showGenderList">
                                {{ formatGenderText }}
                                <svg :class="['gender-arrow-icon', { 'gender-arrow-icon-up': showGenderList }]">
                                    <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                                </svg>
                            </button>

                            <div v-if="showGenderList" v-click-outside="() => showGenderList = false" class="input-gender-list">
                                <button :class="['input-gender-list-item', { 'input-gender-list-item-active': user.gender == 'UNDEFINED' }]" 
                                        @click="setUserGender('UNDEFINED')">
                                    Undefined
                                </button>
                                <button :class="['input-gender-list-item', { 'input-gender-list-item-active': user.gender == 'MALE' }]" 
                                        @click="setUserGender('MALE')">
                                    Male
                                </button>
                                <button :class="['input-gender-list-item', { 'input-gender-list-item-active': user.gender == 'FEMALE' }]"
                                        @click="setUserGender('FEMALE')">
                                    Female
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="birthdate">Birthday</label>
                            <input id="birthdate" v-model="$v.user.$model.birthDate" v-mask="'##.##.####'" type="text"
                                   class="profile-page-input" placeholder="MM.DD.YYYY"
                                   :class="{ 'auth-page-input-error': $v.user.birthDate.$error }">
                        
                            <div v-if="($v.user.birthDate.$error || birthDateTimeProtected) && submitted" class="auth-page-text-error">
                                {{ birthDateErrorText() }}
                            </div>
                        </div>

                        <div class="form-group" @dblclick="emailDisable = !emailDisable">
                            <label for="email">Email</label>
                            <input id="email" v-model="$v.user.$model.email" type="text" class="profile-page-input"
                                   :disabled="emailDisable">
                        </div>
                        <button v-if="!emailDisable" type="submit" @click="updateEmail">Update email</button>

                        <div class="form-group">
                            <label for="phone-number">Phone number</label>
                            <input id="phone-number" v-model="$v.user.$model.phoneNumber" v-mask="'+1 (###) ###-####'" type="text"
                                   class="profile-page-input" disabled>
                        </div>
                    </div>

                    <div v-if="showResetPassword">
                        <h2>Update Password</h2>

                        <form @submit.prevent="updatePassword">
                            <div class="form-group">
                                <label for="old-password">Old Password</label>
                                <input id="old-password" v-model="dataUpdatePassword.oldPassword" type="text" class="profile-page-input">
                            </div>
                            <div class="form-group">
                                <label for="new-password">New Password</label>
                                <input id="new-password" v-model="dataUpdatePassword.newPassword" type="text" class="profile-page-input">
                            </div>
                            <button type="submit">Update password</button>
                        </form>
                    </div>

                    <div class="connect-social">
                        <div class="connect-social-title">
                            Connect with Social Networks:
                        </div>
                        <div v-for="(socialItem, idx) in socialList" :key="idx" class="connect-social-item">
                            <div class="connect-social-name">{{ formatSocialName(socialItem.name) }}</div>
                            <button v-if="!socialItem.connected" class="connect-social-btn" 
                                    @click="setActiveSpinner(socialItem.name)">
                                Connect
                            </button>
                            <img v-if="socialItem.connected" src="/img/app/profile/done.svg" alt="connected">
                            <div v-if="socialItem.spinnerActive" class="sk-fading-circle">
                                <div v-for="i in 12" :key="i" :class="['sk-circle', `sk-circle${i}`]" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="isAuthorized" class="save-btn-wrap">
            <button class="save-btn" @click="onSave">Save</button>
        </div>
    </div>
</template>

<script>
    import { mapState } from "vuex"
    import { required, minLength, maxLength } from "vuelidate/lib/validators"
    import { helpers } from 'vuelidate/lib/validators'

    export default {
        name: 'Profile',
        components: {
        },
        data() {
            return {
                nameTimeProtected: false,
                usernameTimeProtected: false,
                birthDateTimeProtected: false,

                imageAvatar: '',

                dataReady: false,
                submitted: false,
                onSend: false,

                user: {
                    fullName: "",
                    username: "",
                    gender: 'UNDEFINED',
                    email: "",
                    birthDate: "",
                    phoneNumber: "",
                    avatarPath: ""
                },

                socialList: {
                    twitter: { name: 'twitter', connected: false, spinnerActive: false },
                    facebook: { name: 'facebook', connected: false, spinnerActive: false },
                    gmail: { name: 'gmail', connected: false, spinnerActive: false },
                },

                userFirstData: {},
                showGenderList: false,

                showResetPassword: false,
                dataUpdatePassword: {
                    oldPassword: '',
                    newPassword: ''
                },
                emailDisable: true,


                homework: {
                    prev: {
                        id: null,
                        description: '',
                        files: [],
                        uploaded: false
                    },
                    current: {
                        id: null,
                        description: '',
                        files: [],
                        uploaded: false
                    }
                },
                newAvatarImage: null,
                avatarImage: null,

            }
        },
        computed: {
            ...mapState(['isAuthorized']),
            formatGenderText() {
                if(this.user?.gender) {
                    return this.user.gender.charAt(0).toUpperCase() + this.user.gender.slice(1).toLowerCase()
                } else {
                    return 'Undefined'
                }
            }
        },
        created() {
            this.getUserData()
        },
        methods: {
            initFiles(e) {
                if (this.homework.current.files.length + e.target.files.length > 10) {
                    this.$showError("this.$t('main.homeworkFileCount')")
                    return false
                }
                for (let i = 0; i < e.target.files.length; i++) {
                    const file = e.target.files[i]
                    if (file.size > 2 * 1024 * 1024 * 1024) {
                        this.$showError("this.$t('main.homeworkFileSize')")
                        continue
                    }
                    let alreadyExist = false
                    this.homework.current.files.forEach(el => {
                        if (el.name === file.name && el.size === file.size && el.lastModified === file.lastModified) {
                            alreadyExist = true
                        }
                    })
                    if (!alreadyExist) {
                        this.homework.current.files.push(file)
                    }
                }
                e.target.value = ''
            },
            async uploadHomework() {
                if (this.onSendHomework) {
                    return false
                }

                let filesSize = 0
                if (!this.homework.current.uploaded) {
                    let formData = new FormData()
                    this.homework.current.files.forEach(el => {
                        filesSize += el.size
                        formData.append('files', el)
                    })
                    if (filesSize > 2 * 1024 * 1024 * 1024) {
                        this.$showError("this.$t('main.homeworkFileSize')")
                        return false
                    }
                    console.log('test 1', formData)

                    this.onSendHomework = true
                    let res = await this.$api.profile.uploadFiles(formData)
                    if (res instanceof Error) {
                        console.log('test 2', res)
                        return res
                    }
                    console.log('test 3', res)

                    if (res) {
                        let data = {
                            files: res.files
                        }
                        if (this.homework.current.description) {
                            data.description = this.homework.current.description
                        }

                        // const lessonId = this.$route.params.id
                        // res = await this.$api.profile.createHomework(lessonId, data)
                        // if (this.$checkResponse(res)) {
                        //     this.getData()
                        // }
                    }
                    this.onSendHomework = false
                    // this.openModal('filesSended')
                    return
                }

                let uploadedFiles = []
                let newFiles = []
                this.homework.current.files.forEach(el => {
                    if (this.prevFilesHomework.current.find(elem => elem.name === el.name)) {
                        uploadedFiles.push({
                            mimetype: el.type,
                            filename: `tasks/${el.name}`
                        })
                    } else {
                        filesSize += el.size
                        newFiles.push(el)
                    }
                })
                if (filesSize > 2 * 1024 * 1024 * 1024) {
                    this.$showError(this.$t("'main.homeworkFileSize'"))
                    return false
                }

                this.onSendHomework = true
                if (newFiles.length) {
                    let formData = new FormData()
                    newFiles.forEach(el => {
                        formData.append('files', el)
                    })

                    const res = await this.$api.profile.uploadFiles(formData)
                    if (this.$checkResponse(res)) {
                        uploadedFiles.push(...res.files)
                    }
                }


                let data = {
                    files: uploadedFiles,
                    description: this.homework.current.description
                }

                const res = await this.$api.profile.updateHomework(this.homework.current.id, data)
                if (res) {
                    this.getData()
                }


                this.openModal('filesSended')
                this.onSendHomework = false
            },
            deleteFile(key) {
                this.homework.current.files = this.homework.current.files.filter((el, elKey) => elKey !== key)
            },
            // second option
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files
                if (!files.length)
                    return
                this.createImage(files[0])
            },
            async createImage(file) {
                this.newAvatarImage = file
                // let imageAvatar = new Image()
                let reader = new FileReader()
                let vm = this
                // imageAvatar

                reader.onload = e => {
                    vm.imageAvatar = e.target.result
                }
                reader.readAsDataURL(file)
            },
            // async saveImageAvatar() {
            //     // console.log('this.newAvatarImage', this.newAvatarImage)
            //     let formData = new FormData()
        
            //     formData.append('files', this.newAvatarImage)
            //     let res = await this.$api.profile.uploadFiles(formData)
            //     if (res instanceof Error) {
            //         // return res
            //         console.log('error')
            //     }
            //     console.log('uploadFiles', res)
            // },
            removeImage() {
                this.imageAvatar = ''
            },

            formatSocialName(socialName) {
                return socialName[0].toUpperCase() + socialName.slice(1)
            },
            setActiveSpinner(socialName) {
                this.socialList[socialName].spinnerActive = true
                setTimeout(() => {
                    this.socialList[socialName].spinnerActive = false
                    this.socialList[socialName].connected = true
                }, 2000)
            },
            fullNameErrorText() {
                if(!this.$v.user.fullName.required) {
                    return 'Field is required'
                } else if(!this.$v.user.fullName.fullName) {
                    return 'Field must be only letters'
                } else if(this.nameTimeProtected) {
                    return 'You cannot change your name more than once every 2 weeks'
                } else {
                    'Data entered incorrectly'
                }
            },
            usernameErrorText() {
                if(!this.$v.user.username.required) {
                    return 'Field is required'
                } else if(!this.$v.user.username.username) {
                    return 'Field can only be letters, underscore and period'
                } else if(!this.$v.user.username.minLength) {
                    return 'minimum allowable field length - ' + this.$v.user.username.$params.minLength.min
                } else if(!this.$v.user.username.maxLength) {
                    return 'maximum allowable field length - ' + this.$v.user.username.$params.maxLength.max
                } else if(this.usernameTimeProtected) {
                    return 'You cannot change your username more than once every 2 weeks'
                } else {
                    'Data entered incorrectly'
                }
            },
            birthDateErrorText() {
                if(!this.$v.user.birthDate.correctDate) {
                    return 'Date must correct.'
                } else if(this.birthDateTimeProtected) {
                    return 'You cannot change your Birthday more than once every 2 weeks'
                }  else {
                    'Data entered incorrectly'
                }
            },
            setUserGender(gender) {
                this.user.gender = gender
                this.showGenderList = false
            },
            async onSave() {
                this.submitted = true

                this.$v.$touch()
                if (this.$v.$invalid) {
                    return
                }

                if (this.onSend) {
                    return false
                }

                this.nameTimeProtected = false
                this.usernameTimeProtected = false
                this.birthDateTimeProtected = false
                this.onSend = true

                let newUserData = {}

                if(this.userFirstData.fullName !== this.user.fullName) {
                    newUserData.fullName = this.user.fullName
                }
                if(this.userFirstData.username !== this.user.username) {
                    newUserData.username = this.user.username
                }
                if(this.userFirstData.birthDate !== this.user.birthDate) {
                    let arrBirthDate = this.user.birthDate.split('.')
                    newUserData.birthDate = arrBirthDate[2] + '-' + arrBirthDate[0] + '-' + arrBirthDate[1]
                }
                if(this.userFirstData.gender !== this.user.gender) {
                    newUserData.gender = this.user.gender
                }
                if(Object.keys(newUserData).length === 0) {
                    this.onSend = false
                }

                if(this.newAvatarImage) {
                    let formData = new FormData()
        
                    formData.append('files', this.newAvatarImage)
                    let res = await this.$api.profile.uploadFiles(formData)
                    if (res instanceof Error) {
                        console.log('error')
                    } else {
                        console.log('uploadFiles', res.data)
                        newUserData.avatarPath = res.data[0].filename
                        this.$store.commit('updateAvatar', res.data[0].filename)
                    }
                    
                }
                console.log('after update', newUserData)
                let res = await this.$api.profile.update(newUserData)
                console.log('res', res)
                if (res.response?.data.message === 'error.user.nameTimeProtected') {
                    this.nameTimeProtected = true
                    this.onSend = false
                    return false
                } 
                else if (res.response?.data.message === 'error.user.usernameTimeProtected') {
                    this.usernameTimeProtected = true
                    this.onSend = false
                    return false
                }
                else if (res.response?.data.message === 'error.user.birthDateTimeProtected') {
                    this.birthDateTimeProtected = true
                    this.onSend = false
                    return false
                }

                this.onSend = false
            },
            async updatePassword() {
                this.onSend = true
                await this.$api.profile.updatePassword(this.dataUpdatePassword)
                this.onSend = false
            },
            async updateEmail() {
                this.onSend = true
                await this.$api.profile.updateEmail({
                    password: "Password1!",
                    email: this.user.email
                })
                this.onSend = false
            },
            async getUserData() {
                let res = await this.$api.profile.get()

                let birthDateFormated
                if(res.birthDate) {
                    birthDateFormated = res.birthDate.split('-')[1] + "." + res.birthDate.split('-')[2] + "." + res.birthDate.split('-')[0]
                } else {
                    birthDateFormated = res.birthDate
                }

                this.user = {
                    avatarPath: res.avatarPath,
                    birthDate: birthDateFormated,
                    email: res.email,
                    fullName: res.fullName,
                    gender: res.gender,
                    username: res.username,
                }
                if(res.avatarPath) {
                    this.imageAvatar = `https://sarafanblob.blob.core.windows.net/${res.avatarPath}`
                    
                }
                this.avatarImage = res.avatarPath

                this.userFirstData = {
                    birthDate: birthDateFormated,
                    fullName: res.fullName,
                    gender: res.gender,
                    username: res.username,
                }

                this.dataReady = true
            },

           
        },

        validations: {
            user: {
                fullName: {
                    required,
                    fullName(value) {
                        return /^[ а-яА-Яa-zA-Z]*$/.test(value)
                    },
                },
                username: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(16),
                    username(value) {
                        return /^[0-9a-zA-Z-_.]*$/.test(value)
                    }
                },
                birthDate: {
                    correctDate(value) {
                        return !helpers.req(value) || /^(0[1-9]|1[0-2]).(0[1-9]|[12]\d|3[01]).([12]\d{3})$/.test(value)
                    }
                },
                email: { required},
            }
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />