<template>
    <div class="custom-container no-margin-top">
        <div class="popular">
            <h2 class="title">
                <span>Online</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <smallVideo :video-items-count="4" :video-row-counter="2" video-condition="Live" />
        </div>

        <div class="popular">
            <h2 class="title">
                <span>Planned</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <planned />
        </div>

        <div class="popular">
            <h2 class="title">
                <span>Offline</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <smallVideo :video-items-count="4" :video-row-counter="2" video-condition="Offline" />
        </div>

        <div class="popular">
            <h2 class="title">
                <span>Coaches</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            <coaches />
        </div>

        <categories />

        <h2 class="title">
            <span>Popular in Category: Yoga</span>
            <router-link to="/category/yoga" class="see-all">See all</router-link>
        </h2>
        <smallVideo :video-items-count="4" :video-row-counter="1" video-category="Yoga" />
    </div>
</template>

<script>
    import smallVideo from '@/components/elements/smallVideo.vue'
    import planned from '@/components/popular/planned'
    import coaches from '@/components/elements/coaches.vue'
    import categories from '@/components/elements/categories'

    import smallVideoCount from '@/mixins/smallVideoCount'
    export default {
        name: 'Popular',
        components: {
            smallVideo,
            planned,
            coaches,
            categories,
        },
        mixins: [
            smallVideoCount,
        ],
        data() {
            return {
                videoCount: 0,
                videoRowCounter: 2,
            }
        },
    }
</script>
