<template>
    <div class="custom-container no-margin-top">
        <template v-if="isNoHaveSubs">
            <div class="no-have-subs-wrap">
                <div class="title-subs">
                    You have no subscriptions
                </div>
                <div class="sub-title-subs">
                    If you do not have subscriptions yet, you can see
                </div>
                <div class="sub-title-subs">
                    <router-link to="/recommendation">Recommendation</router-link> or <router-link to="/popular">Popular</router-link>
                </div>
            </div>
        </template>
        <template v-else>
            <div v-if="isNoHaveToday">
                <div class="no-have-subs-wrap">
                    <div class="title-subs">
                        Today you have no lives and scheduled
                    </div>
                    <div class="sub-title-subs">
                        You can see
                    </div>
                    <div class="sub-title-subs">
                        <router-link to="/recommendation">Recommendation</router-link> or <router-link to="/popular">Popular</router-link>
                    </div>
                </div>
            </div>

            

            <div v-else class="popular">
                <h2 class="title">
                    <span>Today</span>
                </h2>
                <smallVideo :video-items-count="10" :video-row-counter="2" video-condition="Live" />
            </div>

            
            <div class="popular">
                <h2 class="title">
                    <span>Yesterday</span>
                </h2>
                <smallVideo :video-items-count="16" :video-row-counter="2" video-condition="Live" video-flag="Popular" />
            </div>

            <div class="popular">
                <h2 class="title">
                    <span>This week</span>
                </h2>
                <smallVideo :video-items-count="20" :video-row-counter="3" video-condition="Offline" video-flag="Popular" />
            </div>
        </template>
    </div>
</template>

<script>
    import smallVideo from '@/components/elements/smallVideo.vue'

    export default {
        name: 'Recommendation',
        components: {
            smallVideo,
        },
        data() {
            return {
                isNoHaveSubs: false,
                isNoHaveToday: true
            }
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/subscriptions.scss" />