<template>
    <div class="custom-container">
        <button class="show-past-btn" @click="showPrev">show past broadcasts</button>

        <transition-group name="slide">
            <div v-for="prevDay in prevDays" :key="prevDay.dayDate.$d.toString()" class="past-day-wrap">
                <timetableDay :day-date="prevDay.dayDate" />
            </div>
        </transition-group>

        <timetableDay :day-date="$dayjs()" />

        <transition-group name="slide">
            <div v-for="nextDay in nextDays" :key="nextDay.dayDate.$d.toString()" class="future-day-wrap">
                <timetableDay :day-date="nextDay.dayDate" :day-future="true" @showFutureBroadcasts="showNext" />
            </div>
        </transition-group>

        <div class="show-past-btn-wrap">
            <button class="show-past-btn" @click="showNext($event)">show future broadcasts</button>
        </div>
    </div>
</template>

<script>
    import { users, videoItems, watchingNowApi, scheduledVideos } from "@/test-data.js"
    import timetableDay from '@/components/timetable/timetableDay'

    export default {
        name: 'Timetable',
        components: {
            timetableDay,
        },
        data() {
            return {
                users,
                videoItems,
                watchingNowApi,
                scheduledVideos,
                renderVideoListPast: [],
                videoOneHourAgo: [],
                videoThisHour: [],

                currentPrevPush: -2,
                timetableRows: [
                    { currentHors: this.$dayjs().$H - 1, dayData: 'today prev' },
                    { currentHors: this.$dayjs().$H, dayData: 'today now' },
                    { currentHors: this.$dayjs().$H + 1, dayData: 'today next' }
                ],
                noHaveTodayPrevDate: false,

                currentPrevDay: -1,
                prevDays: [],

                currentNextDay: 2,
                nextDays: [
                    { dayDate: this.$dayjs().add(1, 'day') }
                ]
            }
        },
        computed: {
            titleDate() {
                return this.$dayjs().format('MMMM DD, dddd')
            },
            titleDateTomorrow() {
                return this.$dayjs().add(1, 'day').format('MMMM DD, dddd')
            },
        },
        methods: {
            showPrev() {
                this.prevDays.unshift({ dayDate: this.$dayjs().add(this.currentPrevDay, 'd') })
                this.currentPrevDay--
            },
            showNext() {
                this.nextDays.push({ dayDate: this.$dayjs().add(this.currentNextDay, 'd') })
                this.currentNextDay++
            },
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/timetable/timetable.scss" />