.btn-follow,
.btn-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  background: #dadada;
  border-radius: 35px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.16px;
  color: #000000;
}
.btn-subscribe {
  background: #45b0bf;
  color: #fff;
}

.btn-category,
.btn-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 38px;

  border-radius: 35px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.16px;

  border: 1px solid transparent;
  margin-left: 12px;
}
.btn-follow {
  background: #dadada;
  color: #000000;
}
.btn-unfollow {
  border: 1px solid #dadada;
  background: transparent;
  color: #000000;
}
.btn-subscribe {
  background: #45b0bf;
  color: #fff;
}
.btn-subscribe:disabled {
  background: transparent;
  color: #45b0bf;
  border: 1px solid #45b0bf;
}

.custom-container {
  padding: 40px;
}
.channel-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 24px;
}
img.channel-fake-img {
  height: 540px;
}
.channel-video-middle {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.video-channel-img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 30px;
}
.video-channel-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}
.like-block {
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 14px;
  height: 44px;
  width: 44px;
  margin-left: auto;
}
.like-block-icon-active .like-block-icon-svg {
  opacity: 1;
  --skin-color: #ff0000;
  width: 18px;
  height: 20px;
  margin-top: 2px;
}
.like-block-icon {
  --skin-color: #dadada;
  width: 18px;
  height: 20px;
  margin-top: 2px;
}
button.btn-more {
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 14px;
  height: 44px;
  width: 44px;
  margin-left: 12px;
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.ico-circle {
  width: 4px;
  height: 4px;
  background: #dadada;
  border-radius: 2px;
}
.circle-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}
.circle-wrap:last-child {
  margin-bottom: 0;
}
.channel-video-bot {
  margin-top: 13px;
}
.channel-des {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.16px;
  color: #000000;
}
.channel-cats {
  margin-top: 10px;
}

.channel-bot {
  margin-top: 95px;
}
.channel-tab {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #202020;
  padding: 0 8px;
  border: 1px solid transparent;
  margin-right: 24px;
  border-radius: 12px;
}
.channel-tab-active {
  color: #45b0bf;
  border-color: #45b0bf;
}
.tab-content {
  margin-top: 48px;
}
.channel-about-img {
  width: 128px;
  height: 128px;
  border-radius: 80px;
  border: 6px solid #01b7d0;
}
.channel-about {
  background: #fcfcfc;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 14px;
  padding: 48px 48px 210px;
}
.channel-about-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-left: 30px;
}
.channel-about-top {
  display: flex;
  align-items: center;
}
.tab-content-about {
  display: grid;
  grid-template-columns: 43% 1fr;
  grid-gap: 24px;
}
.channel-planned img {
  width: 100%;
  margin-bottom: 24px;
}
.channel-about-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.16px;
  border: 2px solid transparent;
  margin-right: 12px;
  margin-left: 0;
  padding: 10px 50px;
  background: #dadada;
  border-radius: 30px;
  width: 188px;
  height: 56px;
}
.channel-about-btn.btn-follow {
  background: #dadada;
  color: #000000;
}
.channel-about-btn.btn-unfollow {
  border: 2px solid #dadada;
  background: transparent;
  color: #000000;
}
.channel-about-btn.btn-subscribe {
  background: #45b0bf;
  color: #fff;
}
.channel-about-btn.btn-subscribe:disabled {
  background: transparent;
  color: #45b0bf;
  border: 2px solid #45b0bf;
}
.channel-about-btns {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}
.about-facebook {
  margin-right: 7px;
  margin-left: auto;
}
.about-twitter {
  margin-right: 7px;
}
.channel-about-counts {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.about-counts-wrap {
  display: flex;
  flex-wrap: wrap;
}
.about-counts-wrap div {
  width: 100%;
  text-align: center;
}
.about-counts-top {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.16px;
}
.about-counts-bot {
  margin-top: 8px;
  font-size: 22px;
  line-height: 28px;
  color: #7c7c7c;
}
.channel-about-des {
  margin-top: 40px;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.16px;
}
.about-cats-link-wrap {
  margin-top: 36px;
}
.about-cats-link {
  margin-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #45b0bf;
  display: block;
}
.channel-cats {
  margin-top: 10px;
  display: flex;
  position: relative;
}
.channel-cat a {
  font-size: 22px;
  line-height: 30px;
  color: #000000;
  margin-right: 32px;
}
// .channel-cat::after {
//     content: " ";
//     display: block;
//     background-color: #000;
//     width: 8px;
//     height: 8px;
//     border-radius: 4px;
//     align-self: center;
//     position: relative;
//     top: -18px;
//     left: -14px;
// }
.channel-cats > div + div::after {
  content: " ";
  display: block;
  background-color: #000;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  align-self: center;
  position: relative;
  top: -18px;
  left: -18px;
}
.channel-fake-img,
.channel-fake-img img {
  height: 540px;
  width: 960px;
  // background-image: url("/img/channel/channel-video.jpg");
}
