<template>
    <div class="main-stream">
        <div class="grid-container">
            <div class="stream">
                <img src="/img/main-stream.jpg" alt="">
            </div>
            <div class="small-1">
                <oneMediumVideo :video-items-count="videoCount" :test-video-id="141" />
            </div>
            <div class="small-2">
                <oneMediumVideo :video-items-count="videoCount" :test-video-id="142" />
            </div>
        </div>
    </div>
</template>

<script>
    import oneMediumVideo from '@/components/elements/oneMediumVideo'

    export default {
        name: "MainStream",
        components: {
            oneMediumVideo
        },
        data() {
            return {
                videoCount: 1,
            }
        },
        async created() {
            // let params = {
            //     take: 100
            // }
            // await this.$api.broadcasts.allPrivate(params)
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/home/main-stream.scss" />