<template>
    <div>
        <div class="popular">
            <h2 class="block-title">
                <span>Popular</span>
                <router-link to="/" class="see-all">See all</router-link>
            </h2>
            
            <smallVideoBlock :video-items-count="videoCount" class="small-video-block small-video-block-popular" />
        </div>
    </div>
</template>

<script>
    import smallVideoBlock from '../elements/smallVideoBlock.vue'


    export default {
        name: "Popular",
        components: {
            smallVideoBlock
        },
        data() {
            return {
                videoCount: 4,
                videoRowCounter: 1
            }
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/home/popular.scss" />
