<template>
    <div class="translation">
        <h1>test stream</h1>

        <video id="example-video" width="600" height="300" class="video-js vjs-default-skin"
               muted="muted"
               controls />
        <h1>live</h1>
               
        <div class="player">
            <video id="video" class="video-js" width="600" height="300"
                   autoplay />
        </div>
        
        <div v-if="isAPISupported">
            <div class="translation__controls-block">
                <div v-if="!translationStarted" class="btn-custom btn-start" @click="startTranslation">
                    <img src="img/play.svg" alt="">
                    Запустить трансляцию
                </div>

                <div v-if="translationStarted" class="btn-custom btn-stop" @click="stopTranslation">
                    <img src="img/stop.svg" alt="">
                    Завершить трансляцию
                </div>

                <div class="select-block">
                    <div class="camera-select">
                        <div class="camera-select__selected" :class="{disabled: translationStarted}" @click="showCamerasOptions()">
                            <img class="cam" src="/img/videocam.svg" alt="">
                            {{ currentCamera.label | trimLabel }}
                            <div v-if="!showCamerasOption" class="arrow-down"><img src="/img/arrow_drop_down.svg" alt=""></div>
                            <div v-else class="arrow-up"><img src="/img/arrow_drop_up.svg" alt=""></div>
                        </div>

                        <div v-if="showCamerasOption" class="camera-select__options">
                            <div v-for="(camera,index) in cameras" :key="index" class="camera-select__options-item"
                                 @click="selectCamera(camera)">
                                {{ camera.label | trimLabel }}
                            </div>
                        </div>
                    </div>  
          
                    <div class="microphone-select">
                        <div class="microphone-select__selected" :class="{disabled: translationStarted}" @click="showMicrophonesOptions()">
                            <img class="mic" src="/img/mic.svg" alt="">
                            {{ currentMicrophone.label | trimLabel }}
                            <div v-if="!showMicrophonesOption" class="arrow-down"><img src="/img/arrow_drop_down.svg" alt=""></div>
                            <div v-else class="arrow-up"><img src="/img/arrow_drop_up.svg" alt=""></div>
                        </div>

                        <div v-if="showMicrophonesOption" class="microphone-select__options">
                            <div v-for="(mic,index) in microphones" :key="index" class="microphone-select__options-item"
                                 @click="selectMicrophone(mic)">
                                {{ mic.label | trimLabel }}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div v-else>
            <div class="error">
                В вашем браузере не поддерживается API getUserMedia
            </div>
        </div>
        <button @click="testBtn">test</button>
    </div>
</template>

<script>
    import '@/../node_modules/video.js/dist/video-js.css'
    import videojs from 'video.js'
    import 'dashjs'
    import 'videojs-contrib-dash'



    
    export default {
        name: 'Translation',

        filters:{
            trimLabel: function(label){
                // if(label.length > 33){
                //     return label.slice(0,33)+'...'
                // }
                return label
            }
        },
        data(){
            return{
                video: null,
                translationStarted: false,
                stream: null,
                cameras: [],
                microphones: [],

                currentCamera: {},
                currentMicrophone: {},

                showCamerasOption: false,
                showMicrophonesOption: false,

                isAPISupported: false,
            }
        },
        async mounted(){
            this.video = document.getElementById('video')
            if (this.hasGetUserMedia()) {
                this.isAPISupported = true
            } else {
                alert('getUserMedia() is not supported in your browser')
            }

            if(this.isAPISupported){
                await this.getDevices()
            }


            var player = videojs('example-video')
            player.ready(function () {
                player.src({
                    src: 'https://stream.fitliga.com/cmaf/20348_68928/master.m3u8',
                    type: 'application/x-mpegURL'
                })
                player.play()
            })

        },
        methods:{
            testBtn() {
                // console.log('this.stream', this.stream.getTracks())
                console.log('getStream', this.getStream())
            },
            showMicrophonesOptions(){
                !this.translationStarted ? this.showMicrophonesOption = !this.showMicrophonesOption : null
            }, 
            showCamerasOptions(){
                !this.translationStarted ? this.showCamerasOption = !this.showCamerasOption : null
            }, 
            selectCamera(camera){
                if(!this.translationStarted){
                    this.currentCamera = camera
                    this.showCamerasOption = false
                }
            },

            selectMicrophone(mic){
                if(!this.translationStarted){
                    this.currentMicrophone = mic
                    this.showMicrophonesOption = false
                }
            },

            startTranslation(){
               
                let constraints = {
                    audio: { deviceId: this.currentMicrophone.deviceId },
                    video: {
                        deviceId: this.currentCamera.deviceId,
                        width: {
                            min: 320,
                            ideal: 1280,
                            max: 1920
                        },
                        height: {
                            min: 180,
                            ideal: 720,
                            max: 1080
                        },
                        frameRate: {
                            min: 10,
                            max: 30
                        }
                    }
                }

                navigator.mediaDevices
                    .getUserMedia(constraints)
                    .then(stream => this.getStream(stream))
                    .then(() => new Promise(resolve => (this.video.onloadedmetadata = resolve)))
                    .then(() => console.log(this.video.videoWidth + "x" + this.video.videoHeight))
                    .catch(e => console.log(e))

                this.translationStarted = !this.translationStarted
            },

            stopTranslation(){
                this.stream.getTracks().forEach(function(track) { track.stop() })
                this.translationStarted = !this.translationStarted
            },

            hasGetUserMedia() {
                // Note: Opera builds are unprefixed.
                return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                    navigator.mozGetUserMedia || navigator.msGetUserMedia)
            },

            getStream(stream){
                this.stream = stream
                const mediaStream = new MediaStream(stream)
                console.log('mediaStream', mediaStream.getVideoTracks())
                // console.log('stream', stream)
                this.video.srcObject = mediaStream
            },

            noStream(){},

            async getDevices(){
                this.devices = await navigator.mediaDevices.enumerateDevices()
                // console.log('this.devices', this.devices)
                this.microphones = this.devices.filter(device => device.kind == 'audioinput' && device.deviceId != 'default')
                this.cameras= this.devices.filter(device => device.kind == 'videoinput')
                //console.log(this.cameras);    
                this.currentCamera = this.cameras[0]
                this.currentMicrophone = this.microphones[0]
                //console.log(this.microphones);
            },
        }
    }
</script>

<style lang="scss" scoped>
  @import url('/fonts/stylesheet.css');
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .translation{
     font-family: 'HelveticaNeueCyr';
    .player{
      background-color: black;
      display: flex;
      justify-content: center;
    }
    video{
        height: 80vh;
        width: calc(80vh*16/9);
        //background-color: violet;
        object-fit: cover;
    }

    .btn-custom{
     
      cursor: pointer;
      width: 256px;
      font-size: 14px;
      line-height: 24px;
      color: #FFFFFF;
      padding: 4px 8px 4px 40px;
      margin-left: 208px;
      margin-top: 8px;
      position: relative;
      img{
        position: absolute;
      }
    }
    .btn-start{
      background: #28D474;
       img{
        top: 9px;
        left: 16px;
      }
    }
    .btn-stop{
      background: #D33629;
      img{
        top: 4px;
        left: 8px;
      }
    }

    &__controls-block{
      position: relative;
      display: flex;
      margin-right: 208px;
      .select-block{
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 0;
        top: 8px;
        .arrow-down{
          position: absolute;
          right: 14px;
          top: 2px;  
        }
        .arrow-up{
          position: absolute;
          right: 14px;
          top: 2px;  
        }
        .camera-select{
            margin-right: 32px;
            position: relative;

            
            &__selected{
              position: relative;
              padding: 4px 28px 4px 32px;
              width: 352px;
              border: 1px solid #E6E6E6;
              
              &.disabled{
                background: #F2F2F2;
                color: #999999;
              }
              img.cam{
                position: absolute;
                left: 10px;
                top: 12px;
            }
          }
          &__options-item{
              padding: 4px 28px 4px 32px;
              width: 352px;
              border: 1px solid #E6E6E6;
              border-top:none;
          }
        }
        .microphone-select{
            position: relative;
            &__selected{
              position: relative;
              padding: 4px 28px 4px 32px;
              width: 352px;
              height: 32px;
              border: 1px solid #E6E6E6;
              &.disabled{
                background: #F2F2F2;
                color: #999999;
              }
              img.mic{
                position: absolute;
                left: 8px;
                top: 8px;
            }
          }
          &__options-item{
              padding: 4px 28px 4px 32px;
              width: 352px;
              border: 1px solid #E6E6E6;
              border-top:none;
          }
        }
      }
    }
  }
  
  </style>
