<template>
    <div :class="['side-bar', { 'collapse-sidebar': showSidebar }]">
        <div class="side-bar-menu">
            <router-link to="/" class="side-bar-menu-item">
                <img src="/img/app/layout/home.svg" alt="">
                <span v-if="showSidebar" class="link-title">Home</span>
            </router-link>

            <router-link to="/popular" class="side-bar-menu-item">
                <img src="/img/app/layout/popular.svg" alt="">
                <span v-if="showSidebar" class="link-title">Popular</span>
            </router-link>

            <router-link to="/recommendation" class="side-bar-menu-item">
                <img src="/img/app/layout/recommendation.svg" alt="">
                <span v-if="showSidebar" class="link-title">Recommendation</span>
            </router-link>

            <button class="side-bar-menu-item">
                <router-link to="/subscriptions" class="side-bar-menu-item">
                    <svg class="user-plus-icon">
                        <use xlink:href="/img/app/layout/user-plus-icon.svg#user-plus-icon" />
                    </svg>
                    <span v-if="showSidebar" class="link-title">Subscriptions</span>
                </router-link>

                <button v-if="showSidebar" @click="hideSubsList = !hideSubsList">
                    <svg :class="['arrow-down-icon', { 'arrow-down-icon-up': hideSubsList }]">
                        <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                    </svg>
                </button>
            </button>

            <div v-if="isNoHaveSubs && showSidebar && !hideSubsList" class="no-have-subs">
                You have no subscriptions
            </div>
            <div v-if="!hideSubsList && !isNoHaveSubs" class="subs-list">
                <router-link v-for="(subsItem, idx) in sortSubscribtions" :key="idx" :to="`channel/${subsItem.name}`" class="subs-list-item">
                    <div class="subs-list-coach">
                        <img class="subs-list-avatar" :src="subsItem.backgroundUrl" alt="">
                        <span v-if="showSidebar" class="subs-list-name">{{ subsItem.name }}</span>
                    </div>
                    <div v-if="showSidebar" class="subs-count">
                        <div :class="['subs-offline-ico', { 'subs-online-ico': subsItem.activeBroadcast }]" />
                        <div class="subs-count-value">
                            {{ formatWatching(subsItem.subscribersCount) }}
                        </div>
                    </div>
                </router-link>
                <div v-if="showSidebar && isMoreFiveSubscribers" class="subs-show-more" @click="switchShowMoreSubs">
                    <span v-if="!showMoreSubs && showSidebar">Show More</span>
                    <span v-else>Show Less</span>
                </div>
                <div v-else-if="!showSidebar && isMoreFiveSubscribers" class="subs-show-more" @click="switchShowMoreSubs">
                    <img src="/img/app/layout/more.svg" alt="">
                </div>
                <div v-else class="subs-show-more-space" />
            </div>

            <button class="side-bar-menu-item">
                <router-link to="/categories" class="side-bar-menu-item">
                    <img src="/img/app/layout/categories.svg" alt="">
                    <span v-if="showSidebar" class="link-title">Categories</span>
                </router-link>

                <button v-if="showSidebar" @click="hideCatList = !hideCatList">
                    <svg :class="['arrow-down-icon', { 'arrow-down-icon-up': hideCatList }]">
                        <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                    </svg>
                </button>
            </button>

            <div v-if="showSidebar">
                <div v-if="!hideCatList" class="subs-list cats-list">
                    <router-link v-for="(category, idx) in showCatsList" :key="idx" :to="categoryPath(category)" class="subs-list-item">
                        <div class="subs-list-coach changeClassName">
                            <span class="subs-list-name">{{ category.title }}</span>
                        </div>
                    </router-link>
                    <div class="subs-show-more" @click="switchShowMoreCats">
                        <span v-if="!showMoreCats">Show More</span>
                        <span v-else>Show Less</span>
                    </div>
                </div>
            </div>

            <router-link to="/timetable" class="side-bar-menu-item">
                <img src="/img/app/layout/clock.svg" alt="">
                <span v-if="showSidebar" class="link-title">Timetable</span>
            </router-link>

            <router-link to="/history" class="side-bar-menu-item">
                <img src="/img/app/layout/history.svg" alt="">
                <span v-if="showSidebar" class="link-title">History</span>
            </router-link>
            <div class="toggle-side-bar side-bar-menu-item">
                <button @click="toggleSidebar">
                    <img src="/img/app/layout/arrow-right.svg" alt="" :class="['arrow-right', { 'arrow-left': showSidebar }]">
                    <!-- <svg :class="['arrow-down-icon', { 'arrow-down-icon-left': showSidebar }]">
                        <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                    </svg> -->
                </button>
            </div>
        </div>
        <!-- <button @click="testBtn">testBtn</button> -->

        <div v-if="showSidebar" class="footer-menu">
            <div v-for="(menuItem, idx) in bottomMenuItems" :key="idx" class="footer-menu-wrap">
                <router-link class="footer-menu-item" to="/">
                    {{ menuItem }}
                </router-link>
            </div>
            <div class="footer-copy-right">©2021 FitMeet </div>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        name: 'SideBar',
        data() {
            return {
                bottomMenuItems: ['About', 'How it works', 'Help', 'Terms of service', 'Privacy notice', 'Cookie policy', 'DMCA', 'Contact us'],

                hideSubsList: false,
                showMoreSubs: false,
                showSubsListCountStart: 5,
                showSubsListCount: 5,

                hideCatList: false,
                showMoreCats: false,
                showCatsListCountStart: 10,
                showCatsListCount: 10,

                categories: [],
                showSidebar: true,
                windowWidth: window.innerWidth,
            }
        },
        computed: {
            ...mapState(['subscriptions']),
            showSubsList() {
                return this.subscriptions.slice(0, this.showSubsListCount)
            },
            showCatsList() {
                return this.categories.slice(0, this.showCatsListCount)
            },
            isMoreFiveSubscribers() {
                return this.subscriptions.length > 5 ? true : false
            },
            isNoHaveSubs() {
                return this.subscriptions.length === 0 ? true : false
            },
            sortSubscribtions() {
                return [...this.subscriptions].sort((a, b) => b.subscribersCount - a.subscribersCount).slice(0, this.showSubsListCount)
            }
        },
        watch: {
            windowWidth() {
                this.checkSize()
            },
            sortSubscribtions() {
                if(this.showMoreSubs) {
                    this.showSubsListCount = this.subscriptions.length
                }
            }
        },
        async created() {
            let res = await this.$api.broadcasts.getCategories()
            this.categories = res.data
            
            // response
            window.addEventListener('resize', this.onResize)
            this.windowWidth = window.innerWidth
            this.checkSize()
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize) 
        },
        methods: {
            // testBtn() {
            //     console.log('subscriptions', this.subscriptions)
            // },
            switchShowMoreSubs() {
                this.showMoreSubs = !this.showMoreSubs
                if(this.showMoreSubs) {
                    this.showSubsListCount = this.subscriptions.length
                } else {
                    this.showSubsListCount = this.showSubsListCountStart
                }
            },
            switchShowMoreCats() {
                this.showMoreCats = !this.showMoreCats
                if(this.showMoreCats) {
                    this.showCatsListCount = this.categories.length
                } else {
                    this.showCatsListCount = this.showCatsListCountStart
                }
            },
            categoryPath(category) {
                // const nameCleaned = name.replace(/\s/g, '')
                return '/category/' + category.title.replace(/\s/g, '-').toLowerCase()
            },
            formatWatching(count) {
                if(count < 1000) {
                    return count
                } else if(count < 10000) {
                    return (count / 1000).toFixed(1) + 'k'
                } else {
                    return Math.round(count / 1000) + 'k'
                }
            },
            toggleSidebar() {
                this.hideCatList = true
                this.showSidebar = !this.showSidebar
            },
            checkSize() {
                if(window.innerWidth <= 1280) {
                    this.showSidebar = false
                    // console.log('1280')
                } else if(window.innerWidth <= 1584) {
                    this.showSidebar = true
                } else {
                    this.showSidebar = true
                }
            },
            onResize() {
                this.windowWidth = window.innerWidth
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/layout/side-bar.scss" />
