.title-wrap {
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 66px;
}
.title-wrap span {
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0.16px;
}
.control {
  display: flex;
  margin-left: 34px;
}
.page-nav {
  height: 50px;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
}
.arrow-down {
  --skin-color: #9f9f9f;
  width: 21px;
  height: 13px;
}
.btn-prev .arrow-down {
  transform: rotate(90deg);
  margin-top: 3px;
}
.btn-next .arrow-down {
  transform: rotate(270deg);
}
.btn-prev,
.btn-next {
  height: 48px;
  width: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-prev {
  border-right: 1px solid #9f9f9f;
}
.btn-callendar {
  width: 60px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.content-wrap {
  margin-top: 66px;
}
.timetable-happened-row.timetable-row {
  height: 333px;
  display: flex;
}
.time-line-block-happend,
.time-line-block-now {
  background: #9bf3ff;
}
.next-day-wrap .time-line-block-happend,
.next-day-wrap .time-line-block-now {
  background: transparent;
}
.time-line-block {
  min-width: 2px;
  position: relative;
}
.is-current-hour .time-line-block-happend::after {
  content: " ";
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #9bf3ff;
  display: block;
  left: -6px;
  position: absolute;
  bottom: 0;
}
.timetable-next-hours-row .time-line-block {
  background-color: #fff;
}
.hour-block {
  width: 189px;
  min-width: 189px;
  display: flex;
  justify-content: flex-end;
}
.hour-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.16px;
  color: #9f9f9f;
  margin-right: 26px;
}
.is-current-hour .hour-title,
.hour-title.hour-title-no-started {
  color: #000;
}
// video block
.video-list-wrap {
  display: grid;
  grid-gap: 24px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(291px, 1fr);
  overflow-x: auto;
}
.video-item {
  background-size: cover;
  color: #000;
  display: flex;
  max-width: 285px;
  width: 285px !important;
  flex-wrap: wrap;
}
.video-item-flag {
  border-radius: 0px 27px 27px 0px;
  height: 20px;
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.16px;
  display: flex;
  align-items: center;
}
.video-item-flag-new {
  padding: 0 6px 0 10px;
  background: #ff0000;
  color: #ffffff;
  min-width: 56px;
}
.video-item-flag-popular {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #ff0000;
}
.video-item-condition {
  background-color: #717171;
  color: #ffffff;
  border-radius: 16px;
  height: 20px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.16px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding: 4px 8px;
  box-sizing: border-box;
}
.record-on-icon {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ff0030;
}
.record-off-icon {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #707171;
  margin-left: 6px;
}
.video-item-condition-text {
  margin-left: 6px;
  font-size: 12px;
}
.icon-eye {
  width: 15px;
  height: 10px;
  margin-left: 9px;
  align-self: center;
}
.video-item-condition-count {
  margin-left: 5px;
  margin-right: 8px;
  font-size: 11px;
}
.icon-circle {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  align-self: center;
  margin-left: 8px;
}
.video-condition-offline {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: "liga" off, "kern" off;
  align-self: center;
  color: #fff;
}
.category-tags {
  display: flex;
  align-items: center;
}
.category-tags > div {
  font-size: 12px;
  line-height: 16px;
  margin-right: 16px;
  cursor: pointer;
  height: 16px;
}
.video-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-top: 9px;
  display: inline-block;
  cursor: pointer;
  
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.category-tags > div + div::after {
  content: " ";
  display: block;
  background-color: #000;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  align-self: center;
  position: relative;
  top: -10px;
  left: -11px;
}
.like-block svg {
  width: 18px;
  height: 16px;
  cursor: pointer;
}
.like-block-icon {
  opacity: 0.6;
  --skin-color: #fff;
}
.like-block-icon-active {
  opacity: 1;
  --skin-color: #ff0000;
}
.bot-section {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}
.user-block {
  display: flex;
}
img.user-block-avatar {
  width: 24px;
  height: 24px;
}
.video-user-name {
  align-self: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.16px;
  cursor: pointer;
  color: #000000;
}
.video-planed-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: "liga" off, "kern" off;
  color: #ffffff;
  align-self: center;
}
.video-item-blur {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}
.video-item-blur-wrap .video-item-blur-over {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}
.video-top {
  height: 164px;
  justify-content: space-between;
  padding: 10px 14px 14px 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
button.like-block {
  align-self: flex-end;
  height: 16px;
}
.video-bot {
  padding: 9px 16px 16px;
  min-height: 169px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
}
.videos-block {
  overflow: hidden;
  max-width: 1212px;
  margin-left: 70px;
}
.custom-container {
  padding-right: 0;
  padding-top: 0;
}
.title-wrap-tomorrow {
  margin-top: 80px;
}
.hour-block,
.videos-block {
  margin-top: 118px;
}
.timetable-happened-row .hour-block,
.timetable-happened-row .videos-block {
  margin-top: 0;
}
.timetable-row-wrap:first-child .hour-block,
.timetable-row-wrap:first-child .videos-block {
  margin-top: 0;
}
.timetable-happened-row .video-item {
  opacity: 0.5;
}
.timetable-row {
  display: flex;
}
.past-broadcasts .video-item,
.started-stream,
.past-day-wrap .video-item {
  opacity: 0.5;
}
.future-day-wrap .video-item {
  opacity: 1;
}
.show-past-btn-wrap {
  position: relative;
}
.show-past-btn,
.show-future-btn {
  height: 50px;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  margin: 24px 0 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(32, 32, 32, 0.8);
  text-align: center;
  padding: 14px;
}

// animation
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(50%, 0%);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
@media all and (min-width: 1281px) and (max-width: 1584px) {
  .video-list-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  .video-item-blur {
    width: 100%;
  }
  .title-wrap {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .custom-container {
    padding-left: 20px;
  }
  .hour-title {
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
  }
  .hour-block {
    width: 77px;
    min-width: 77px;
  }
  .videos-block {
    margin-left: 26px;
  }
  .video-item-flag {
    font-size: 12px;
    line-height: 18px;
  }
  .video-top {
    height: 102px;
    padding: 10px 10px 11px 0;
  }
  .video-item {
    max-width: 169px;
    width: 169px !important;
      margin-right: 20px !important;
    display: initial;
  }
  .video-bot {
    padding: 8px;
    min-height: 91px;
  }
  .category-tags > div {
    font-size: 10px;
    margin-right: 10px;
  }
  .category-tags > div + div::after {
    left: -7px;
  }
  .video-title {
    font-size: 12px;
    line-height: 16px;
    margin-top: 1px;
//     min-height: 52px;
  }
  .video-user-name {
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
  }
  .video-item-condition {
    height: 13px;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px;
  }
  .hour-block,
  .videos-block {
    margin-top: 70px;
  }
  .videos-block {
    max-width: 925px;
  }
  .video-planed-text {
    font-size: 10px;
    line-height: 16px;
  }
  .video-item-condition-text {
    margin-left: 6px;
    font-size: 8px;
    margin-right: 4px;
  }
}
@media all and (max-width: 1280px) {
  .video-list-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  .video-item-blur {
    width: 100%;
  }
}
