<template>
    <div class="profile-page">
        <StreamsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                Add Broadcast
            </div>
            <div class="edit-profile-block">
                <div class="edit-profile-right">
                    <div class="user-data">
                        <div class="form-group">
                            <label for="name">channelId</label>
                            <input id="channelId" v-model="data.channelId" type="text" class="profile-page-input">
                        </div>

                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input id="name" v-model="data.name" type="text" class="profile-page-input">
                        </div>

                        <div class="form-group">
                            <label for="name">type</label>
                            <input id="type" v-model="data.type" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">access</label>
                            <input id="access" v-model="data.access" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">hasChat*</label>
                            <input id="hasChat" v-model="data.hasChat" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">isPlanned*</label>
                            <input id="isPlanned" v-model="data.isPlanned" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">onlyForSponsors*</label>
                            <input id="onlyForSponsors" v-model="data.onlyForSponsors" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">onlyForSubscribers*</label>
                            <input id="onlyForSubscribers" v-model="data.onlyForSubscribers" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="form-group">
                            <label for="name">categoryIds*</label>
                            <input id="categoryIds" v-model="data.categoryIds" type="text" class="profile-page-input">
                        </div>

                        <div v-if="false" class="form-group">
                            <label for="name">scheduledStartDate*</label>
                            <input id="scheduledStartDate" v-model="data.scheduledStartDate" type="text" class="profile-page-input"
                                   disabled>
                        </div>

                        <div class="save-btn-wrap">
                            <button class="save-btn" @click="send">Add</button>
                        </div>
                        <br>
                        <br>
                        <a v-if="broadcastLink" :href="broadcastLink">go to broadcast</a>
                        <br>
                        <br>
                        <div>{{ statusText }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StreamsMenu from './menu'


    export default {
        name: 'AddBroadcast',
        components: {
            StreamsMenu
        },
        data() {
            return {
                broadcastLink: '',
                statusText: '',

                data: {
                    channelId: null,
                    name: "Test web broadcast ",
                    type: "STANDARD",
                    access: "ALL",
                    hasChat: true,
                    isPlanned: true,
                    onlyForSponsors: false,
                    onlyForSubscribers: false,
                    categoryIds: [
                        28
                    ],
                    scheduledStartDate: "2021-05-30T10:47:46.045Z"
                },

                onSend: false,
            }
        },
        computed: {
            channelId() {
                return +this.channelId
            }
        },
        mounted() {
            if(this.$route.params.id) {
                console.log("🚀 ~ file: AddBroadcast.vue ~ line 109 ~ mounted ~ this.$route.params.id", this.$route.params.id)
                this.data.channelId = this.$route.params.id
            }
        },
        methods: {
            async send() {
                if(this.onSend) return false
                this.onSend = true
                console.log('send', this.data)

                this.data.channelId = +this.data.channelId
                let res = await this.$api.broadcasts.create(this.data)
                console.log('res', res)
                console.log('response', res.response)


                if(res) {
                    this.statusText = 'broadcast success created'
                    this.broadcastLink = '/broadcast/'+res.id
                    setTimeout(() => this.statusText = "", 5000)
                } else {
                    this.statusText = 'error' + res.response.data
                    setTimeout(() => this.statusText = "", 15000)
                }


                this.onSend = false
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style lang="scss" scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    input:disabled {
        background-color: #ececec;
    }
    input:disabled:hover {
        border: 1px solid #bbbcbc;
    }
    body .save-btn-wrap {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
</style>
