<template>
    <div class="profile-page">
        <StreamsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                Add Stream
            </div>
            <div class="edit-profile-block">
                <div class="edit-profile-right">
                    <div class="user-data">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input id="name" v-model="data.name" type="text" class="profile-page-input"
                                   disabled>
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input id="title" v-model="data.title" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" v-model="data.description" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="background-url">background Url</label>
                            <input id="background-url" v-model="data.backgroundUrl" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="facebook-link">Facebook Link</label>
                            <input id="facebook-link" v-model="data.facebookLink" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="instagram-link">Instagram Link</label>
                            <input id="instagram-link" v-model="data.instagramLink" type="text" class="profile-page-input">
                        </div>
                    </div>

                    <div class="user-data">
                        <div class="form-group">
                            <label for="twitter-link">Twitter Link</label>
                            <input id="twitter-link" v-model="data.twitterLink" type="text" class="profile-page-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="save-btn-wrap">
            <button class="save-btn" @click="send">Save</button>
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import StreamsMenu from './menu'

    export default {
        name: 'AddChannel',
        components: {
            StreamsMenu
        },
        data() {
            return {
                data: {
                    name: "Web stream",
                    userId: null,
                    broadcastId: null
                },

                onSend: false,
            }
        },
        computed: {
            ...mapState(['user']),
        },
        created() {
            this.data.name = this.user.username
        },
        methods: {
            async send() {
                if(this.onSend) return false
                this.onSend = true

                console.log("🚀 ~ file: AddStream.vue ~ line 100 ~ send ~ this.data", this.data)
                await this.$api.streams.create(this.data)

                this.onSend = false
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style lang="scss" scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    body .save-btn-wrap {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
</style>
