<template>
    <div class="profile-page">
        <StreamsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                Broadcast - {{ broadcast.name }}
            </div>
            <div class="edit-profile-block">
                <table>
                    <thead>
                        <tr>
                            <th>Prop</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(prop, name) in broadcast" :key="name">
                            <td>{{ name }}</td>
                            <td>{{ prop }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="edit-profile-left">
                <input ref="userAvatar" type="file" class="input-file-user-avatar" @change="onFileChange">
                <button :class="['profile-avatar-load-img', { 'hide-border': imageAvatar }]" :style="`background-image: url(${imageAvatar}); border-radius: inherit;`"
                        @click="$refs.userAvatar.click()">
                    <svg v-if="!imageAvatar">
                        <use xlink:href="/img/app/profile/load-img.svg#load-img" />
                    </svg>
                </button>
                <button @click="saveImage">Save image</button>
            </div>
            <br>
            <br>
                
            <label for="add-category">Add category</label>
            <input id="add-category" v-model="addedСategory" type="number" min="1"
                   placeholder="id">
            <button @click="addCategory">add</button>
            <br>
            <br>
            <label for="add-category">Remove category</label>
            <input id="remove-category" v-model="removedСategory" type="number" min="1"
                   placeholder="id">
            <button @click="removeCategory">remove</button>
            <br>
            <br>
            <template v-if="showStartStream">
                <button @click="startStream">Start Stream</button>
                <br>
                <br>
                <button @click="stopStream">Stop Stream</button>
                <br>
                <br>
                <button @click="startBroadcast">Start Broadcast</button>
                <br>
                <br>
                <button @click="stopBroadcast">Stop Broadcast</button>
                <br>
                <br>
                <span>broadcast status: {{ broadcast.status }}</span>
                <br>
                <br>
            </template>

            <span v-if="statusText">{{ statusText }}</span>


            <template v-if="showStartStream">
                <!-- <h2>{{ broadcast.streams[0].name }}</h2> -->
                <iframe allow="camera;microphone" :src="`https://vplatform.gcdn.co/vp_browsercast_frontend/v0.0.92/#/?server=vp-cast.gvideo.co&streamId=${startStreamData.streamId}&token=${startStreamData.token}`" frameborder="0" />
                <router-link style="display: block;" :to="`/show-broadcast/${broadcast.id}`">Watch stream</router-link>
            </template>
            <template v-else>
                <div class="edit-profile-block">
                    <div class="edit-profile-right">
                        <div class="user-data">
                            <div class="form-group">
                                <label for="name">Name*</label>
                                <input id="name" v-model="newStream.name" type="text" class="profile-page-input">
                            </div>
                            <div class="form-group">
                                <label for="name">broadcastId</label>
                                <input id="type" v-model="newStream.broadcastId" type="text" class="profile-page-input"
                                       disabled>
                            </div>
                            <div class="save-btn-wrap">
                                <button class="save-btn" @click="createStream">Create Stream</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    import StreamsMenu from './menu'

    export default {
        name: 'Broadcast',
        components: {
            StreamsMenu
        },
        data() {
            return {
                broadcast: [],
                onSend: false,

                addedСategory: null,
                removedСategory: null,
                statusText: '',

                newStream: {
                    name: "Web stream",
                    // userId: null,
                    broadcastId: null
                },

                imageAvatar: null,
                newImage: null,
                newAvatarImage: null,

                showStartStream: false,
                startStreamData: {
                    streamId: null,
                    token: null
                }
            }
        },
        created() {
            this.getData()
            
        },
        methods: {
            async getData() {
                if(this.onSend) return false
                this.onSend = true

                if(this.$route.params?.id) {
                    let res = await this.$api.broadcasts.get(this.$route.params.id)
                    this.broadcast = res
                }
                if(this.broadcast.streams.length) {
                    this.startStreamData.streamId = this.broadcast.streams[0].gcoreId // make loop for each stream
                    this.startStreamData.token = this.broadcast.streams[0].token // make loop for each stream
                    this.showStartStream = true
                }

                // this.newStream.userId = this.broadcast.userId
                this.newStream.broadcastId = this.broadcast.id
                this.onSend = false
            },
            async createStream() {
                // console.log('createStream', this.newStream)
                let res = await this.$api.streams.create(this.newStream)

                if (res instanceof Error) {
                    return res
                }

                this.startStreamData.streamId = res.gcoreId
                this.startStreamData.token = res.token
                this.showStartStream = true

                // console.log('res', res)
                // console.log('res', res.response)
            },
            async addCategory() {
                if(this.onSend) return false
                this.onSend = true

                let data = {
                    "addCategoryIds": [
                        +this.addedСategory
                    ],
                }
                
                let res = await this.$api.broadcasts.update(this.broadcast.id, data)
                if (res instanceof Error) {
                    console.log("🚀 ~ file: Broadcast.vue ~ line 129 ~ save ~ res", res.response)
                    return res
                }
                this.statusText = 'category success added'
                setTimeout(() => this.statusText = "", 5000)
                console.log("🚀 ~ file: Broadcast.vue ~ line 129 ~ save ~ res", res)
                this.onSend = false
            },
            async removeCategory() {
                if(this.onSend) return false
                this.onSend = true

                let data = {
                    "removeCategoryIds": [
                        +this.removedСategory
                    ],
                }
                
                let res = await this.$api.broadcasts.update(this.broadcast.id, data)
                if (res instanceof Error) {
                    console.log("🚀 ~ file: Broadcast.vue ~ line 129 ~ save ~ res", res.response)
                    return res
                }
                this.statusText = 'category success removed'
                setTimeout(() => this.statusText = "", 5000)
                console.log("🚀 ~ file: Broadcast.vue ~ line 129 ~ save ~ res", res)
                this.onSend = false
            },
            async startStream() {
                let res = await this.$api.streams.start(this.broadcast.streams[0].id)
                if (res instanceof Error) {
                    console.log("🚀 ~ file: Broadcast.vue ~ line 129 ~ save ~ res", res.response)
                    return res
                }
                console.log("🚀 ~ file: Broadcast.vue ~ line 188 ~ startStream ~ res", res)
                this.statusText = 'category success started'
                setTimeout(() => this.statusText = "", 3000)
            },
            async stopStream() {
                let res = await this.$api.streams.stop(this.broadcast.streams[0].id)
                if (res instanceof Error) {
                    console.log("🚀 ~ file: Broadcast.vue ~ line 129 ~ save ~ res", res.response)
                    return res
                }
                console.log("🚀 ~ file: Broadcast.vue ~ line 192 ~ stopStream ~ res", res)
                this.statusText = 'category success stoped'
                setTimeout(() => this.statusText = "", 3000)
            },
            // second option
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files
                if (!files.length)
                    return
                console.log("🚀 ~ file: Broadcast.vue ~ line 240 ~ onFileChange ~ files[0]", files[0])
                this.createImage(files[0])
            },
            async createImage(file) {
                this.newAvatarImage = file
                // let imageAvatar = new Image()
                let reader = new FileReader()
                let vm = this
                // imageAvatar

                reader.onload = e => {
                    vm.imageAvatar = e.target.result
                }
                reader.readAsDataURL(file)
            },
            async saveImage() {
                if(this.newAvatarImage) {
                    console.log("🚀 ~ file: Broadcast.vue ~ line 283 ~ saveImage ~ this.newAvatarImage", this.newAvatarImage)
                    let formData = new FormData()
        
                    formData.append('files', this.newAvatarImage)
                    console.log("🚀 ~ file: Broadcast.vue ~ line 283 ~ saveImage ~ formData", formData)
                    let res = await this.$api.profile.uploadFiles(formData)
                    console.log("🚀 ~ file: Broadcast.vue ~ line 289 ~ saveImage ~ res", res)
                    console.log("🚀 ~ file: Broadcast.vue ~ line 289 ~ saveImage ~ res", res.responce)
                    
                    // if (res instanceof Error) {
                    //     console.log('error')
                    // } else {
                    //     console.log("🚀 ~ file: Broadcast.vue ~ line 296 ~ saveImage ~ res", res)
                    //     console.log("🚀 ~ file: Broadcast.vue ~ line 296 ~ saveImage ~ res", res.response)
                    this.broadcast.previewPath = res.data[0].filename
                    res = await this.$api.broadcasts.update(this.broadcast.id, { previewPath: res.data[0].filename })
                    console.log("🚀 ~ file: Broadcast.vue ~ line 254 ~ sendImage ~ res", res)

                    // }
                    
                }
            },
            async startBroadcast() {
                let res = await this.$api.broadcasts.start(this.broadcast.id)
                console.log("🚀 ~ file: Broadcast.vue ~ line 313 ~ startBroadcast ~ res", res)
            },
            async stopBroadcast() {
                let res = await this.$api.broadcasts.stop(this.broadcast.id)
                console.log("🚀 ~ file: Broadcast.vue ~ line 317 ~ stopBroadcast ~ res", res)
            },
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style lang="scss" scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    input:disabled {
        background-color: #ececec;
    }
    input:disabled:hover {
        border: 1px solid #bbbcbc;
    }
    body .save-btn-wrap {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
    table {
        max-width: 960px;
        font-size: 14px;
    }

    caption {
        font-size: 1.6em;
        font-weight: 400;
        padding: 10px 0;
    }

    thead th {
        font-weight: 400;
        background: #8a97a0;
        color: #FFF;
    }

    tr {
        background: #f4f7f8;
        border-bottom: 1px solid #FFF;
        margin-bottom: 2px;
    }

    tr:nth-child(even) {
        background: #e8eeef;
    }

    th, td {
        text-align: left;
        padding: 5px;
        font-weight: 300;
    }

    tfoot tr {
        background: none;
    }

    tfoot td {
        padding: 5px 2px;
        font-size: 0.8em;
        font-style: italic;
        color: #8a97a0;
    }
    iframe {
        width: 340px;
        height: 800px;
    }
</style>
