<template>
    <div class="profile-page">
        <StreamsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                Broadcasts
            </div>
            <div class="edit-profile-block">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>userId</th>
                            <th>name</th>
                            <th>type</th>
                            <th>access</th>
                            <th>isPlanned</th>
                            <th>status</th>
                            <th>onlyForSubscribers</th>
                            <th>onlyForSponsors</th>
                            <th>categories</th>
                            <th>watch</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="broadcast in broadcasts" :key="broadcast.id">
                            <td>{{ broadcast.id }}</td>
                            <td>{{ broadcast.userId }}</td>
                            <td> <router-link :to="`/broadcast/${broadcast.id}`">{{ broadcast.name }}</router-link></td>
                            <td>{{ broadcast.type }}</td>
                            <td>{{ broadcast.access }}</td>
                            <td>{{ broadcast.isPlanned }}</td>
                            <td>{{ broadcast.status }}</td>
                            <td>{{ broadcast.onlyForSubscribers }}</td>
                            <td>{{ broadcast.onlyForSponsors }}</td>
                            <td>{{ broadcast.categories.length ? broadcast.categories[0].title.default : '' }}</td>
                            <td> <router-link :to="`/show-broadcast/${broadcast.id}`">watch</router-link> </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div class="save-btn-wrap">
                <button class="save-btn" @click="send">Create stream</button>
            </div> -->
        </div>
    </div>
</template>

<script>
    import StreamsMenu from './menu'

    export default {
        name: 'Broadcasts',
        components: {
            StreamsMenu
        },
        data() {
            return {
                broadcasts: [],

                onSend: false,

                params: {
                    sort: 'id',
                    order: 'DESC',
                    take: 500,
                    page: 1
                }
            }
        },
        async created() {
            let res = await this.$api.broadcasts.all(this.params)
            console.log("🚀 ~ file: Broadcasts.vue ~ line 72 ~ created ~ res", res)
            this.broadcasts = res.data
        },
        methods: {
            // async send() {
            //     if(this.onSend) return false
            //     this.onSend = true

            //     await this.$api.broadcasts.create(this.data)

            //     this.onSend = false
            // }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style lang="scss" scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    input:disabled {
        background-color: #ececec;
    }
    input:disabled:hover {
        border: 1px solid #bbbcbc;
    }

    table {
        max-width: 960px;
        font-size: 14px;
    }

    caption {
        font-size: 1.6em;
        font-weight: 400;
        padding: 10px 0;
    }

    thead th {
        font-weight: 400;
        background: #8a97a0;
        color: #FFF;
    }

    tr {
        background: #f4f7f8;
        border-bottom: 1px solid #FFF;
        margin-bottom: 2px;
    }

    tr:nth-child(even) {
        background: #e8eeef;
    }

    th, td {
        text-align: left;
        padding: 5px;
        font-weight: 300;
    }

    tfoot tr {
        background: none;
    }

    tfoot td {
        padding: 5px 2px;
        font-size: 0.8em;
        font-style: italic;
        color: #8a97a0;
    }

</style>
