<template>
    <div class="channel-menu">
        <!-- <router-link to="/add-stream">AddStream</router-link> -->
        <router-link to="/add-broadcast/6">AddBroadcast</router-link>
        <router-link to="/broadcasts">Broadcasts</router-link>
        <router-link to="/my-channels">My Channels</router-link>
        <!-- <router-link to="/show-broadcast">ShowBroadcast</router-link> -->
    </div>
</template>

<script>
    export default {
        name: 'ShowBroadcast',
        data() {
            return {
                
            }
        },
    }
</script>

<style scoped>
    .channel-menu {
        margin-bottom: 20px;        
        width: 100%;
    }
    .channel-menu a {
        margin: 0 10px;
    }
</style>
