
<template>
    <div class="profile-page">
        <StreamsMenu />
        <div class="edit-profile-wrap">
            <div class="edit-profile-title">
                <!-- Broadcast - {{ broadcast.name }} -->
                <video id="example-video" width="600" height="300" class="video-js vjs-default-skin"
                       muted="muted"
                       controls />
            </div>
        </div>
    </div>
</template>

<script>
    import '@/../node_modules/video.js/dist/video-js.css'
    import videojs from 'video.js'
    import 'dashjs'
    import 'videojs-contrib-dash'
    import StreamsMenu from './menu'

    export default {
        name: 'ShowBroadcast',
        components: {
            StreamsMenu
        },
        data() {
            return {
                onSend: false
            }
        },
        created() {
        },
        async mounted(){
            
            this.getData()
        },
        methods:{
            async getData() {
                if(this.onSend) return false
                this.onSend = true

                if(this.$route.params?.id) {
                    let res = await this.$api.broadcasts.get(this.$route.params.id)
                    console.log("🚀 ~ file: ShowBroadcast.vue ~ line 46 ~ getData ~ res", res)
                    
                    let player = videojs('example-video')
                    player.ready(function () {
                        player.src({
                            src: res.streams[0].dashUrl, // make loop for each stream
                            // src: 'https://stream.fitliga.com/cmaf/20348_70950/index.mpd',
                            type: 'application/x-mpegURL'
                        })
                        player.play()
                    })
                }
                // if(this.broadcast.streams.length) {
                //     this.startStreamData.streamId = this.broadcast.streams[0].streamId // make loop for each stream
                //     this.startStreamData.token = this.broadcast.streams[0].token // make loop for each stream
                //     this.showStartStream = true
                // }
                this.onSend = false
            },
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/profile/profile.scss" />
<style lang="scss" scoped>
    .edit-profile-wrap {
        min-height: auto;
    }
    .profile-page {
        padding: 20px 2.6rem;
        display: initial;
    }
    input:disabled {
        background-color: #ececec;
    }
    input:disabled:hover {
        border: 1px solid #bbbcbc;
    }
    body .save-btn-wrap {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
    }
    table {
        max-width: 960px;
        font-size: 14px;
    }

    caption {
        font-size: 1.6em;
        font-weight: 400;
        padding: 10px 0;
    }

    thead th {
        font-weight: 400;
        background: #8a97a0;
        color: #FFF;
    }

    tr {
        background: #f4f7f8;
        border-bottom: 1px solid #FFF;
        margin-bottom: 2px;
    }

    tr:nth-child(even) {
        background: #e8eeef;
    }

    th, td {
        text-align: left;
        padding: 5px;
        font-weight: 300;
    }

    tfoot tr {
        background: none;
    }

    tfoot td {
        padding: 5px 2px;
        font-size: 0.8em;
        font-style: italic;
        color: #8a97a0;
    }
    iframe {
        width: 340px;
        height: 800px;
    }
</style>
