.home-categories-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
}
h2.block-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin: -17px 0 18px;
  padding: 0;
}
// .see-all {
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 24px;
//   text-align: right;
//   letter-spacing: 0.16px;
//   color: #000000;
//   display: block;
//   margin-top: 8px;
// }
.category-btn {
  height: 91px;
  background: #0099ae;
  backdrop-filter: blur(4px);
  border-radius: 14px;
  width: 100%;
  border: none;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.16px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 20px;
  cursor: pointer;
}
.category-btn:active,
.category-btn:focus {
  background-color: #006b7a;
}
.category-btn img {
  height: 15px;
  width: 30px;
}



// categories blocks
#categories-page {
  padding: 0 2.6rem;
}
.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
  margin-top: 16px;
}

/* category card */
.category-card-wrap {
  box-shadow: 6px 9px 30px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  position: relative;
  cursor: pointer;
}
.category-top-block {
  height: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 18px;
  border-radius: 12px 12px 0px 0px;
}
.category-top-block-flag {
  border-radius: 0px 27px 27px 0px;
  height: 16px;
  width: 58px;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.16px;
  align-items: center;
  display: flex;
}
.category-top-block-flag-new {
  padding-left: 16px;
  background: #ff0000;
  color: #ffffff;
  width: 42px;
}
.category-top-block-flag-popular {
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.6);
  color: #ff0000;
  width: 47px;
  box-sizing: border-box;
}
.category-bot-block {
  height: 110px;
  background: #0099ae;
  box-shadow: 6px 9px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 12px 12px;
  padding: 10px 17px 23px 16px;
  display: flex;
  box-sizing: border-box;
}
.video-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.16px;
  color: #ffffff;
  cursor: pointer;
}
.video-description {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.16px;
  color: #ffffff;
  margin-top: 4px;
}
.like-block svg {
  width: 17px;
  height: 15px;
  cursor: pointer;
}
.like-block-icon {
  opacity: 0.6;
  --skin-color: #fff;
}
.like-block-icon-active {
  opacity: 1;
  --skin-color: #ff0000;
}
.category-bot-left-block {
  width: 88%;
  margin-right: 2%;
}
.category-bot-right-block {
  width: 10%;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  margin-top: 5px;
}
.icon-arrow-category {
  cursor: pointer;
  width: 23px;
  height: 11px;
}
.cat-item-blur-wrap .category-card-wrap-over {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
  border-radius: 14px;
}
@media all and (min-width: 1281px) and (max-width: 1584px) {
  .category-list .category-item:last-child {
    display: none;
  }
  .category-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 6px;
  }
  .category-top-block {
    height: 120px;
    padding-top: 12px;
  }
  .category-bot-block {
    height: 100px;
    padding: 14px 12px 12px;
  }
  .video-title {
    font-size: 18px;
    line-height: 20px;
  }
  .video-description {
    font-size: 10px;
    line-height: 12px;
    margin-top: 6px;
  }
  .category-bot-right-block {
    width: 14%;
    margin-top: 2px;
  }
}
@media all and (max-width: 1280px) {
  .home-categories-buttons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .home-categories {
    padding-top: 20px;
  }
  .home-categories-buttons .home-categories-button:nth-child(5),
  .home-categories-buttons .home-categories-button:nth-child(6) {
    display: none;
  }
  .see-all {
    font-size: 14px;
  }
  h2.block-title {
    font-weight: 600;
    font-size: 24px;
    margin: -17px 0 8px;
  }
  .category-btn {
    font-size: 22px;
    height: 70px;
  }
}
