.coach-item img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.coaches-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0 24px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 24px;
}
.coach-item {
  display: flex;
  align-items: center;
}
.online-ico {
  border: 2px solid #fff;
  height: 16px;
  width: 16px;
  background-color: #ff0030;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 0;
}
.coach-left {
  position: relative;
}
.coach-right {
  margin-left: 16px;
}
.coach-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  cursor: pointer;
}
.followers-count {
  font-size: 16px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 6px;
}
.coaches-second-wrap {
  margin-top: 24px;
}


@media all and (min-width: 1281px) and (max-width: 1584px) {
  .coaches-wrap {
    grid-gap: 0 20px;
  }
  .coach-item img {
    width: 70px;
    height: 70px;
  }
  .online-ico {
    border: 2px solid #fff;
    height: 9px;
    width: 9px;
    background-color: #ff0030;
    border-radius: 7px;
    position: absolute;
    bottom: 5px;
    right: 4px;
  }
  .coach-right {
    margin-left: 6px;
  }
  .coach-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .followers-count {
    font-size: 14px;
    margin-top: 4px;
  }
}