// Resesign
.video-list-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 18px;
}

.video-item {
  background-size: cover;
  filter: drop-shadow(6px 9px 30px rgba(0, 0, 0, 0.2));
  color: #fff;
}
.video-item {
  display: flex;
  //     justify-content: space-between;
  //     padding-top: 16px;
}
.video-item-flag {
  border-radius: 0px 27px 27px 0px;
  height: 24px;
  letter-spacing: 0.16px;
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.video-item-flag-new {
  padding: 3px 14px;
  background: #ff0000;
  color: #ffffff;
  min-width: 56px;
  box-sizing: border-box;
}
.video-item-flag-popular {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #ff0000;
}
.video-item-condition {
  background: rgba(18, 18, 18, 0.6);
  color: #ffffff;
  border-radius: 16px;
  height: 24px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.record-on-icon {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ff0030;
  margin-left: 6px;
}
.record-off-icon {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #707171;
  margin-left: 6px;
}
.video-item-condition-text {
  margin-left: 6px;
  //   font-size: 11px;
}
.icon-eye {
  width: 15px;
  height: 10px;
  margin-left: 8px;
  align-self: center;
}
.video-item-condition-count {
  margin-left: 5px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 16px;
}
.icon-circle {
  background-color: #fff;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  align-self: center;
  margin-left: 8px;
}
.video-condition-offline {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  font-feature-settings: "liga" off, "kern" off;
  align-self: center;
  color: #fff;
  margin: 0 8px 0 7px;
}
.category-tags {
  margin-top: 98px;
  display: flex;
  align-items: center;
}
.category-tags > div {
  font-size: 14px;
  line-height: 16px;
  margin-right: 16px;
  cursor: pointer;
  height: 16px;
}
.video-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 6px;
  display: inline-block;
  cursor: pointer;
  min-height: 48px;
  color: #fff;
}
.category-tags > div + div::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  align-self: center;
  position: relative;
  top: -10px;
  left: -11px;
}
.like-block svg {
  width: 27px;
  height: 24px;
  cursor: pointer;
}
.like-block-icon {
  opacity: 0.6;
  --skin-color: #fff;
}
.like-block-icon-active {
  opacity: 1;
  --skin-color: #ff0000;
}
.bot-section {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user-block {
  display: flex;
}
img.user-block-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.video-user-name {
  align-self: center;
  margin-left: 8px;
  font-size: 14px;
  line-height: 16px;
}
.icon-clock {
  align-self: center;
  width: 11px;
  height: 11px;
  margin-top: -2px;
  margin-left: 6px;
}
.video-planed-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: "liga" off, "kern" off;
  color: #ffffff;
  margin-left: 6px;
  margin-right: 8px;
  align-self: center;
}
.video-item-blur {
//   backdrop-filter: blur(4px);
  background: rgba(18, 18, 18, 0.4);
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}
.video-item-blur-wrap .video-item-blur-over {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}
// .spinner-block {
//   padding-top: 40px;
// }

@media all and (min-width: 1281px) and (max-width: 1584px) {
  .video-item {
    max-height: 179px;
    height: 179px;
  }
  .video-list-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  .video-item-blur {
    width: 100%;
  }
  .video-item-blur {
    padding: 12px;
  }
  .video-item-flag {
    height: 20px;
    font-size: 10px;
    line-height: 14px;
    padding: 3px 6px 3px 9px;
  }
  .video-item-condition {
    border-radius: 16px;
    height: 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .icon-circle {
    width: 5px;
    height: 5px;
    margin-left: 8px;
  }
  .video-item-condition-count {
    font-size: 11px;
  }
  .category-tags {
    margin-top: auto;
  }
  .category-tags > div {
    font-size: 10px;
  }
  .video-title {
    font-size: 13px;
    line-height: 17px;
    margin-top: 2px;
    padding-right: 20%;
  }
  img.user-block-avatar {
    width: 24px;
    height: 24px;
  }
  .bot-section {
    margin-top: 2px;
  }
  .like-block svg {
    width: 18px;
    height: 16px;
  }
}
@media all and (max-width: 1280px) {
  .video-list-wrap {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  .video-item-blur {
    width: 100%;
  }
}
