// search input
input[type="text"].filter-search {
  height: 40px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 10px 10px 58px;
  background: url("/img/app/layout/search-icon-gray-light.svg");
  background-repeat: no-repeat;
  background-position: 28px calc(50% + 1px);
  background-color: #fff;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  width: 100%;
  border: 1px solid #BBBCBC;
color: #BBBCBC;
}
input[type="text"].filter-search:focus {
  border: 3px solid #D1FAFF;
  background-position: 26px calc(50% + 1px);
  padding-left: 56px;
  background-color: #fff;
  color: #000000;
}
input[type="text"].filter-search-full {
  border-radius: 20px;
}
input[type="text"].filter-search::placeholder {
  color: #bbbcbc;
}
input[type="text"].filter-search:focus::placeholder {
  color: #bbbbbb;
}
input[type="text"].filter-search-full:focus {
  border-radius: 28.5px;
}
.search-category-wrap input[type="text"].filter-search,
.search-header-wrap input[type="text"].filter-search {
  border-radius: 28.5px;
}
.component-search-wrap {
  margin-top: 48px;
  display: flex;
  position: relative;
}
.clear-search-icon-btn {
  position: relative;
}
.clear-search-icon {
  position: absolute;
  right: 21px;
  cursor: pointer;
  top: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
}
.search-header-wrap .clear-search-icon {
  right: 229px;
}
.category-name-badge-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
.category-name-badge {
    position: absolute;
    right: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #FFFFFF;
    padding: 0px 14px;
    height: 24px;
    background: #01B7D0;
    border-radius: 25px;
    cursor: default;
}
.category-name-badge.hide-category-filter {
    right: 53px;
}
// search result list
.search-result-list {
  position: absolute;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  width: 100%;
  z-index: 1;
  top: 65px;
}
.search-result-list-item {
  display: flex;
  height: 51px;
}

.search-result-list .search-result-list-item:first-child a {
  border-radius: 18px 18px 0 0;
}
.search-result-list .search-result-list-item:last-child a {
  border-radius: 0 0 18px 18px;
}
.search-result-list-item a {
  letter-spacing: 0.16px;
  color: #000000;
  align-self: center;

  width: 100%;
  padding: 14px 0 14px 89px;
  background: #fff;
  font-size: 21px;
  line-height: 24px;
}
.search-result-list-item a:hover {
  background: #f5f5f5;
}
.one-element-search .search-result-list-item:last-child {
  border-radius: 18px;
}

// filter block
.filter-categories {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  align-items: center;
  border-radius: 20px;
  margin-left: 24px;
  border: 1px solid #BBBCBC;
}
.filter-categories-left,
.filter-categories-right {
  display: flex;
  align-items: center;
}
.filter-categories-right-item {
  border-left: 1.5px solid #bbbcbc;
  padding-left: 24px;
  padding-right: 24px;
  width: 182px;
  box-sizing: border-box;
  display: flex;
  position: relative;
//   justify-content: flex-end;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.filter-categories-right-text {
  align-self: center;
  cursor: pointer;
  margin: 12px 0 24px 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000;
}
.filter-categories-left-item {
  width: 183px;
  position: relative;
  display: flex;
  justify-content: center;
}
.filter-categories-left-item button {
  position: relative;
}
.filter-categories-left-item-text {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.filter-categories-left-item-active .filter-categories-left-item-text {
  height: 24px;
  color: #ffffff;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  padding: 0px 28px 0px 12px;
  background: #01B7D0;
  border-radius: 12px;
}
.icon-close {
  cursor: pointer;
  position: absolute;
  right: 11px;
  top: calc(50% - 6px);
  z-index: 3;
  height: 11px;
  width: 11px;
}
.filter-categories-left-item-2 .icon-close {
  right: 11px;
}
.icon-arrow-down-gray {
  margin-left: 18px;
  cursor: pointer;
  height: 8px;
  width: 12px;
  --skin-color: #BBBCBC;
}
.sort-select-wrap {
  width: 182px;
  height: 208px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  position: absolute;
  top: 50px;
  z-index: 1;
  padding: 9px 33px;
  right: 0;
}
.sort-list-item {
  cursor: pointer;
  margin: 12px 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #c4c4c4;
  width: 100%;
  text-align: right;
}
.sort-list-item:hover,
.sort-list-item-active {
  color: #000;
}
// header search filter
.search-filter-list {
  z-index: 1;
  font-weight: 600;
  border-left: 1px solid #BBBCBC;
  height: 24px;
  padding-left: 30px;
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
  min-width: calc(41px + 26px + 60px + 12px + 40px);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.16px;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-filter-list-selected {
  align-self: center;
  cursor: pointer;
  margin-right: 20px;
}
.search-filter-list-icon-down {
//   position: absolute;
//   right: 29px;
//   top: calc(50% - 5.5px);
  cursor: pointer;
  width: 12px;
  height: 7px;
  --skin-color: #BBBCBC;
    margin-right: 22px;
}
.search-filter-list-items {
  position: absolute;
  width: 165px;
  right: 0px;
  top: 45px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 17px 0;
  cursor: pointer;
}
.search-filter-list-item {
  padding: 4px 24px;
  color: #333333;
}
.search-filter-list-item-active {
  background: #F2F2F2;
}
.sort-list-item:hover .icon-arrow-down-gray {
    --skin-color: black;
}