// Redesign
.video-list-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.video-item {
  background-size: cover;
  color: #fff;
  display: flex;
  position: relative;
}
.video-item-flag {
  border-radius: 0px 27px 27px 0px;
  height: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.16px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
}
.video-item-flag-new {
  padding: 0 6px 0 10px;
  background: #ff0000;
  color: #ffffff;
  min-width: 56px;
  box-sizing: border-box;
}
.video-item-flag-popular {
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #ff0000;
}
.video-item-condition {
  background: rgba(18, 18, 18, 0.6);
  color: #ffffff;
  border-radius: 16px;
  height: 20px;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.16px;
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.record-on-icon {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #ff0030;
  margin-left: 6px;
}
.record-off-icon {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #707171;
  margin-left: 6px;
}
.video-item-condition-text {
  margin-left: 6px;
  font-size: 12px;
}
.icon-eye {
  width: 15px;
  height: 10px;
  margin-left: 9px;
  align-self: center;
}
.video-item-condition-count {
  margin-left: 5px;
  margin-right: 8px;
  font-size: 11px;
}
.icon-circle {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  align-self: center;
  margin-left: 8px;
}
.video-condition-offline {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: "liga" off, "kern" off;
  align-self: center;
  color: #fff;
  margin: 0 8px 0 7px;
}
.category-tags {
  margin-top: 63px;
  display: flex;
  align-items: center;
}
.category-tags > div  > div {
  font-size: 12px;
  line-height: 16px;
  margin-right: 16px;
  cursor: pointer;
  height: 16px;
}
.video-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 2px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 32px;
  color: #fff;
}
.category-tags > div > div + div::after {
  content: " ";
  display: block;
  background-color: #fff;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  align-self: center;
  position: relative;
  top: -10px;
  left: -11px;
}
.like-block svg {
  width: 18px;
  height: 16px;
  cursor: pointer;
}
.like-block-icon {
  opacity: 0.6;
  --skin-color: #fff;
}
.like-block-icon-active {
  opacity: 1;
  --skin-color: #ff0000;
}
.bot-section {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.user-block {
  display: flex;
}
img.user-block-avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.video-user-name {
  align-self: center;
  margin-left: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}
.icon-clock {
  align-self: center;
  width: 10px;
  height: 10px;
  margin-top: -2px;
  margin-left: 6px;
}
.video-planed-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-feature-settings: "liga" off, "kern" off;
  color: #ffffff;
  margin-left: 6px;
  margin-right: 8px;
  align-self: center;
}
.video-item-blur {
//   backdrop-filter: blur(4px);
  background: rgba(18, 18, 18, 0.3);
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
}
.video-item-blur-wrap .video-item-blur-over {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
}

@media all and (min-width: 1281px) and (max-width: 1584px) {
  .video-list-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .video-item-blur {
    width: 100%;
    padding: 12px;
  }
  .video-item-flag {
    font-weight: 600;
    height: 16px;
    font-size: 10px;
    line-height: 18px;
  }
  .video-item-condition {
    height: 16px;
    font-size: 10px;
    line-height: 18px;
  }
  .video-item-flag-new {
    padding: 0 6px 0 3px;
    min-width: 47px;
    box-sizing: border-box;
  }
  .video-item-flag-popular {
    padding: 0 6px 0 3px;
    line-height: 16px;
    font-size: 10px;
  }
  .record-on-icon,
  .record-off-icon {
    width: 7px;
    height: 7px;
    border-radius: 3px;
  }
  .video-item-condition-text {
    margin-left: 4px;
    font-size: 10px;
    line-height: initial;
  }
  .icon-circle {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-left: 4px;
  }
  .icon-eye {
    width: 13px;
    height: 9px;
    margin-left: 5px;
    align-self: center;
  }
  .video-item-condition-count {
    margin-left: 3px;
    font-size: 10px;
    line-height: initial;
  }
  .video-condition-offline {
    font-size: 10px;
    line-height: initial;
    margin: 0 8px 0 4px;
  }
  .icon-clock {
    width: 11px;
    height: 11px;
    margin-left: 4px;
  }
  .video-planed-text {
    font-size: 10px;
    line-height: 12px;
    margin-left: 3px;
    margin-right: 8px;
  }
  .category-tags {
    margin-top: 30px;
  }
  .category-tags > div {
    font-size: 10px;
    margin-right: 12px;
  }
  .category-tags > div + div::after {
    left: -8px;
  }
  .video-title {
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
  }
  img.user-block-avatar {
    width: 21px;
    height: 21px;
  }
  .bot-section {
    margin-top: 0;
  }
  .video-user-name {
    margin-left: 4px;
    font-size: 10px;
  }
  .like-block svg {
    width: 16px;
    height: 14px;
  }
}
@media all and (min-width: 1057px) and (max-width: 1280px) {
  .video-list-wrap {
    grid-gap: 16px;
  }
  .video-item-blur {
    width: 100%;
  }
  .video-item-blur[data-v-7b88f3ec] {
    padding: 10px;
  }
  .video-item-flag {
    height: 16px;
    font-weight: 60;
    font-size: 10px;
    line-height: 14px;
    max-width: 47px;
    min-width: 47px;
    padding-left: 3px;
  }
  .video-item-condition {
    height: 16px;
    font-size: 10px;
    line-height: 12px;
  }
  .record-on-icon {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-left: 4px;
  }
  .video-item-condition-text {
    margin-left: 4px;
    font-size: 10px;
  }
  .icon-circle {
    width: 3px;
    height: 3px;
    margin-left: 4px;
  }
  .icon-eye {
    width: 13px;
    height: 9px;
    margin-left: 5px;
  }
  .video-item-condition-count {
    margin-left: 3px;
    margin-right: 8px;
    font-size: 10px;
    line-height: initial;
  }
  .record-off-icon[data-v-7b88f3ec] {
    width: 7px;
    height: 7px;
  }
  .video-condition-offline {
    font-size: 10px;
    margin: 0 8px 0 3px;
  }
  .icon-clock {
    margin-left: 4px;
  }
  .video-planed-text {
    font-size: 10px;
    margin-left: 3px;
  }
  .category-tags {
    margin-top: 27px;
  }
  .category-tags > div {
    font-size: 10px;
    margin-right: 12px;
  }
  .category-tags > div + div::after {
    left: -8px;
  }
  .video-title {
    font-size: 12px;
    line-height: 14px;
    margin-top: 0;
    padding-right: 20%;
  }
  img.user-block-avatar {
    width: 21px;
    height: 21px;
  }
  .video-user-name {
    margin-left: 4px;
    font-size: 10px;
  }
  .like-block svg {
    width: 16px;
    height: 14px;
  }
  .video-item {
    height: 128px;
  }
}
