#category-search-result-page {
  padding: 0 2.6rem;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
  text-align: center;
  margin: 62px 0 48px;
  text-transform: capitalize;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.16px;
  color: #000000;
  margin: 18px 0 10px;
}