<template>
    <div class="home-categories">
        <h2 class="title">
            <span>Categories</span>
            <router-link to="/categories/" class="see-all">See all</router-link>
        </h2>

        <div class="category-list">
            <div v-for="(categoryItem, idx) in categoriesList" :key="idx" class="category-item">
                <!-- <router-link :to="'/category/' + categoryItem.name.toLowerCase()" @click.native="test($event)"> -->
                <div class="category-card-wrap"
                     @mousedown.left="mouseDownBlur($event, categoryItem)" @mouseup="mouseUpBlur($event, categoryItem)">
                    <div class="category-top-block" :style="`background-image: url(${categoryItem.imgUrl})`">
                        <div :class="['category-top-block-flag', {
                            'category-top-block-flag-new': categoryItem.flag === 'New!',
                            'category-top-block-flag-popular': categoryItem.flag === 'Popular'
                        }]">
                            {{ categoryItem.flag }}
                        </div>
                    </div>
          
                    <div class="category-bot-block">
                        <div class="category-bot-left-block">
                            <!-- <router-link :to="'/category/' + categoryItem.name.toLowerCase()"> -->
                            <div class="video-title">{{ categoryItem.name }}</div>
                            <!-- </router-link> -->
                            <div class="video-description">{{ categoryItem.description }}</div>
                        </div>
                        <div class="category-bot-right-block">
                            <button class="like-block">
                                <svg :class="['like-block-icon', {'like-block-icon-active': categoryItem.liked}]">
                                    <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                                </svg>
                            </button>
                            <img class="icon-arrow-category" src="/img/app/layout/long-arrow-right.svg" alt="">
                        </div>
                    </div>
                    <div class="category-card-wrap-over" />
                </div>
                <!-- </router-link> -->
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Categories",
        components: {
        },
        data() {
            return {
                categories: [
                    {
                        id: 1,
                        name: "Yoga",
                        description: "The best morning workout you can do to wake up your body.",
                        flag: "",
                        imgUrl: "/img/categories/category-tmb-1.jpg",
                        liked: true
                    },
                    {
                        id: 2,
                        name: "Stretching",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: "/img/categories/category-tmb-2.jpg",
                        liked: false
                    },
                    {
                        id: 3,
                        name: "Fitness",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: "/img/categories/category-tmb-3.jpg",
                        liked: true
                    },
                    {
                        id: 4,
                        name: "Meditation",
                        description: "The best morning workout",
                        flag: "",
                        imgUrl: "/img/categories/category-tmb-4.jpg",
                        liked: false
                    },
                    {
                        id: 5,
                        name: "Workshop",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "",
                        imgUrl: "/img/categories/category-tmb-5.jpg",
                        liked: false
                    },
                    {
                        id: 6,
                        name: "Easy",
                        description: "The best morning workout you can do to wake up your body",
                        flag: null,
                        imgUrl: "/img/categories/category-tmb-6.jpg",
                        liked: true
                    },
                    {
                        id: 7,
                        name: "Stretching professional",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "",
                        imgUrl: "/img/categories/category-tmb-7.jpg",
                        liked: false
                    },
                    {
                        id: 8,
                        name: "Meditation",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "",
                        imgUrl: "/img/categories/category-tmb-8.jpg",
                        liked: true
                    },
                    {
                        id: 9,
                        name: "Workshop",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "",
                        imgUrl: "/img/categories/category-tmb-1.jpg",
                        liked: true
                    },
                    {
                        id: 10,
                        name: "Stretching professional",
                        description: "The best morning workout you can do to wake up your body",
                        flag: "Popular",
                        imgUrl: "/img/categories/category-tmb-2.jpg",
                        liked: true
                    },
                ],
            }
        },
        computed: {
            categoriesList() {
                return this.categories.slice(0, 6)
            }
        },
        methods: {
            mouseDownBlur(event, categoryItem) {
                console.log("🚀 ~ file: categories.vue ~ line 149 ~ mouseDownBlur ~ event", event)
                event.stopPropagation()
                if(event.target.getAttribute("class") === "like-block-icon-svg") {
                    categoryItem.liked = !categoryItem.liked
                } else {
                    event.currentTarget.classList.add("cat-item-blur-wrap")
                    this.$router.push({ path: `/category/${categoryItem.name.toLowerCase()}` })
                }
            },
            mouseUpBlur(event) {
                event.currentTarget.classList.remove("cat-item-blur-wrap")
            },
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/elements/categories.scss" />
