<template>
    <div>
        <div class="coaches-wrap">
            <div v-for="coach in coachesFirst" :key="coach.id" class="coach-item">
                <div class="coach-left">
                    <img :src="coach.avatarImgUrl" alt="">
                    <div class="online-ico" />
                </div>
                <div class="coach-right">
                    <div class="coach-name">
                        {{ coach.fullName }}
                    </div>
                    <div class="followers-count">
                        Followers: {{ formatFollowers(coach.followers) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="coaches-wrap coaches-second-wrap">
            <div v-for="coach in coachesSecond" :key="coach.id" class="coach-item">
                <div class="coach-left">
                    <img :src="coach.avatarImgUrl" alt="">
                    <div class="online-ico" />
                </div>
                <div class="coach-right">
                    <div class="coach-name">
                        {{ coach.fullName }}
                    </div>
                    <div class="followers-count">
                        Followers: {{ formatFollowers(coach.followers) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { users } from '@/test-data.js'


    export default {
        name: "Planned",
        data() {
            return {
                users,
            }
        },
        computed: {
            coachesFirst() {
                return this.users.filter(user => user.online).slice(0, 4)
            },
            coachesSecond() {
                return this.users.filter(user => user.online).slice(4, 8)
            }
        },
        methods: {
            formatFollowers(count) {
                if(count < 1000) {
                    return count
                } else if(count < 10000) {
                    return (count / 1000).toFixed(1) + 'k'
                } else {
                    return Math.round(count / 1000) + 'k'
                }
            }
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/elements/coaches.scss" />
