<template>
    <div style="width: 100%;">
        <template v-if="dataLoaded">
            <div :style="`background-image: url(${video.previewPath})`" class="video-item"
                 @mousedown="mouseDownBlur($event)" @mouseup="mouseUpBlur($event)">
                <div class="video-item-blur">
                    <div :class="['video-item-flag', {
                        'video-item-flag-new': video.id % 2,
                        'video-item-flag-popular': !(video.id % 2),
                    }, ]">
                        {{ video.id % 2 ? 'New!' : 'Popular' }}
                    </div>

                    <template>
                        <div v-if="video.status === 'ONLINE'" class="video-item-condition">
                            <div class="record-on-icon" />
                            <span class="video-item-condition-text">Live</span>
                            <div class="icon-circle" />
                            <img src="/img/app/video/eye.svg" class="icon-eye" alt="">
                            <span class="video-item-condition-count">{{ getWatchingNowCount() }}</span>
                        </div>

                        <div v-else-if="video.status === 'OFFLINE'" class="video-item-condition">
                            <div class="record-off-icon" />
                            <span class="video-condition-offline">Offline</span>
                        </div>

                        <div v-else-if="video.status === 'PLANNED'" class="video-item-condition">
                            <img src="/img/app/video/clock.svg" class="icon-clock" alt="">
                            <span class="video-planed-text">{{ formatDate(video.scheduledStartDate) }}</span>
                        </div>
                    </template>

                    <div class="category-tags">
                        <div v-for="(category, index) in video.categories" :key="index">
                            {{ category.title.default }}
                        </div>
                    </div>

                    <router-link class="video-title" :to="`/channel/${channel.name}/${video.id}`">{{ video.name }}</router-link>

                    <div class="bot-section">
                        <div class="user-block">
                            <img class="user-block-avatar" :src="channel.backgroundUrl" alt="">
                            <span class="video-user-name">
                                {{ channel.title }}
                            </span>
                        </div>
                        <button class="like-block">
                            <svg :class="['like-block-icon', { 'like-block-icon-active': video.isFollow }]">
                                <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="video-item-blur-over" />
            </div>
            <!-- <div v-if="!renderVideoList.length" class="video-no-found">
                No video found for your request
            </div> -->
        </template>
        <div v-else class="spinner-block">
            <spinner />
        </div>
    </div>
</template>

<script>
    import { mapState } from "vuex"
    import spinner from "@/components/elements/spinner"

    export default {
        name: "OneMediumVideo",
        components: {
            spinner
        },
        props: {
            videoItemsCount:  {
                type: Number,
                default: null
            },
            videoCategory:  {
                type: String,
                default: null
            },
            videoFlag:  {
                type: String,
                default: null
            },
            testVideoId: {
                type: Number,
                default: null
            }
        },
        data() {
            return {
                channel: {},
                renderVideoList: [],
                dataLoaded: false,
                video: {}
            }
        },
        computed: {
            ...mapState(['isAuthorized'])
        },
        watch: {
            "$route.query"() {
                this.refrashSearchData()
            },
        },
        mounted() {
            this.getData()
        },
        methods: {
            async getData() {
                let res
                if(this.isAuthorized) {
                    res = await this.$api.broadcasts.get(this.testVideoId)
                } else {
                    res = await this.$api.broadcasts.get(this.testVideoId) // remade no private
                }

                this.video = res
                this.channel = await this.$api.channels.get(this.video.channelIds[0])
                this.dataLoaded = true
            },
            getWatchingNowCount() {
                let num = Math.floor(Math.random() * 100)
                let formatedNumber = num.toString().split(".")
                formatedNumber[0] = formatedNumber[0].replace(
                    /\B(?=(\d{3})+(?!\d))/g,
                    " "
                )
                return formatedNumber.join(".")
            },
            async mouseDownBlur(event) {
                if(event.target.getAttribute("class") === "like-block-icon-svg") {

                    if(this.video.isFollow) {
                        let res = await this.$api.broadcasts.unfollow(this.video.id)
                        if(res) {
                            this.video.isFollow = false
                            
                        }
                    } else {
                        let res = await this.$api.broadcasts.follow(this.video.id)
                        if(res) {
                            this.video.isFollow = true
                        }
                    }
                } else {
                    event.currentTarget.classList.add("video-item-blur-wrap")
                }
            },
            mouseUpBlur(event) {
                event.currentTarget.classList.remove("video-item-blur-wrap")
            },
            formatDate(date) {
                return this.$dayjs(date).format('DD.MM') + ' at ' + this.$dayjs(date).format('h:mm a') 
            },
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/elements/one-medium-video.scss" />