<template>
    <div>
        <h2 class="title">
            <span>Online</span>
            <router-link to="/" class="see-all">See all</router-link>
        </h2>

        <smallVideoBlock :video-items-count="videoCount" />
    </div>
</template>

<script>
    import smallVideoBlock from '@/components/elements/smallVideoBlock.vue'
    import smallVideoCount from '@/mixins/smallVideoCount'

    export default {
        name: "Online",
        components: {
            smallVideoBlock
        },
        mixins: [
            smallVideoCount,
        ],
        data() {
            return {
                videoCount: 0,
                videoRowCounter: 1
            }
        },
    }
</script>