<template>
    <div>
        <div :class="['component-search-wrap', {
            'search-category-wrap': currentPage === 'categoryResultPage',
            'search-header-wrap': currentPage === 'headerResultPage'
        }]">
            <input v-model="searchText" type="text" class="filter-search" placeholder="Search"
                   @keyup.enter="goToSearchPageEnter">
                
            <button class="clear-search-icon-btn" @click="clearFilteredText">
                <img v-if="showCloseSearchBtn" class="clear-search-icon" src="/img/app/layout/close.svg" alt="Search">
            </button>
            
            <div v-if="activeInputSearch" v-click-outside="() => activeInputSearch = false"
                 :class="['search-result-list', { 'one-element-search': searchResultShortList.length === 1 }]">
                <div v-for="(searchResultItem, idx) in searchResultShortList" :key="idx" class="search-result-list-item">
                    <router-link :to="{
                        name: 'HeaderSearchResult',
                        query:{ q: searchResultItem.title, filter: headerFilterItemActive }
                    }" @click.native="goToSearchPageClick">
                        {{ searchResultItem.title }}
                    </router-link>
                </div>
            </div>

            <div v-if="currentPage === 'headerResultPage'" class="search-filter-list">
                <div class="search-filter-list-selected" @click="showHeaderFilter = !showHeaderFilter">
                    {{ headerFilterItemActive }}
                </div>
                
                <svg class="search-filter-list-icon-down">
                    <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down"
                         @click="showHeaderFilter = !showHeaderFilter" />
                </svg>


                <div v-if="showHeaderFilter" v-click-outside="() => showHeaderFilter = false" class="search-filter-list-items">
                    <div v-for="(filterItem, idx) in headerFilterItems" :key="idx" 
                         :class="['search-filter-list-item', {'search-filter-list-item-active': headerFilterItemActive === filterItem}]"
                         @click="changefilterItem(filterItem)">
                        {{ filterItem }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { videoItems } from '@/test-data'

    export default {
        name: "SearchHeader",
        props: {
            currentPage:  {
                type: String,
                default: null
            },
        },
        data() {
            return {
                searchText: '',

                showCloseSearchBtn: false,

                videoItems,
                searchResultList: [],

                headerFilterItems: ['Coach', 'Streams', 'Categories', 'All'],
                headerFilterItemActive: 'All',
                showHeaderFilter: false,

                activeInputSearch: false,

            }
        },
        computed: {
            searchResultShortList() {
                if(this.searchResultList.slice(0, 5).length) {
                    return this.searchResultList.slice(0, 5)
                } else {
                    return [{ title: "No found data" }]
                }
            }
        },
        watch: {
            searchText() {
                if(this.searchText && this.searchText !== 0) {
                    this.activeInputSearch = true
                    this.showCloseSearchBtn = true

                    this.searchResultList = this.videoItems.filter( 
                        video => video.title.toLowerCase().includes(this.searchText.toLowerCase())
                    )
                } else {
                    this.activeInputSearch = false
                    this.showCloseSearchBtn = false
                }
            },
            "$route.query.q"() {
                this.searchText = this.$route.query.q
                this.$nextTick(() => { 
                    this.activeInputSearch = false
                })
            },
        },
        mounted() {
            if(this.$route.query.filter) {
                this.headerFilterItemActive = this.$route.query.filter
            }

            this.searchText = this.$route.query.q

            this.$nextTick(() => { // QUESTION - при загрузке заполняется searchText и активируется список, правильное ли решение?
                this.activeInputSearch = false
            })
        },
        methods: {
            goToSearchPageEnter() {
                if(this.searchText === '') {
                    return
                }

                let query = {}
                if(this.headerFilterItemActive) {
                    query = {
                        q: this.searchText,
                        filter: this.headerFilterItemActive
                    }
                } else {
                    query = {
                        q: this.searchText,
                        filter: 'All'
                    }
                }
                if (JSON.stringify(this.$route.query) !== JSON.stringify(query)) {
                    this.activeInputSearch = false
                    
                    this.$router.push({
                        name: 'HeaderSearchResult',
                        query
                    })
                    
                    this.$emit('setNewTitle', this.$route.query.q)
                }
            },
            goToSearchPageClick() {
                this.searchText = this.$route.query.q
                this.$nextTick(() => { // QUESTION - не сбрасывается, при @click.native
                    this.activeInputSearch = false
                })
                this.$emit('setNewTitle', this.$route.query.q)
            },
            clearFilteredText() {
                this.searchText = ''
                this.activeInputSearch = false
                this.showCloseSearchBtn = true
            },
            changefilterItem(filterItem) {
                this.headerFilterItemActive = filterItem
                this.showHeaderFilter = false

                const query = {
                    q: this.searchText,
                    filter: filterItem
                }
                if (JSON.stringify(this.$route.query) !== JSON.stringify(query)) {
                    this.activeInputSearch = false
                    
                    this.$router.push({
                        name: 'HeaderSearchResult',
                        query
                    })
                    this.$emit('setNewTitle', this.$route.query.q)
                }
            }
        }
    }
</script>

<style lang="scss" src="@/assets/scss/elements/search.scss" scoped />