<template>
    <div>
        <div :class="['component-search-wrap', {
            'search-category-wrap': currentPage === 'categoryResultPage',
            'search-header-wrap': currentPage === 'headerResultPage'
        }]">
            <input v-model="searchText" type="text" class="filter-search" placeholder="Search"
                   @keyup.enter="goToSearchPageEnter">
            <div class="category-name-badge-wrap">
                <div :class="['category-name-badge', { 'hide-category-filter': !showCategoryFilters }]">{{ currentCategegoryName }}</div>
            </div>
                
            <button class="clear-search-icon-btn" @click="clearFilteredText">
                <img v-if="showCloseSearchBtn" class="clear-search-icon" src="/img/app/layout/close.svg" alt="Search">
            </button>

            <div v-if="activeInputSearch" v-click-outside="() => activeInputSearch = false"
                 :class="['search-result-list', { 'one-element-search': searchResultShortList.length === 1 }]">
                <div v-for="(searchResultItem, idx) in searchResultShortList" :key="idx" class="search-result-list-item">
                    <router-link :to="{
                        name: 'CategorySearchResult',
                        params: { categoryName: currentCategegoryName },
                        query:{ q: searchResultItem.title }
                    }" @click.native="goToSearchPageClick">
                        {{ searchResultItem.title }}
                    </router-link>
                </div>
            </div>
            
            <div v-if="showCategoryFilters" class="filter-categories">
                <div :class="['filter-categories-left-item', { 'filter-categories-left-item-active': currentFilter === 'popular' }]">
                    <button @click="switchFilter('popular')">
                        <span class="filter-categories-left-item-text">Popular</span> 
                        <img v-if="currentFilter === 'popular'" class="icon-close" src="/img/app/layout/close-strong.svg" alt="">
                    </button>
                </div>
                <div class="filter-categories-right-item">
                    <button @click="showSelectedList = !showSelectedList">
                        <span class="filter-categories-right-text">{{ sortedSelected }}</span>
                        <svg class="icon-arrow-down-gray">
                            <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                        </svg>
                    </button>
                    <div v-if="showSelectedList" v-click-outside="() => showSelectedList = false" class="sort-select-wrap">
                        <button v-for="(sortCategory, idx) in sortCategories" :key="idx" :class="['sort-list-item', { 'sort-list-item-active': sortedSelected === sortCategory }]"
                                @click="changeSortType(sortCategory)">
                            {{ sortCategory }}
                            <svg class="icon-arrow-down-gray">
                                <use v-if="sortCategory === 'Viewers' || sortCategory === 'Viewers '" xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div v-if="currentPage === 'headerResultPage'" class="search-filter-list">
                <div class="search-filter-list-selected" @click="showHeaderFilter = !showHeaderFilter">
                    {{ headerFilterItemActive }}
                </div>
                
                <svg>
                    <use class="search-filter-list-icon-down" xlink:href="/img/app/layout/arrow-down.svg#arrow-down" @click="showHeaderFilter = !showHeaderFilter" />
                </svg>
                        
                <div v-if="showHeaderFilter" v-click-outside="() => showHeaderFilter = false" class="search-filter-list-items">
                    <div v-for="(filterItem, idx) in headerFilterItems" :key="idx" 
                         :class="['search-filter-list-item', {'search-filter-list-item-active': headerFilterItemActive === filterItem}]"
                         @click="changefilterItem(filterItem)">
                        {{ filterItem }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { videoItems } from '@/test-data'

    export default {
        name: "Search",
        props: {
            currentPage:  {
                type: String,
                default: null
            },
        },
        data() {
            return {
                currentCategegoryName: '', // QUESTION передать в props?
                searchText: '',
                currentFilter: null,

                showCloseSearchBtn: false,

                videoItems,
                searchResultList: [],

                showCategoryFilters: true,
                sortCategories: ['A-Z', 'Z-A', 'Viewers', 'Viewers '],
                sortedSelected: 'Viewers',
                showSelectedList: false,

                headerFilterItems: ['Coach', 'Streams', 'Categories', 'All'],
                headerFilterItemActive: 'All',
                showHeaderFilter: false,

                activeInputSearch: false,

            }
        },
        computed: {
            searchResultShortList() {
                if(this.searchResultList.slice(0, 5).length) {
                    return this.searchResultList.slice(0, 5)
                } else {
                    return [{ title: "No found data" }]
                }
            }
        },
        watch: {
            searchText() {
                if(this.searchText && this.searchText !== 0) {
                    this.activeInputSearch = true
                    this.showCloseSearchBtn = true
                    this.showCategoryFilters = false

                    if(this.currentPage === 'headerResultPage') {
                        this.searchResultList = this.videoItems.filter( 
                            video => video.title.toLowerCase().includes(this.searchText.toLowerCase())
                        )
                    } else {
                        this.searchResultList = this.videoItems.filter( 
                            video => video.title.toLowerCase().includes(this.searchText.toLowerCase()) &&
                                video.category.toLowerCase() === this.currentCategegoryName.toLowerCase()
                        )
                    }
                } else {
                    this.activeInputSearch = false
                    this.showCloseSearchBtn = false
                    this.showCategoryFilters = true
                }
            },
        },
        mounted() {

            // переделать route-link через push, для страницы hederSearch не передается этот параметр
            if(this.$route.params.categoryName) {
                this.currentCategegoryName = this.$route.params.categoryName
            } else {
                this.currentCategegoryName = 'none'
            }
            this.searchText = this.$route.query.q

            this.$nextTick(() => { // QUESTION - при загрузке заполняется searchText и активируется список, правильное ли решение?
                this.activeInputSearch = false
            })
        },
        methods: {
            goToSearchPageEnter() {
                if(this.searchText === '') {
                    return
                }

                const query = {
                    q: this.searchText
                }
                if (JSON.stringify(this.$route.query) !== JSON.stringify(query)) {
                    this.activeInputSearch = false
                    
                    if(this.currentPage === 'headerResultPage') {
                        this.$router.push({
                            name: 'CategorySearchResult',
                            params: { categoryName: '' },
                            query
                        })
                    } else {
                        this.$router.push({
                            name: 'CategorySearchResult',
                            params: { categoryName: this.currentCategegoryName },
                            query
                        })
                    }
                    this.$emit('setNewTitle', this.$route.query.q)
                }
            },
            goToSearchPageClick() {
                // QUESTION - правильно ли реализовал через @click.native или через роутер передавать
                if(this.currentPage === 'categoryResultPage') {
                    this.searchText = this.$route.query.q
                    this.$emit('setNewTitle', this.$route.query.q)
                }
                this.$nextTick(() => { // QUESTION - не сбрасывается, при @click.native
                    this.activeInputSearch = false
                })
            },
            clearFilteredText() {
                this.searchText = ''
                this.activeInputSearch = false
                this.showCloseSearchBtn = true
            },
            switchFilter(filterName) {
                if(this.currentFilter === filterName) {
                    this.currentFilter = null
                } else {
                    this.currentFilter = filterName
                }
                this.$emit('clicked', filterName)
            },
            changefilterItem(filterItem) {
                this.headerFilterItemActive = filterItem
                this.showHeaderFilter = false
            }
        }
    }
</script>

<style lang="scss" src="@/assets/scss/elements/search.scss" scoped />