<template>
    <div>
        <div class="video-list-wrap">
            <template v-if="videoItems.length">
                <div v-for="video in videoItems" :key="video.id"
                     :style="`background-image: url(${video.previewPath})`" :class="`video-item`"
                     @mousedown="mouseDownBlur($event, video)" @mouseup="mouseUpBlur($event, video)">
                    <div class="video-item-blur">
                        <div :class="['video-item-flag', {
                            'video-item-flag-new': video.id % 3,
                            'video-item-flag-popular': !(video.id % 3),
                        }, ]">
                            {{ video.id % 3 ? 'New!' : 'Popular' }}
                        </div>

                        <template>
                            <div v-if="video.status == 'ONLINE'" class="video-item-condition">
                                <div class="record-on-icon" />
                                <span class="video-item-condition-text">Live</span>
                                <div class="icon-circle" />
                                <img src="/img/app/video/eye.svg" class="icon-eye" alt="">
                                <span class="video-item-condition-count">{{ getWatchingNowCount() }}</span>
                            </div>

                            <div v-else-if="video.status == 'OFFLINE'" class="video-item-condition">
                                <div class="record-off-icon" />
                                <span class="video-condition-offline">Offline</span>
                            </div>

                            <div v-else-if="video.status == 'PLANNED'" class="video-item-condition">
                                <img src="/img/app/video/clock.svg" class="icon-clock" alt="">
                                <span class="video-planed-text">{{ formatDate(video.scheduledStartDate) }}</span>
                            </div>
                        </template>
                    
                        <div class="category-tags">
                            <div v-for="(category, index) in video.categories" :key="index">
                                <div v-if="index < 3">
                                    {{ category.title.default }}
                                </div>
                            </div>
                        </div>

                        <span class="video-title">
                            <router-link class="video-title" :to="`/channel/${video.channelName}/${video.id}`">{{ video.name }}</router-link>
                        </span>

                        <div class="bot-section">
                            <div class="user-block">
                                <router-link :to="`/channel/${video.channelName}/${video.id}`">
                                    <img class="user-block-avatar" :src="video.channelBackgroundUrl" alt="">
                                </router-link>
                                <router-link class="video-user-name" :to="`/channel/${video.channelName}/${video.id}`">
                                    {{ video.channelTitle }}
                                </router-link>
                            </div>
                            <button class="like-block">
                                <svg :class="['like-block-icon', { 'like-block-icon-active': video.isFollow }]" :data-video-id="video.id">
                                    <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" :data-video-id="video.id" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="video-item-blur-over" />
                </div>
            </template>

            <div v-for="item in videoItemsCount" v-else :key="item" class="spinner-block">
                <spinner />
            </div>
        </div>
        <!-- <div v-if="!videoItems.length" class="video-no-found">
            No video found
        </div> -->
    </div>
</template>

<script>
    import spinner from "@/components/elements/spinner"

    export default {
        name: "SmallVideoRealApi",
        components: {
            spinner
        },
        props: {
            videoRowCounter:  {
                type: Number,
                default: null
            },
            videoItemsCount:  {
                type: Number,
                default: 4
            },
            videoItems: {
                type: Array,
                default: null
            }
        },
        data() {
            return {
                renderVideoList: [],

                blurBlock: false,

                rowCounter: null,
                itemsCount: null,

                dataLoaded: false,

                windowWidth: window.innerWidth,
            }
        },
        watch: {
            videoCount() {
                this.renderVideoList = this.videoItems.slice(0, this.videoCount)
            },
            windowWidth() {
                this.checkSize()
            },
            // videoItems() {
            //     console.log("🚀 ~ file: smallVideoRealApi.vue ~ line 117 ~ videoItems ~ dataLoaded", this.videoItems)
            //     if(this.videoItems.length) {
            //         this.dataLoaded = true
            //     }
            // }
        },
        created() {
            this.videoItems
            console.log("🚀 ~ file: smallVideoRealApi.vue ~ line 106 ~ created ~ this.videoItems", this.videoItems)
        },
        mounted() {
            this.rowCounter = this.videoRowCounter
            this.itemsCount = this.videoItemsCount * this.videoRowCounter

            if(this.videoCategory) {
                this.videoItems = this.videoItems.filter(video => video.category === this.videoCategory)
            }
            if(this.videoCondition) {
                this.videoItems = this.videoItems.filter(video => video.videoСondition === this.videoCondition)
            }
            if(this.videoFlag) {
                this.videoItems = this.videoItems.filter(video => video.flag === this.videoFlag)
            }
            this.renderVideoList = this.videoItems.slice(0, this.itemsCount)

            // response
            window.addEventListener('resize', this.onResize)
            this.windowWidth = window.innerWidth
            this.checkSize()
        },
        beforeDestroy() { 
            window.removeEventListener('resize', this.onResize) 
        },
        methods: {
            getWatchingNowCount() {
                let num = Math.floor(Math.random() * 100)
                let formatedNumber = num.toString().split(".")
                formatedNumber[0] = formatedNumber[0].replace(
                    /\B(?=(\d{3})+(?!\d))/g,
                    " "
                )
                return formatedNumber.join(".")
            },
            async mouseDownBlur(event) {
                if(event.target.getAttribute("class") === "like-block-icon-svg") {
                    let videoId = event.target.getAttribute('data-video-id')
                    this.videoItems
                    this.videoItems.forEach(async video => {
                        if(video.id == videoId) {
                            if(video.isFollow) {
                                let res = await this.$api.broadcasts.unfollow(videoId)
                                console.log("🚀 ~ file: smallVideoRealApi.vue ~ line 178 ~ unfollow ~ res", res)
                                video.isFollow = !video.isFollow
                            } else {
                                let res = await this.$api.broadcasts.follow(videoId)
                                console.log("🚀 ~ file: smallVideoRealApi.vue ~ line 181 ~ follow ~ res", res)
                                video.isFollow = !video.isFollow
                            }
                        }
                    })
                } else {
                    event.currentTarget.classList.add("video-item-blur-wrap")
                }
            },
            mouseUpBlur(event) {
                event.currentTarget.classList.remove("video-item-blur-wrap")
            },
            checkSize() {
                if(window.innerWidth <= 1280) {
                    console.log('1280')
                    this.videoCount = this.videoRowCounter * 4
                } else if(window.innerWidth <= 1584) {
                    console.log('1584')

                    this.videoCount = this.videoRowCounter * 4
                } else {
                    console.log('else')

                    this.videoCount = this.videoRowCounter * 4
                }
            },
            onResize() {
                this.windowWidth = window.innerWidth
            },
            formatDate(date) {
                return this.$dayjs(date).format('DD.MM') + ' at ' + this.$dayjs(date).format('h:mm a') 
            }
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/elements/small-video-block.scss" />

<style scoped>
.spinner-wrap {
    height: 191px;
    background-color: #f3f3f3;
}
</style>