<template>
    <div>
        <div class="video-list-wrap">
            <div v-for="videoItem in renderVideoList" :key="videoItem.videoId"
                 :style="`background-image: url(${videoItem.thumbnail})`"
                 class="video-item" @mousedown="mouseDownBlur($event, videoItem)"
                 @mouseup="mouseUpBlur($event, videoItem)">
                <div class="video-item-blur">
                    <div :class="['video-item-flag', {
                        'video-item-flag-new': videoItem.flag === 'New!',
                        'video-item-flag-popular': videoItem.flag === 'Popular',
                    }]">
                        {{ videoItem.flag }}
                    </div>
  
                    <template>
                        <div v-if="videoItem.videoСondition == 'Live'" class="video-item-condition">
                            <div class="record-on-icon" />
                            <span class="video-item-condition-text">{{
                                videoItem.videoСondition
                            }}</span>
                            <div class="icon-circle" />
                            <img src="/img/app/video/eye.svg" class="icon-eye" alt="">
                            <span class="video-item-condition-count">{{
                                getWatchingNowCount(videoItem.videoId)
                            }}</span>
                        </div>

                        <div v-else-if="videoItem.videoСondition == 'Offline'" class="video-item-condition">
                            <div class="record-off-icon" />
                            <span class="video-condition-offline">{{
                                videoItem.videoСondition
                            }}</span>
                        </div>

                        <div v-else-if="videoItem.videoСondition == 'Planned'" class="video-item-condition">
                            <img src="/img/app/video/clock.svg" class="icon-clock" alt="">
                            <span class="video-planed-text">{{
                                getScheduledVideo(videoItem.videoId).dateStart
                            }}</span>
                        </div>
                    </template>

                    <div class="category-tags">
                        <div
                            v-for="(categoryTag, index) in videoItem.categoryTags"
                            :key="index">
                            {{ categoryTag }}
                        </div>
                    </div>
                    <span class="video-title">{{ videoItem.title }}</span>
                    <div class="bot-section">
                        <div class="user-block">
                            <img class="user-block-avatar" :src="currentUser(videoItem.userId).avatarImgUrl" alt="">
                            <span class="video-user-name">
                                {{ currentUser(videoItem.userId).firstName }} of
                                {{ currentUser(videoItem.userId).city }}
                            </span>
                        </div>
                        <button class="like-block">
                            <svg :class="['like-block-icon', { 'like-block-icon-active': videoItem.liked }]">
                                <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="video-item-blur-over" />
            </div>
        </div>
        <div v-if="!renderVideoList.length" class="video-no-found">
            No video found for your request
        </div>
    </div> 
</template>

<script>
    import { users, videoItems, watchingNowApi, scheduledVideos } from "@/test-data.js"

    export default {
        name: "SmallVideoBlock",
        props: {
            videoItemsCount:  {
                type: Number,
                default: 24
            },
            searchQuery:  {
                type: String,
                default: null
            }
        },
        data() {
            return {
                users,
                videoItems,
                watchingNowApi,
                scheduledVideos,

                renderVideoList: [],
            }
        },
        watch: {
            "$route.query"() {
                this.refrashSearchData()
            },
        },
        mounted() {
            this.refrashSearchData()
        },
        methods: {
            refrashSearchData() {
                if (this.$route.query.q && this.$route.query.filter) {
                        
                    this.renderVideoList = this.videoItems

                    this.renderVideoList.map(video => {
                        for(const user of users) {
                            if(user.userId === video.userId) {
                                video.userName = user.firstName
                            }
                        }
                    })

                    switch (this.$route.query.filter) {
                    case 'Coach': 
                        this.renderVideoList = this.renderVideoList.filter(video =>
                            video.userName.toLowerCase().includes(this.$route.query.q.toLowerCase())
                        )
                        break
                    case 'Streams': 
                        this.renderVideoList = this.renderVideoList.filter(video => 
                            video.title.toLowerCase().includes(this.$route.query.q.toLowerCase())
                        )
                        break
                    case 'Categories': 
                        this.renderVideoList = this.renderVideoList.filter(video =>
                            video.category.toLowerCase().includes(this.$route.query.q.toLowerCase())
                        )
                        break
                    default: {
                        let allResults = []
                        for(const video of this.renderVideoList) {
                            if(video.userName.toLowerCase().includes(this.$route.query.q.toLowerCase())) {
                                allResults.push(video)
                            } else if(video.title.toLowerCase().includes(this.$route.query.q.toLowerCase())) {
                                allResults.push(video)
                            } else if(video.category.toLowerCase().includes(this.$route.query.q.toLowerCase())) {
                                allResults.push(video)
                            }
                        }
                        this.renderVideoList = allResults
                    }
                    }
                    this.renderVideoList = this.videoItems.slice(0, this.videoItemsCount)


                    // QUESTION - почему не сработал false?
                    // this.renderVideoList.filter(video => {
                    //     if(video.userName.toLowerCase().includes(this.$route.query.q.toLowerCase())) {
                    //         return false
                    //     } else if(video.title.toLowerCase().includes(this.$route.query.q.toLowerCase())) {
                    //         return false
                    //     } else if(video.category.toLowerCase().includes(this.$route.query.q.toLowerCase())) {
                    //         return false
                    //     }
                    // })

                    // this.renderVideoList.filter(video => {
                    //     return video.userName.toLowerCase().includes(this.$route.query.q.toLowerCase()) ||
                    //         video.title.toLowerCase().includes(this.$route.query.q.toLowerCase()) ||
                    //         video.category.toLowerCase().includes(this.$route.query.q.toLowerCase())
                    // })
                    
                }
            },
            getWatchingNowCount(videoId) {
                const videoItem = this.watchingNowApi.find(
                    videoApiItem => videoApiItem.videoId == videoId
                )

                let formatedNumber = videoItem.watchingNow.toString().split(".")
                formatedNumber[0] = formatedNumber[0].replace(
                    /\B(?=(\d{3})+(?!\d))/g,
                    " "
                )
                return formatedNumber.join(".")
            },
            currentUser(userId) {
                return this.users.find(user => user.userId == userId)
            },
            getScheduledVideo(videoId) {
                return this.scheduledVideos.find(
                    scheduledVideo => scheduledVideo.videoId == videoId
                )
            },
            mouseDownBlur(event, videoItem) {
                if(event.target.getAttribute("class") === "like-block-icon-svg") {
                    videoItem.liked = !videoItem.liked
                } else {
                    event.currentTarget.classList.add("video-item-blur-wrap")
                }
            },
            mouseUpBlur(event) {
                event.currentTarget.classList.remove("video-item-blur-wrap")
            },
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/elements/small-video-block.scss" />