#categories-page {
  padding: 0 2.6rem;
}
h1.page-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.16px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 0;
}
.category-list {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 18px;
  margin-top: 16px;
}

// search block
#categories-page input[type="text"].filter-search {
  font-size: 18px;
  line-height: 24px;
  color: #bbbcbc;
  letter-spacing: 0.16px;
  color: #6f6f6f;
  background: url("/img/app/layout/search-icon-gray-light.svg"), #ffffff;
  background-repeat: no-repeat;
  background-position: 28px calc(50% + 2px);
  width: 100%;
  border: 1px solid #bbbcbc;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 8px 8px 8px 56px;
  position: static;
  height: 40px;
}
#categories-page input[type="text"].filter-search-full {
  border-radius: 28.5px;
}
#categories-page input[type="text"].filter-search::placeholder {
  color: #bbbcbc;
}
#categories-page input[type="text"].filter-search:focus::placeholder {
  color: #bbbbbb;
}
#categories-page input[type="text"].filter-search:focus {
  border: 3px solid #d1faff;
  background-position: 26px calc(50% + 2px);
  padding-left: 54px;

  color: #000;
}
#categories-page input[type="text"].filter-search-full:focus {
  border-radius: 28.5px;
}
.filter-search-wrap {
  margin-top: 48px;
  display: flex;
  position: relative;
}
.clear-search-icon {
  position: absolute;
  right: 32px;
  top: 23px;
  cursor: pointer;
  top: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
}
// filter block
.filter-categories {
  display: flex;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000;
  align-items: center;
  padding: 4px 30px 4px 24px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #bbbcbc;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 24px;
}
.filter-categories-left,
.filter-categories-right {
  display: flex;
  align-items: center;
}
.filter-categories-left-item-2 {
  margin-right: 24px;
}
.filter-categories-right-item {
  border-left: 1.5px solid #bbbcbc;
  padding-left: 24px;
  width: 118px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.filter-categories-right-item button {
  display: flex;
  align-items: center;
}
.filter-categories-right-text {
  align-self: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000;
}
.filter-categories-left-item {
  position: relative;
  width: 105px;
  display: flex;
  justify-content: center;
}
.filter-categories-left-item-text {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-size: 19px;
  line-height: 24px;
  height: 24px;
  padding: 0px 36px 0 27px;
}
.filter-categories-left-item-active .filter-categories-left-item-text {
  background: #01b7d0;
  padding: 0px 36px 0 27px;
  border-radius: 25px;
  color: #ffffff;
  display: block;
}
.icon-close {
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: calc(50% - 6px);
  z-index: 3;
  height: 11px;
  width: 11px;
}
.icon-arrow-down-gray {
  margin-left: 15px;
  cursor: pointer;
}
img.icon-arrow-down-gray {
  width: 12px;
}
.sort-select-wrap {
  width: 182px;
  height: 208px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  position: absolute;
  top: 50px;
  z-index: 1;
  padding: 9px 33px;
  right: 0;
}
.sort-list-item {
  cursor: pointer;
  margin: 12px 0;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #c4c4c4;
  width: 100%;
  text-align: left;
}
.sort-list-item:hover {
  color: #000;
}
.sort-list-item-active {
  color: #000;
}

/* category card */
.category-top-block {
  height: 138px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 16px;
  border-radius: 14px 14px 0px 0px;
}
.category-top-block-flag {
  border-radius: 0px 27px 27px 0px;
  height: 18px;
  width: 58px;
  font-weight: bold;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0.16px;
  align-items: center;
  display: flex;
}
.category-top-block-flag-new {
  padding-left: 16px;
  background: #ff0000;
  color: #ffffff;
  width: 42px;
}
.category-top-block-flag-popular {
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #ff0000;
  width: 47px;
}
.category-bot-block {
  height: 125px;
  box-sizing: border-box;
  background: #0099ae;
  box-shadow: 6px 9px 30px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 14px 14px;
  padding: 10px 17px 23px 16px;
  display: flex;
  justify-content: space-between;
}
.video-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.16px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}
.video-description {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.16px;
  color: #ffffff;
  margin-top: 4px;
}
.like-block svg {
  width: 17px;
  height: 15px;
  cursor: pointer;
}
.like-block-icon {
  opacity: 0.6;
  --skin-color: #fff;
}
.like-block-icon-active {
  opacity: 1;
  --skin-color: #ff0000;
}
.category-bot-right-block {
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  margin-top: 5px;
  justify-content: flex-end;
}
.icon-arrow-category {
  cursor: pointer;
  width: 23px;
  height: 11px;
}

.cat-item-blur-wrap .category-card-wrap-over {
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  pointer-events: none;
  border-radius: 14px;
}

// animation spenner
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: scale(1);
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

svg.arrow-down {
  width: 12px;
  height: 8px;
  --skin-color: #bbbcbc;
  margin-left: 18px;
  cursor: pointer;
}
.icon-arrow-down-gray {
  --skin-color: #c4c4c4;
  width: 12px;
  height: 8px;
}
.sort-list-item:hover .icon-arrow-down-gray {
  --skin-color: black;
}
