.header-wrap {
  border-bottom: 1px solid #bbbcbc;
  background-color: #fff;
  padding: 0 48px;
}
.header-sticky {
  position: sticky;
  top: 0;
  z-index: 9;
}
.header {
  margin-bottom: 0;
  background: #ffffff;
  display: flex;
  height: 80px;
  background-color: #fff;
  justify-content: space-between;
}
.header-left-block {
  display: flex;
  align-items: center;
}
.header-right-block {
  display: flex;
  align-items: center;
  position: relative;
}
.logo {
  color: #000000;
  cursor: pointer;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  margin-right: 96px;
}
.user-menu-list {
  width: 294px;
  position: absolute;
  top: 68px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 14px 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgba(32, 32, 32, 0.1);
  border-radius: 16px;
}
.user-menu-item {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.16px;
  color: #000;
  margin: 6px 0;
  align-self: center;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.user-menu-item img {
  margin-right: 24px;
  width: 24px;
  height: 24px;
}
.user-menu-item:hover,
.user-menu-list .router-link-exact-active {
  color: #000;
}
.user-menu-delimiter {
  background-color: #e6e6e6;
  height: 1px;
  width: 100%;
  border: none;
  margin: 14px 0 14px;
}
// search
input[type="text"].search {
  height: 40px;
  width: 276px;
  border: 1px solid #bbbcbc;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #6f6f6f;
  padding-right: 10px;
  padding-left: 56px;
  background: url("/img/app/layout/search-icon-gray-light.svg"), #fff;
  background-repeat: no-repeat;
  background-position: 28px 50%;
  margin-bottom: 0;
}
input[type="text"].search::placeholder {
  color: #bbbcbc;
}
input[type="text"].search:focus::placeholder {
  color: #bbbbbb;
  font-weight: 400;
}
input[type="text"].search:focus {
  border: 3px solid #d1faff;
  background-position: 26px 50%;
  padding-left: 54px;
}
.header-search-wrap {
  position: relative;
}
.header-search-result-list {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  width: 331px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  box-shadow: 5px 8px 20px rgb(0 0 0 / 10%);
  border-radius: 18px;
  padding: 24px 0;
}
.header-search-result-list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(32, 32, 32, 0.8);
  text-align: left;
  padding: 4px 24px 2px;
  cursor: pointer;
  max-height: 65px;
  width: 100%;
  margin: 6px 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-search-result-title {
  padding: 32px 24px 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #202020;
}
.header-search-result-title:first-child {
  padding-top: 0;
}
.header-search-result-list-item:hover {
  color: #000;
  background-color: #f5f5f5;
}
.header-search-see-all {
  padding: 0 24px;
  display: block;
  cursor: pointer;
  margin: 8px 0;
  font-size: 14px;
  line-height: 16px;
  color: rgba(32, 32, 32, 0.4);
}
// user block
.header-btn {
  background: #f2f2f2;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  margin-right: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-btn-user {
  font-size: 22px;
  color: #bbbcbc;
}

.header-btn .video-icon {
  --skin-color: #bbbcbc;
  height: 24px;
  width: 24px;
}
.user-menu-item .video-icon,
.user-menu-item .user-plus-icon {
  --skin-color: #868686;
  height: 24px;
  width: 24px;
  margin-right: 24px;
}
.notification-count {
  position: absolute;
  padding: 0px 4px;
  height: 16px;
  right: -6px;
  top: 2px;
  background: #ff0030;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.16px;
  color: #ffffff;
}
.header-auth-wrap {
  display: flex;
  justify-content: flex-end;
}
.auth-block {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
  padding-top: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.auth-user-block {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-left: 24px;
}
.auth-user-block img {
  height: 48px;
  width: 48px;
  border-radius: 24px;
}
.user-icon {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  margin-right: 4px;
}
.user-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #000000;
  align-self: center;
  margin-left: 15px;
}
.auth-title {
  font-weight: 600;
  font-size: 18px;
  // line-height: 24px;
  color: #bbbcbc;
}
.sign-up-title {
  background-color: #01b7d0;
  color: #fff;
  margin-left: 24px;
  padding: 0 24px;
  height: 40px;
  border-radius: 27.5px;
}

// X-Large
@media all and (min-width: 1281px) and (max-width: 1584px) {
  :root {
    --search-border-width: 3px;
  }
  .header-wrap {
    padding: 0 24px;
  }
  .header {
    height: 62px;
  }
  .logo {
    font-size: 32px;
    line-height: 40px;
    margin-right: 70px;
  }
  input[type="text"].search {
    width: 182px;
    height: 32px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 38px;
    background-position: 16px 50%;
    background-size: 12px;
  }
  input[type="text"].search:focus {
    background-position: 14px 50%;
    padding-left: 36px;
  }
  .auth-user-block img {
    height: 41px;
    width: 41px;
  }
  .user-icon {
    margin-left: 11px;
    width: 24px;
    height: 24px;
    margin-right: 7px;
    margin-top: -2px;
  }
  .auth-title {
    font-size: 16px;
  }
  .sign-up-title {
    padding: 0 20px;
    margin-left: 18px;
    height: 32px;
  }
  .user-menu-list {
    width: 245px;
    top: 56px;
    padding: 19px 24px;
  }
  .user-menu-item {
    font-size: 16px;
  }
  .header-search-result-list {
    width: 245px;
    padding: 16px 0;
    top: 36px;
  }
  .header-btn {
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-btn img {
    height: 20px;
    width: 20px;
  }
  .header-btn .video-icon {
    height: 20px;
    width: 20px;
  }
  .notification-count {
    font-size: 10px;
    line-height: 13px;
    padding: 1px 4px;
    height: 13px;
    right: -9px;
    top: 1px;
  }
  .auth-user-block {
    margin-left: 22px;
  }
  .user-menu-delimiter {
    margin: 11px 0;
  }
  .user-menu-item {
    margin: 5px 0;
  }
  .header-search-result-title {
    padding: 20px 16px 8px;
    font-size: 16px;
  }
  .header-search-result-list-item {
    font-size: 14px;
    padding: 4px 16px 2px;
  }
  .header-search-see-all {
    padding: 0 16px;
    margin: 8px 0;
    font-size: 12px;
  }
}
// Large
@media all and (min-width: 1057px) and (max-width: 1280px) {
  .header-wrap {
    padding: 0 20px;
  }
  .header {
    height: 48px;
  }
  .logo {
    font-size: 30px;
    line-height: 38px;
    margin-right: 54px;
  }
  input[type="text"].search {
    width: 152px;
    height: 26px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 37px;
    background-position: 17px 50%;
    background-size: 12px;
  }
  input[type="text"].search:focus {
    padding-left: 36px;
    background-position: 16px 50%;
    border-width: 2px;
  }
  .auth-user-block {
    margin-left: 16px;
  }
  .auth-user-block img {
    height: 36px;
    width: 36px;
  }
  .auth-title {
    font-size: 14px;
    // line-height: 18px;
  }
  .sign-up-title {
    margin-left: 14px;
    padding: 0 16px;
    height: 26px;
  }
  .auth-block {
    font-size: 15px;
  }
  .user-icon {
    margin-left: 10px;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    margin-top: -4px;
  }
  .user-menu-list {
    padding: 10px 20px;
    top: 46px;
    width: 200px;
  }
  .user-menu-item {
    font-size: 14px;
    line-height: 18px;
    color: #000;
    margin: 6px 0;
  }
  .header-search-see-all {
    font-size: 12px;
    line-height: 16px;
    padding: 3px 16px 0;
    margin: 0;
  }
  .header-search-result-list-item {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 16px 2px;
    margin: 5px 0 6px;
  }
  .header-search-result-list {
    width: 200px;
    padding: 16px 0;
    top: 30px;
  }
  .header-wrap {
    padding: 0 20px;
  }
  .header-btn {
    border-radius: 18px;
    width: 36px;
    height: 36px;
    margin-right: 14px;
  }
  .header-btn img {
    height: 18px;
    width: 18px;
  }
  .header-btn .video-icon {
    height: 18px;
    width: 18px;
  }
  .notification-count {
    padding: 1px 3px 1px 4px;
    height: 11px;
    right: -6px;
    top: 2px;
    font-size: 9px;
    line-height: 10px;
  }
  .user-menu-item img,
  .user-menu-item .video-icon,
  .user-menu-item .user-plus-icon {
    margin-right: 20px;
    width: 18px;
    height: 18px;
  }
  .user-menu-delimiter {
    margin: 10px 0;
  }
  .header-search-result-title {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 16px 9px;
  }
}
// Medium
@media all and (min-width: 673px) and (max-width: 1056px) {
  .header-wrap {
    padding: 0 16px;
  }
  .header {
    height: 33px;
  }
  .logo {
    font-size: 22px;
    line-height: 30px;
    margin-right: 40px;
  }
  input[type="text"].search {
    height: 17px;
    width: 115px;
    font-size: 10px;
    line-height: 12px;
    padding-left: 24px;
    background-size: 8px;
    background-position: 10px 50%;
  }
  input[type="text"].search:focus {
    padding-left: 23px;
    background-position: 9px 50%;
    border-width: 2px;
  }
  .auth-title {
    font-size: 12px;
    // line-height: 14px;
  }
  .sign-up-title {
    margin-left: 10px;
    padding: 0 8px;
    height: 18px;
  }
  .header-search-result-title {
    font-size: 12px;
    padding: 8px 16px 5px;
  }
  .header-search-result-list-item {
    font-size: 10px;
    line-height: 16px;
    margin: 3px 0 4px;
    padding: 4px 16px 2px;
  }
  .header-search-see-all {
    font-size: 10px;
    line-height: 16px;
    padding: 3px 16px 0;
    margin: 0;
  }
  .header-search-result-list {
    width: 140px;
    padding: 12px 0;
    top: 23px;
  }
  .header-btn {
    border-radius: 12px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .header-btn img {
    height: 12px;
    width: 12px;
  }
  .header-btn .video-icon {
    height: 12px;
    width: 12px;
  }
  .auth-user-block img {
    height: 24px;
    width: 24px;
    border-radius: 12px;
  }
  .notification-count {
    padding: 1px 3px 1px 4px;
    height: 11px;
    right: -10px;
    top: -2px;
    font-size: 9px;
    line-height: 10px;
  }
  .auth-user-block {
    margin-left: 12px;
  }
  .user-menu-list {
    padding: 7px 16px;
    top: 32px;
    width: 140px;
  }
  .user-menu-item {
    font-size: 12px;
    line-height: 18px;
    margin: 3px 0;
  }
  .user-menu-item img,
  .user-menu-item .video-icon,
  .user-menu-item .user-plus-icon {
    margin-right: 16px;
    width: 14px;
    height: 14px;
  }
  .user-menu-delimiter {
    margin: 7px 0;
  }
}
