.side-bar {
  padding: 32px 57px 24px 52px;
  box-shadow: 9px 6px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.side-bar-menu {
  display: flex;
  flex-wrap: wrap;
}
.side-bar-menu-item {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  color: #202020;
  margin: 16px 0;
  cursor: pointer;
}
.side-bar-menu-item .side-bar-menu-item {
  margin: 0;
}
.no-have-subs {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(32, 32, 32, 0.5);
  margin-bottom: 16px;
}
.side-bar-menu-item img {
  width: 24px;
  height: 24px;
}
.collapse-sidebar .side-bar-menu-item img {
  margin-right: 24px;
}
.side-bar-menu-item .user-plus-icon {
  --skin-color: black;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.subs-list-item {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 100%;
}
.subs-list-avatar {
  margin-right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.subs-list-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(32, 32, 32, 0.8);
}
.subs-online-ico,
.subs-offline-ico {
  width: 12px;
  height: 12px;
  background-color: #ff0030;
  border-radius: 6px;
  margin-right: 8px;
}
.subs-offline-ico {
  background-color: #aaaaaa;
}
.subs-list-coach {
  display: flex;
  align-items: center;
}
.subs-count {
  display: flex;
  align-items: center;
  width: 50px;
}
.subs-list {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
.subs-count-value {
  font-size: 14px;
  line-height: 16px;
  color: rgba(32, 32, 32, 0.6);
}
.side-bar-menu-item .arrow-down-icon {
  height: 9px;
  width: 15px;
  --skin-color: black;
  margin-left: auto;
}
.side-bar-menu-item .arrow-left,
.side-bar-menu-item .arrow-right {
  margin-left: auto;
  display: none;
}
.arrow-down-icon-up {
  transform: rotate(180deg);
}
.subs-show-more {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(32, 32, 32, 0.6);
  cursor: pointer;
}
.subs-show-more-space {
  margin-top: 16px;
  width: 100%;
}
.footer-menu {
  display: flex;
  flex-direction: column;
}
.footer-menu-wrap {
  margin-top: 6px;
}
.footer-menu-wrap:nth-child(4),
.footer-menu-wrap:nth-child(8) {
  margin-top: 16px;
}
.footer-menu-wrap a {
  font-size: 14px;
  line-height: 16px;
  color: rgba(32, 32, 32, 0.6);
}
.side-bar-menu-item .toggle-side-bar {
  display: none;
}
.footer-copy-right {
  font-size: 14px;
  line-height: 16px;
  color: rgba(32, 32, 32, 0.6);
  margin-top: 16px;
}

// FOR LAPTOP-L
@media all and (min-width: 1281px) and (max-width: 1584px) {
  .side-bar {
    padding: 32px 32px 24px 28px;
  }
  .side-bar-menu-item {
    font-size: 16px;
    margin: 14px 0;
  }
  .subs-list-name {
    font-size: 14px;
  }
  .subs-list-avatar {
    margin-right: 12px;
  }
  .subs-online-ico,
  .subs-offline-ico {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
  .subs-count-value {
    font-size: 12px;
  }
  .subs-show-more {
    font-size: 12px;
  }
  .footer-menu-wrap a {
    font-size: 12px;
  }
}
@media all and (min-width: 1057px) and (max-width: 1280px) {
  .toggle-side-bar .arrow-right {
    display: block;
  }
  .toggle-side-bar .arrow-left {
    transform: rotate(180deg);
    display: block;
  }
  .subs-list-item:first-child {
    margin-top: 0;
  }
  .side-bar {
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 100%;
    width: 24px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .collapse-sidebar {
    width: 216px;
    padding-left: 29px;
    padding-right: 29px;
  }
  .side-bar-menu-item .user-plus-icon {
    margin-right: 0;
  }
  .collapse-sidebar .user-plus-icon {
    margin-right: 24px;
  }
  .subs-list a:first-child {
    margin-top: 4px;
  }
  .subs-list-avatar {
    margin-right: 0;
  }
  .collapse-sidebar .subs-list-avatar {
    margin-right: 12px;
  }
  .subs-show-more {
    margin: 16px auto;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    color: rgba(32, 32, 32, 0.6);
    cursor: pointer;
  }
  .collapse-sidebar .subs-show-more {
    margin: 16px 0;
  }
  .side-bar-menu-item {
    font-weight: 700;
    font-size: 16px;
  }
  .subs-list-name {
    font-size: 14px;
  }
  .subs-count-value {
    font-size: 12px;
  }
  .subs-online-ico,
  .subs-offline-ico {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}
// Medium
@media all and (min-width: 673px) and (max-width: 1056px) {
  .toggle-side-bar .arrow-down-icon {
    height: 7px;
    width: 11px;
    display: block;
    --skin-color: #202020;
    transform: rotate(270deg);
  }
  .toggle-side-bar .arrow-down-icon-left {
    transform: rotate(90deg);
  }
  .subs-list-item:first-child {
    margin-top: 0;
  }
  .side-bar {
    position: absolute;
    z-index: 1;
    background: #fff;
    height: 100%;
    width: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 48px;
  }
  .collapse-sidebar {
    width: 206px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
    box-sizing: border-box;
  }
  .side-bar-menu-item .user-plus-icon {
    margin-right: 0;
  }
  .collapse-sidebar .user-plus-icon {
    margin-right: 14px;
  }
  .side-bar-menu-item {
    margin: 12px 0;
  }
  .subs-list-item {
    margin-top: 7px;
  }
  .toggle-side-bar .arrow-right {
    display: block;
  }
  .toggle-side-bar .arrow-left {
    transform: rotate(180deg);
    display: block;
  }
  .subs-list-item:first-child {
    margin-top: 0;
  }
  .side-bar-menu-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 12px 0;
  }
  .subs-list-name {
    font-size: 12px;
    line-height: 16px;
  }
  .cats-list .subs-list-name {
    line-height: 20px;
  }
  .subs-show-more {
    margin-top: 18px;
    margin-bottom: 12px;
    font-size: 10px;
    height: 21px;
  }
  .subs-show-more img {
    height: 21px;
    width: 16px;
  }
  .footer-menu-wrap a {
    font-size: 12px;
    line-height: 18px;
  }
  .side-bar-menu-item img {
    width: 16px;
    height: 16px;
  }
  .collapse-sidebar .side-bar-menu-item img {
    margin-right: 14px;
  }
  .side-bar-menu-item .user-plus-icon {
    width: 16px;
    height: 16px;
  }
  .subs-list-avatar {
    margin-right: 0;
    width: 16px;
    height: 16px;
  }
  .collapse-sidebar .subs-list-avatar {
    margin-right: 6px;
  }
  .subs-count-value {
    font-size: 10px;
  }
  .subs-online-ico,
  .subs-offline-ico {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
  .side-bar-menu-item .arrow-down-icon {
    height: 7px;
    width: 12px;
  }
  .subs-count {
    width: 40px;
  }
}
