<template>
    <div id="app">
        <Header />

        <div v-if="showSidebar" class="page-layout">
            <sideBar v-if="showSidebar" />
            <router-view />
        </div>

        <div v-else>
            <router-view />
        </div>
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import Header from '@/components/layout/header'
    import sideBar from '@/components/sideBar'

    export default {
        name: 'App',
        components: {
            Header,
            sideBar
        },
        computed: {
            ...mapState(['showSidebar'])
        },
        created() {
            this.$store.commit('isAuthorized')
            this.$store.dispatch('setSubscriptions')
        },
    }
</script>

<style lang="scss" src="@/assets/scss/main.scss" />
