<template>
    <div class="auth-block-2 auth-forgot-password">
        <button class="auth-close" @click="closePopup">
            <img src="/img/app/layout/close.svg" alt="Close">
        </button>
        <div class="auth-page-title">Forgot Password?</div>
    
        <div class="auth-text">
            Enter the email address you used when registering and we will send you instructions on how to change your password or enter your phone number and we will send you an SMS with a code
        </div>
    
        <div class="auth-page-form">
            <input v-model="$v.registrationData.phoneOrEmail.$model" type="text" placeholder="Phone Number or Email"
                   name="phoneOrEmail" :class="['auth-page-input', {
                       'auth-page-input-error': $v.registrationData.phoneOrEmail.$error,
                       'auth-page-input-error-first': !firstInputEmail
                   }]" @blur="emailBlurValidete">
                
            <div v-if="firstInputEmail && $v.registrationData.phoneOrEmail.$error">
                <div :class="['animation-block auth-page-text-error', { 'start-animation': $v.registrationData.phoneOrEmail.$error }]">
                    {{ emailErrorText() }}
                </div>
            </div>
        </div>

        <div class="auth-btn-wrap">
            <button class="auth-btn auth-btn-send" :disabled="$v.registrationData.$invalid">Send a code</button>
        </div>

        <div class="have-accaunt-text">
            Don’t have an account yet?
            <button @click="goToSignUp()">Sign up</button>
        </div>
    </div>
</template>

<script>
    import { required, email } from "vuelidate/lib/validators"

    export default {
        name: "SignIn",
        data() {
            return {
                registrationData: {
                    phoneOrEmail: "",
                },
                firstInputEmail: false,

                showSocialList: false,
                socialList: ["Twitter", "Facebook", "Gmail"],

                onSend: false,
                forgot: {
                    email: ''
                },
            }
        },
        methods: {
            emailErrorText() {
                if(!this.$v.registrationData.phoneOrEmail.required) {
                    return 'Field is required'
                } else if(!this.$v.registrationData.phoneOrEmail.mail) {
                    return 'Must be a valid email'
                }
            },
            emailBlurValidete() {
                this.firstInputEmail = true
                this.$v.registrationData.phoneOrEmail.$touch()
            },
            goToSignUp() {
                this.$emit('showAuthPopup', 'signUp')
            },
            goToForgotPassword() {
                this.$emit('showAuthPopup', 'forgotPassword')
            },
            closePopup() {
                this.$emit('showAuthPopup', false)
            },
            async recovery() {
                if (this.onSend) {
                    return false
                }
                this.onSend = true
                await this.$api.profile.requestResetPassword(this.forgot)
                this.onSend = false
            },
        },
        validations: {
            registrationData: {
                phoneOrEmail: {
                    email,
                    required,
                },
            },
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/auth/forgot-password.scss" />
