<template>
    <div class="auth-block-2 auth-sign-in">
        <button class="auth-close" @click="closePopup">
            <img src="/img/app/layout/close.svg" alt="Close">
        </button>
        <div class="auth-page-title">Sign in</div>
    
        <div class="auth-page-form">
            <input v-model="$v.userData.email.$model" type="text" placeholder="Phone Number or Email"
                   name="email" :class="['auth-page-input', {
                       'auth-page-input-error': $v.userData.email.$error,
                       'auth-page-input-error-first': !firstInputEmail
                   }]" @blur="emailBlurValidete">
                
            <div v-if="(firstInputEmail && $v.userData.email.$error) || userNotFound">
                <div :class="['animation-block auth-page-text-error', { 'start-animation': $v.userData.email.$error || userNotFound }]">
                    {{ emailErrorText() }}
                </div>
            </div>
            <input v-model="$v.userData.password.$model" type="text" placeholder="Password"
                   name="password" :class="['auth-page-input', {
                       'auth-page-input-error': $v.userData.password.$error,
                       'auth-page-input-error-first': !firstInputPassword
                   }]" @blur="passwordBlurValidete">
                
            <div v-if="(firstInputPassword && $v.userData.password.$error) || passwordIncorrect">
                <div :class="['animation-block auth-page-text-error', { 'start-animation': $v.userData.password.$error || passwordIncorrect }]">
                    {{ passwordErrorText() }}
                </div>
            </div>
        </div>

        <div class="auth-btn-wrap">
            <button class="auth-btn btn-sign-in" :disabled="$v.userData.$invalid" @click="authorization">
                Sign in
            </button>
        </div>

        <div class="title-with-line"><span>OR</span></div>
        <div class="auth-btn-wrap">
            <button class="auth-btn auth-btn-soc" @click="showSocialList = !showSocialList">
                Sign in with Social Network
                <svg class="icon-down">
                    <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                </svg>
            </button>
        </div>
        <div class="auth-social-list-wrap">
            <div v-if="showSocialList" v-click-outside="() => showSocialList = false" class="auth-social-list">
                <button v-for="(socialItem, idx) in socialList" :key="idx" class="auth-social-list-item" @click="signUpSocial(socialItem.name)">
                    <svg class="soc-icon">
                        <use :xlink:href="`/img/app/layout/${socialItem.iconName}.svg#${socialItem.iconName}`" />
                    </svg>
                    {{ socialItem.name }}
                </button>
                <GoogleLogin :params="params" :on-success="onGoogleLoginSuccess">
                    <svg class="soc-icon">
                        <use xlink:href="/img/app/layout/gmail-ico.svg#gmail-ico" />
                    </svg>
                    Gmail
                </GoogleLogin>
            </div>
        </div>
        <div class="forgot-password-wrap">
            <button class="forgot-password" @click="goToForgotPassword()">
                Forgot password?
            </button>
        </div>

        <div class="have-accaunt-text">
            Don’t have an account yet?
            <button @click="goToSignUp()">Sign up</button>
        </div>
    </div>
</template>

<script>
    import { required, email } from "vuelidate/lib/validators"
    import GoogleLogin from 'vue-google-login'

    export default {
        name: "SignIn",
        components: {
            GoogleLogin
        },
        data() {
            
            return {
                userData: {
                    email: "ivan14@mail.ru",
                    password: "Password1!",
                },
                // userData: {
                //     email: "",
                //     password: "",
                // },

                userNotFound: false,
                passwordIncorrect: false,

                firstInputEmail: false,
                firstInputPassword: false,

                showSocialList: false,
                socialList: [
                    { name: 'Twitter', iconName: 'twitter-ico' },
                    { name: 'Facebook', iconName: 'facebook-ico' },
                ],
                params: { client_id: '228279371484-2fie2qc2r98lekbgqold9f87n2eshlpe.apps.googleusercontent.com' },

                onSend: false,
            }
        },
        async mounted() {
            await this.loadFacebookSDK(document, "script", "facebook-jssdk")
            await this.initFacebook()
        },
        methods: {
            async onGoogleLoginSuccess(googleUser) {
                let res = await this.$api.signupGoogle(googleUser.qc.access_token)
                if (res instanceof Error) {
                    return res
                }

                res = await this.$api.loginGoogle(res)
                if(res?.email) {
                    this.$emit('showAuthPopup', false)
                }
            },
            async authorization() {
                if (this.onSend) return false

                this.userNotFound = false
                this.passwordIncorrect = false

                this.onSend = true

                const data = {
                    email: this.userData.email,
                    password: this.userData.password
                }

                let res = await this.$api.login(data)

                if (res.response?.data.message === 'error.user.notFound') {
                    this.userNotFound = true
                    this.onSend = false
                    return false
                } else if (res.response?.data.message === 'error.password.incorrect') {
                    this.passwordIncorrect = true
                    this.onSend = false
                    return false
                }

                if(res?.user) {
                    this.$emit('showAuthPopup', false)
                }

                this.onSend = false
            },
            emailErrorText() {
                if(!this.$v.userData.email.required) {
                    return 'Field is required'
                } else if(!this.$v.userData.email.email) {
                    return 'Must be a valid email'
                } else if(this.userNotFound) {
                    return 'User with this email does not exist' 
                }
            },
            passwordErrorText() {
                if(!this.$v.userData.password.required) {
                    return 'Field is required'
                } else if(this.userNotFound) {
                    return 'User with this email does not exist' 
                } else if(this.passwordIncorrect) {
                    return 'Incorrect password'
                }
            },
            emailBlurValidete() {
                this.firstInputEmail = true
                this.$v.userData.email.$touch()
            },
            passwordBlurValidete() {
                this.firstInputPassword = true
                this.$v.userData.password.$touch()
            },
            goToSignUp() {
                this.$emit('showAuthPopup', 'signUp')
            },
            goToForgotPassword() {
                this.$emit('showAuthPopup', 'forgotPassword')
            },
            closePopup() {
                this.$emit('showAuthPopup', false)
            },
            signUpSocial(socialName) {
                if(socialName === 'Facebook') {
                    this.logInWithFacebook()
                }
            },
            async logInWithFacebook() {
                window.FB.login(async response => {
                    if (response) {
                        let res = await this.$api.signupFacebook(response.authResponse.accessToken)
                        if (res instanceof Error) {
                            return res
                        }

                        res = await this.$api.loginFacebook(res)
                        if(res?.email) {
                            this.$emit('showAuthPopup', false)
                        }
                    } else {
                        console.log("error")
                    }
                }, {scope: 'email'})
                
                return false
            },
            async initFacebook() {
                window.fbAsyncInit = function() {
                    window.FB.init({
                        appId: "164071352245227",
                        version: "v13.0"
                    })
                }
            },
            async loadFacebookSDK(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0]
                if (d.getElementById(id)) {
                    return
                }
                js = d.createElement(s)
                js.id = id
                js.src = "https://connect.facebook.net/en_US/sdk.js"
                fjs.parentNode.insertBefore(js, fjs)
            }
        },
        validations: {
            userData: {
                email: {
                    required,
                    email,
                },
                password: {
                    required
                }
            },
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/auth/sign-in.scss" />
