<template>
    <div class="auth-block-2">
        <button class="auth-close" @click="closePopup">
            <img src="/img/app/layout/close.svg" alt="Close">
        </button>
        <div class="auth-page-title">Sign up</div>
        <div class="auth-btn-wrap">
            <button class="auth-btn" @click="showSocialList = !showSocialList">
                <div class="auth-btn-text">Sign up with Social Network</div>
                <svg class="icon-down">
                    <use xlink:href="/img/app/layout/arrow-down.svg#arrow-down" />
                </svg>
            </button>
        </div>
        <div class="auth-social-list-wrap">
            <div v-if="showSocialList" v-click-outside="() => showSocialList = false" class="auth-social-list">
                <button v-for="(socialItem, idx) in socialList" :key="idx" class="auth-social-list-item" @click="signUpSocial(socialItem.name)">
                    <svg class="soc-icon">
                        <use :xlink:href="`/img/app/layout/${socialItem.iconName}.svg#${socialItem.iconName}`" />
                    </svg>
                    {{ socialItem.name }}
                </button>
                <GoogleLogin :params="params" :on-success="onGoogleLoginSuccess">
                    <svg class="soc-icon">
                        <use xlink:href="/img/app/layout/gmail-ico.svg#gmail-ico" />
                    </svg>
                    Gmail
                </GoogleLogin>
            </div>
        </div>

        <div class="title-with-line">OR</div>

        <div class="auth-page-form">
            <input v-model="$v.userData.emailOrPhone.$model" v-mask="dynamicMask" type="text"
                   placeholder="Phone Number or Email" name="email-or-phone" :class="['auth-page-input', {
                       'auth-page-input-error': isEmailHaveError(),
                       'auth-page-input-error-first': !firstInputEmail
                   }]"
                   @blur="emailBlurValidete">
                
            <div v-if="isEmailHaveError()">
                <div :class="['animation-block auth-page-text-error', {
                    'start-animation': isEmailHaveError(),
                }]">
                    {{ emailErrorText() }}
                </div>
            </div>

            <input v-model="$v.userData.fullName.$model" type="text" placeholder="Full Name"
                   name="fullName" :class="['auth-page-input', {
                       'auth-page-input-error': $v.userData.fullName.$error,
                       'auth-page-input-error-first': !firstInputFullName
                   }]" @blur="fullNameBlurValidete">
                
            <div v-if="firstInputFullName && $v.userData.fullName.$error">
                <div :class="['animation-block auth-page-text-error', { 'start-animation': $v.userData.fullName.$error }]">
                    {{ fullNameErrorText() }}
                </div>
            </div>

            <input v-model="$v.userData.username.$model" type="text" placeholder="Username"
                   name="username" :class="['auth-page-input', {
                       'auth-page-input-error': $v.userData.username.$error,
                       'auth-page-input-error-first': !firstInputUsername
                   }]" @blur="usernameBlurValidete">
                
            <div v-if="(firstInputUsername && $v.userData.username.$error) || usernameExist">
                <div :class="['animation-block auth-page-text-error', {
                    'start-animation': $v.userData.username.$error || usernameExist }]">
                    {{ usernameErrorText() }}
                </div>
            </div>
            <input v-model="$v.userData.password.$model" type="password" placeholder="Password"
                   name="password" :class="['auth-page-input', {
                       'auth-page-input-error': $v.userData.password.$error,
                       'auth-page-input-error-first': !firstInputPassword
                   }]" @blur="passwordBlurValidete">
                
            <div v-if="(firstInputPassword && $v.userData.password.$error)">
                <div :class="['animation-block auth-page-text-error', { 'start-animation': $v.userData.password.$error }]">
                    {{ passwordErrorText() }}
                </div>
            </div>
        </div>

        <div class="auth-btn-wrap">
            <button class="auth-btn auth-btn-disable btn-sign-up"
                    :disabled="submitEnable()" @click="send">
                Sign up
            </button>
        </div>

        <div class="auth-text">
            By signing up, you agree to our Terms, Data Policy and Cookies Policy
        </div>
        <div class="have-accaunt-text">
            Have an account?
            <button @click="goToSignIn()">Sign in</button>
            <!-- <br><button @click="sendCode">sendCode</button> -->
        </div>
    </div>
</template>

<script>
    import { required, email, minLength, maxLength } from "vuelidate/lib/validators"
    import GoogleLogin from 'vue-google-login'

    export default {
        name: "SignIn",
        components: {
            GoogleLogin
        },
        data() {
            return {
                // userData: {
                //     emailOrPhone: "", 
                //     fullName: "Ivan Petrov",
                //     username: "ivan",
                //     password: "Password1!",
                // },
                userData: {
                    emailOrPhone: "", 
                    fullName: "",
                    username: "",
                    password: "",
                },
                firstInputEmail: false,
                firstInputFullName: false,
                firstInputUsername: false,
                firstInputPassword: false,
                emailExist: false,
                usernameExist: false,

                showSocialList: false,

                dynamicMask: '',
                
                socialList: [
                    { name: 'Twitter', iconName: 'twitter-ico' },
                    { name: 'Facebook', iconName: 'facebook-ico' },
                ],
                params: { client_id: '228279371484-2fie2qc2r98lekbgqold9f87n2eshlpe.apps.googleusercontent.com' },

                onSend: false,
            }
        },
        watch: {
            'userData.emailOrPhone'() {
                if(this.userData.emailOrPhone.length >= 3 && this.isPhone()) {
                    this.dynamicMask = "+1 (###) ###-####"
                } else {
                    this.dynamicMask = ""
                }
            }
        },
        async mounted() {
            await this.loadFacebookSDK(document, "script", "facebook-jssdk")
            await this.initFacebook()
        },
        methods: {
            async onGoogleLoginSuccess(googleUser) {
                console.log("🚀 ~ file: signUp.vue ~ line 163 ~ onGoogleLoginSuccess ~ googleUser", googleUser)
                
                let res = await this.$api.signupGoogle(googleUser.qc.access_token)
                console.log("🚀 ~ file: signIn.vue ~ line 121 ~ onGoogleLoginSuccess ~ res", res)
                if (res instanceof Error) {
                    return res
                }

                res = await this.$api.loginGoogle(res)
                console.log("🚀 ~ file: signIn.vue ~ line 127 ~ onGoogleLoginSuccess ~ res", res)
                if(res?.email) {
                    this.$emit('showAuthPopup', false)
                }
            },
            submitEnable() {
                if(!this.$v.userData.fullName.$invalid && !this.$v.userData.username.$invalid && !this.$v.userData.password.$invalid) {
                    if(!this.$v.userData.emailOrPhone.$invalid || (this.isPhone() && this.userData.emailOrPhone.length >= 17)) {
                        return false
                    } else {
                        return true
                    }
                } else {
                    return true
                }
            },
            async sendCode() {
                await this.$api.getVerifyCode()
            },
            isEmailHaveError() {
                if(this.firstInputEmail) {
                    if((this.$v.userData.emailOrPhone.$error || this.emailExist) && !this.isPhone()) {
                        return true
                    }
                    if(this.isPhone() && this.userData.emailOrPhone.length < 17) {
                        return true
                    }
                }
            },
            isPhone() {
                return /^\d{1,3}/.test(this.userData.emailOrPhone) || /^\+/.test(this.userData.emailOrPhone)
            },
            async send() {
                if (this.onSend) return false

                this.emailExist = false
                this.usernameExist = false

                this.onSend = true

                if(this.isPhone()) {
                    console.log(this.userData.emailOrPhone)
                    console.log(this.userData.emailOrPhone.replaceAll(" ","").replace("(","").replace(")","").replace("-",""))
                }

                let res = await this.$api.signup(this.userData)

                if (res.response?.data.message === 'error.user.emailExist') {
                    this.emailExist = true
                    this.onSend = false
                    return false
                } else if (res.response?.data.message === 'error.user.usernameExist') {
                    this.usernameExist = true
                    this.onSend = false
                    return false
                }

                let data = {
                    email: res.user.email,
                    fullName: res.user.fullName,
                    username: res.user.username,
                    gender: res.user.gender,
                    password: this.userData.password
                }

                res = await this.$api.login(data)
                if(res?.user) {
                    this.$emit('showAuthPopup', false)
                }
                this.onSend = false
            },

            emailErrorText() {
                if(!this.$v.userData.emailOrPhone.required) {
                    return 'Field is required'
                } else if(!this.$v.userData.emailOrPhone.email && !this.isPhone()) {
                    return 'Must be a valid email or phone'
                } else if(this.isPhone() && this.userData.emailOrPhone.length < 17) {
                    return 'Field phone is not completely filled'
                } else if(this.emailExist) {
                    return 'This email is already registered on the site'
                }
            },
            fullNameErrorText() {
                if(!this.$v.userData.fullName.required) {
                    return 'Field is required'
                } else if(!this.$v.userData.fullName.fullName) {
                    return 'Full name must be only letters'
                }
            },
            usernameErrorText() {
                if(!this.$v.userData.username.required) {
                    return 'Field is required'
                } else if(!this.$v.userData.username.username) {
                    return 'Field can only be letters, underscore and period'
                } else if(!this.$v.userData.username.minLength) {
                    return 'Minimum allowable field length - ' + this.$v.userData.username.$params.minLength.min
                } else if(!this.$v.userData.username.maxLength) {
                    return 'Maximum allowable field length - ' + this.$v.userData.username.$params.maxLength.max
                }  else if(this.usernameExist) {
                    return 'this username is already registered on the site '
                }
            },
            passwordErrorText() {
                if(!this.$v.userData.password.required) {
                    return 'Field is required'
                } else if(!this.$v.userData.password.check) {
                    return 'The field must contain only letters, numbers and special characters(!@#$%^&*_-)'
                } else if(!this.$v.userData.password.minLength) {
                    return 'Minimum allowable field length - ' + this.$v.userData.password.$params.minLength.min
                } else if(!this.$v.userData.password.maxLength) {
                    return 'Maximum allowable field length - ' + this.$v.userData.password.$params.maxLength.max
                }
            },
            emailBlurValidete() {
                this.firstInputEmail = true
                this.$v.userData.emailOrPhone.$touch()
            },
            fullNameBlurValidete() {
                this.firstInputFullName = true
                this.$v.userData.fullName.$touch()
            },
            usernameBlurValidete() {
                this.firstInputUsername = true
                this.$v.userData.username.$touch()
            },
            passwordBlurValidete() {
                this.firstInputPassword = true
                this.$v.userData.password.$touch()
                console.l
            },
            goToSignIn() {
                this.$emit('showAuthPopup', 'signIn')
            },
            closePopup() {
                this.$emit('showAuthPopup', false)
            },

            signUpSocial(socialName) {
                if(socialName === 'Facebook') {
                    this.logInWithFacebook()
                }
            },

            async logInWithFacebook() {
                window.FB.login(async response => {
                    if (response) {
                        let res = await this.$api.signupFacebook(response.authResponse.accessToken)
                        if (res instanceof Error) {
                            return res
                        }

                        res = await this.$api.loginFacebook(res)
                        if(res?.email) {
                            this.$emit('showAuthPopup', false)
                        }
                    } else {
                        console.log("error")
                    }
                }, {scope: 'email'})
                
                return false
            },
            async initFacebook() {
                window.fbAsyncInit = function() {
                    window.FB.init({
                        appId: "164071352245227",
                        version: "v13.0"
                    })
                }
            },
            async loadFacebookSDK(d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0]
                if (d.getElementById(id)) {
                    return
                }
                js = d.createElement(s)
                js.id = id
                js.src = "https://connect.facebook.net/en_US/sdk.js"
                fjs.parentNode.insertBefore(js, fjs)
            }
        },
        validations: {
            userData: {
                emailOrPhone: {
                    required,
                    email,
                },
                fullName: {
                    required,
                    fullName(value) {
                        return /^[ а-яА-Яa-zA-Z]*$/.test(value)
                    },
                },
                username: {
                    required,
                    minLength: minLength(3),
                    maxLength: maxLength(16),
                    username(value) {
                        return /^[0-9a-zA-Z-_.]*$/.test(value)
                    }
                },
                password: {
                    required,
                    minLength: minLength(8),
                    maxLength: maxLength(50),
                    check(value) {
                        return /^[\w!#$%&*@^-]*$/.test(value)
                    }
                }
            },
        },
    }
</script>

<style lang="scss" scoped src="@/assets/scss/auth/sign-up.scss" />
