<template>
    <div>
        <div class="popular">
            <div class="big-video-wrap">
                <div v-for="(videoItem, idx) in videoItemsPremium" :key="idx"
                     class="big-video-item" :style="`background-image: url(${videoItem.thumbnail})`"
                     @mousedown="mouseDownBlur($event, videoItem)" @mouseup="mouseUpBlur($event, videoItem)">
                    <div class="big-video-item-blur">
                        <div class="card-big-video-left">
                            <button class="like-block">
                                <svg :class="['like-block-icon', { 'like-block-icon-active': videoItem.liked }]">
                                    <use class="like-block-icon-svg" xlink:href="/img/app/video/like-icon.svg#like-icon" />
                                </svg>
                            </button>
                            <div class="video-title">{{ videoItem.title }}</div>
                            <div class="video-des">{{ videoItem.description }}</div>
                        </div>

                        <div class="card-big-video-right">
                            <div class="big-video-user">
                                <img :src="currentUser(videoItem.userId).avatarImgUrl" alt="">
                                <span class="video-user-name">
                                    {{ currentUser(videoItem.userId).firstName }}  {{ currentUser(videoItem.userId).lastName }}
                                </span>
                            </div>
                            <div class="follow-btn">
                                <span>Follow</span>
                            </div>
                            <div v-if="videoItem.videoСondition == 'Planned'" class="big-video-condition">
                                <span class="big-video-planed-text">{{ getScheduledVideo(videoItem.videoId).dateStart }}</span>
                            </div>

                            <div class="tags-list">
                                <div
                                    v-for="(categoryTag, index) in videoItem.categoryTags"
                                    :key="index">
                                    #{{ categoryTag + '\xa0' }}  
                                </div>
                            </div>

                            <div class="subscribe-btn">
                                <span>Subscribe</span>
                            </div>
                            <div class="remind-btn">
                                <span>Remind</span>
                            </div>
                        </div>
                    </div>
                    <div class="big-video-item-blur-over" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { users, watchingNowApi, scheduledVideos } from '@/test-data.js'

    export default {
        name: "Planned",
        data() {
            return {
                videoItemsPremium: [
                    {
                        videoId: 9,
                        thumbnail: "/img/video/video-tmb-big-1.jpg",
                        flag: "New!",
                        videoСondition: "Planned",
                        liked: false,
                        categoryTags: ["Joga", "Meditation", "Easy", "Workshop"],
                        title: "Rīta joga visam ķermenim 5 min Vinyasa flow for full joga visa",
                        description: "The best morning workout you can do to wake up your body is a combination of heart raising exercises, strength and mixing up stretching yoga poses throughout the workout.",
                        userId: 2,
                    },
                    {
                        videoId: 10,
                        thumbnail: "/img/video/video-tmb-big-4.jpg",
                        flag: "Popular",
                        videoСondition: "Planned",
                        liked: false,
                        categoryTags: ["Joga", "Meditation", "Easy", "Workshop"],
                        title: "Rīta joga visam ķermenim 5 min Vinyasa flow for full joga visa",
                        description: "The best morning workout you can do to wake up your body is a combination of heart raising exercises, strength and mixing up stretching yoga poses throughout the workout.",
                        userId: 3,
                    },
                    {
                        videoId: 101,
                        thumbnail: "/img/video/video-tmb-big-4.jpg",
                        flag: "Popular",
                        videoСondition: "Planned",
                        liked: false,
                        categoryTags: ["Joga", "Meditation", "Easy", "Workshop"],
                        title: "Rīta joga visam ķermenim 5 min Vinyasa flow for full joga visa",
                        description: "The best morning workout you can do to wake up your body is a combination of heart raising exercises, strength and mixing up stretching yoga poses throughout the workout.",
                        userId: 2,
                    },
                ],
                users,
                watchingNowApi,
                scheduledVideos,

            }
        },
        methods: {
            getWatchingNowCount(videoId) {
                const videoItem = this.watchingNowApi.find(videoApiItem => videoApiItem.videoId == videoId)

                let formatedNumber = videoItem.watchingNow.toString().split(".")
                formatedNumber[0] = formatedNumber[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ")
                return formatedNumber.join(".")
            },
            currentUser(userId) {
                return this.users.find(user => user.userId == userId)
            },
            getScheduledVideo(videoId) {
                return this.scheduledVideos.find(scheduledVideo => scheduledVideo.videoId == videoId)
            },
            mouseDownBlur(event, videoItem) {
                if(event.target.getAttribute("class") === "like-block-icon-svg") {
                    videoItem.liked = !videoItem.liked
                } else {
                    event.currentTarget.classList.add("video-item-blur-wrap")
                }
            },
            mouseUpBlur(event) {
                event.currentTarget.classList.remove("video-item-blur-wrap")
            },
        }
    }
</script>

<style lang="scss" scoped src="@/assets/scss/elements/planned.scss" />
