#category-page {
  padding: 0 2.6rem;
}
h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.16px;
    color: #000000;
    margin: 26px 0 16px;
}
.see-all {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.16px;
  color: #000000;
  display: block;
  margin-top: 8px;
}

// filter category
.filter-categories {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #6f6f6f;
  // min-height: 119px;
}
.filter-categories-left,
.filter-categories-right {
  display: flex;
  margin: 48px 0 0;
  position: relative;
}
.filter-categories-left-item,
.filter-categories-right-item {
  cursor: pointer;
}
.filter-categories-left-item {
  position: relative;
}
.filter-categories-left-item-text {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
}
.filter-categories-left-item-active .filter-categories-left-item-text {
  border-bottom: 3px solid #6f6f6f;
}
.icon-close {
  cursor: pointer;
  position: absolute;
  right: -31px;
  top: 7px;
}
.filter-categories-left .filter-categories-left-item:last-child {
  margin-left: 70px;
}
.icon-arrow-up-down {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  top: 4px;
}
.sort-select-wrap {
    position: absolute;
    top: 32px;
    border: 1px solid black;
    z-index: 9;
    background: #ffffff9c;
    padding: 15px;
}
.sort-select-wrap div {
    cursor: pointer;
}
